@model SCIRA.Models.c_normatividad
@using SCIRA.Utilidades
@{
    ViewBag.Title = "Borrar";
}

<h2>@Strings.getMSG("Borrar")</h2>

<h3>@Strings.getMSG("EntidadDelete001")</h3>
<div>
    <h4>@Strings.getMSG("Menu015")</h4>
    <hr />

    <div class="row">
        <div class="col-xs-offset-2 col-xs-6 col-md-5">
            <p class="info">
                @Strings.getMSG("NormatividadDelete001")
            </p>
        </div>
    </div>

    <hr />

    <dl class="dl-horizontal">
        <dt>
            @Strings.getMSG("Clave")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cl_normatividad)
        </dd>

        <dt>
            @Strings.getMSG("Nombre")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nb_normatividad)
        </dd>

        <dt>
            @Strings.getMSG("SubProcesoCreate018")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ds_normatividad)
        </dd>

        <dt>
            @Strings.getMSG("NormatividadCreate003")
        </dt>

        <dd>
            @string.Format("{0:dd/MM/yyyy}", Model.fe_publicacion_dof)
        </dd>

        <dt>
            @Strings.getMSG("NormatividadCreate004")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ds_sectores)
        </dd>

        <dt>
            @Strings.getMSG("NormatividadDelete002")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.c_tipo_normatividad.nb_tipo_normatividad)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="@Strings.getMSG("Borrar")" class="btn btn-primary" /> |
            @Html.ActionLink(Strings.getMSG("Regresar"), "Index", null, new { @class = "btn btn-default" })
        </div>
    }
</div>
