@model IEnumerable<SCIRA.Models.c_campo_auditoria>
@using SCIRA.Utilidades
@{
    Layout = "~/Views/Shared/_LayoutReporte.cshtml";
}

@{
    ViewBag.Title = "Campos Extra Auditoría";
}

<h2>@Strings.getMSG("Menu102")</h2>

<p>
    @Html.ActionLink(Strings.getMSG("Agregar"), "CreateCampoAuditoria", "Auditoria", new { @class = "btn btn-default btn-sm" })
</p>

<table class="results table table-striped table-bordered table-hover">
    <thead>
        <tr>
            <th>@Strings.getMSG("Clave")</th>
            <th>@Strings.getMSG("Campo")</th>
            <th>@Strings.getMSG("AuditoriaIndexCampoAuditoria001")</th>
            <th>@Strings.getMSG("MCSubProcesoIndex002")</th>
            <th>@Strings.getMSG("AuditoriaIndexCampoAuditoria002")</th>
            <th>@Strings.getMSG("AuditoriaIndexCampoAuditoria003")</th>
            <th>@Strings.getMSG("AuditoriaIndexCampoAuditoria004")</th>
            <th>@Strings.getMSG("AuditoriaIndexCampoAuditoria005")</th>
            

            <th width="40"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.cl_campo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.nb_campo)
                </td>
                <td>
                    @(item.es_auditoria_regulada ? Strings.getMSG("UsuarioIndex004"):Strings.getMSG("UsuarioIndex005"))
                </td>
                <td>
                    @(item.cl_tipo_campo.Equals("t") ? Strings.getMSG("TipoCampo004") : item.cl_tipo_campo.Equals("a") ? Strings.getMSG("TipoCampo005") : Strings.getMSG("TipoCampo006"))
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.longitud)
                </td>
                <td>
                    @(item.aparece_en_planeacion ? Strings.getMSG("UsuarioIndex004"):Strings.getMSG("UsuarioIndex005"))
                </td>
                <td>
                    @(item.aparece_en_informe ? Strings.getMSG("UsuarioIndex004"):Strings.getMSG("UsuarioIndex005"))
                </td>

                @foreach (var it in Model)
                {
                    if (it.aparece_en_informe == false && item.aparece_en_planeacion == false)
                    {
                        it.aparece_en_plan = true;

                    }
                    else
                    {
                        it.aparece_en_plan = false;

                    }

                }


                <td>
                    @(item.aparece_en_plan ? Strings.getMSG("UsuarioIndex004"):Strings.getMSG("UsuarioIndex005"))
                </td>
                <td>
                    <a href="@Url.Action("EditCampoAuditoria", new { id = item.id_campo_auditoria })">
                        <i class="glyphicon glyphicon-pencil" title=@Strings.getMSG("Editar")></i>
                    </a> |
                    <a href="@Url.Action("DeleteCampoAuditoria", new { id = item.id_campo_auditoria })">
                        <i class="glyphicon glyphicon-trash" title=@Strings.getMSG("Borrar")></i>
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>
