@model IEnumerable<SCIRA.Models.r_sub_proceso>
@using SCIRA.Models
@using System.Reflection
@using SCIRA.Utilidades
@{
    int ncambios = Model.Count();
    c_sub_proceso sp = ViewBag.sp;
    r_sub_proceso spA = Model.First();
    ViewBag.Title = @Strings.getMSG("SPHistorial005") + " " + sp.nb_sub_proceso;
    Layout = "~/Views/Shared/_LayoutIndex.cshtml";
}
<link href="~/Content/font-awesome.min.css" rel="stylesheet" />
<script type="text/javascript" src="~/Scripts/sharedScripts.js"></script>
<link href="~/Content/RiesgoResidual.css" rel="stylesheet" />

<script>
    function sleep(milliseconds) {
        var start = new Date().getTime();
        for (var i = 0; i < 1e7; i++) {
            if ((new Date().getTime() - start) > milliseconds) {
                break;
            }
        }
    }
</script>

<h2>@Strings.getMSG("SPHistorial005") @sp.cl_sub_proceso - @sp.nb_sub_proceso</h2>
<div>
    @Html.ActionLink(Strings.getMSG("Regresar"), "Index", "MacroProceso", new { @class = "btn btn-default" })
</div>
<br />
<br />
<br />

<ul class="nav nav-tabs">
    <li class="active"><a href="#pes1" data-toggle="tab"><h4>@Strings.getMSG("RiesgoHistorial001")</h4></a></li>
    <li><a href="#pes2" data-toggle="tab"><h4>@Strings.getMSG("SPHistorial002")</h4></a></li>
</ul>

<div id="myTabContent" class="tab-content">


    <div class="tab-pane fade active in" id="pes1">
        <div id="accordion">

            @for (int i = 0; i < Model.Count(); i++)
            {
                var registro = Model.ElementAt(i);
                r_sub_proceso anterior;
                if (i + 1 != Model.Count())
                {
                    anterior = Model.ElementAt(i + 1);
                }
                else
                {
                    anterior = registro;
                }

                <div class="card" id="11" w-75>
                    <div class="card-header" id="@registro.id_registro_sub_proceso">
                        <h5>
                            <button id="ps@(registro.id_registro_sub_proceso)" class="btn btn-default collapsed" data-toggle="collapse" data-target="#dt@(registro.id_registro_sub_proceso)" aria-expanded="false" aria-controls="dt@(registro.id_registro_sub_proceso)" style="display: block; width: 100%;">
                                @Strings.getMSG("RiesgoHistorial003") @registro.c_usuario.nb_usuario @Strings.getMSG("RiesgoHistorial007") @registro.fe_modificacion.Value.ToString("dd/MM/yyyy hh:mm:ss")
                            </button>
                        </h5>
                    </div>
                    <div id="dt@(registro.id_registro_sub_proceso)" class="collapse" aria-labelledby="@registro.c_usuario.nb_usuario" data-parent="#accordion">
                        <div class="card-body">
                            <table class="table table-bordered table-hover table-responsive table-striped">
                                <thead>
                                    <tr>
                                        <th>@Strings.getMSG("Caspo")</th>
                                        <th>@Strings.getMSG("RiesgoResidualConfigIndex030")</th>
                                        <th>@Strings.getMSG("RiesgoHistorial004")</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>@Strings.getMSG("Entidad")</td>
                                        <td>@registro.nb_entidad</td>
                                        <td>@(registro.nb_entidad != anterior.nb_entidad ? Strings.getMSG("UsuarioIndex004") : Strings.getMSG("UsuarioIndex005"))</td>
                                    </tr>
                                    <tr>
                                        <td>@Strings.getMSG("MP")</td>
                                        <td>@registro.nb_macro_proceso</td>
                                        <td>@(registro.nb_macro_proceso != anterior.nb_macro_proceso ? Strings.getMSG("UsuarioIndex004") : Strings.getMSG("UsuarioIndex005"))</td>
                                    </tr>
                                    <tr>
                                        <td>@Strings.getMSG("P")</td>
                                        <td>@registro.nb_proceso</td>
                                        <td>@(registro.nb_proceso != anterior.nb_proceso ? Strings.getMSG("UsuarioIndex004") : Strings.getMSG("UsuarioIndex005"))</td>
                                    </tr>
                                    <tr>
                                        <td>@Strings.getMSG("Clave")</td>
                                        <td>@registro.cl_sub_proceso</td>
                                        <td>@(registro.cl_sub_proceso != anterior.cl_sub_proceso ? Strings.getMSG("UsuarioIndex004") : Strings.getMSG("UsuarioIndex005"))</td>
                                    </tr>
                                    <tr>
                                        <td>@Strings.getMSG("SP")</td>
                                        <td>@registro.nb_sub_proceso</td>
                                        <td>@(registro.nb_sub_proceso != anterior.nb_sub_proceso ? Strings.getMSG("UsuarioIndex004") : Strings.getMSG("UsuarioIndex005"))</td>
                                    </tr>
                                    <tr>
                                        <td>@Strings.getMSG("SubProcesoCreate018")</td>
                                        <td>@registro.ds_sub_proceso</td>
                                        <td>@(registro.ds_sub_proceso != anterior.ds_sub_proceso ? Strings.getMSG("UsuarioIndex004") : Strings.getMSG("UsuarioIndex005"))</td>
                                    </tr>
                                    <tr>
                                        <td>@Strings.getMSG("SubProcesoCreate011")</td>
                                        <td>@registro.cl_manual</td>
                                        <td>@(registro.cl_manual != anterior.cl_manual ? Strings.getMSG("UsuarioIndex004") : Strings.getMSG("UsuarioIndex005"))</td>
                                    </tr>
                                    <tr>
                                        <td>@Strings.getMSG("SubProcesoCreate009")</td>
                                        <td>@registro.cl_sp_anterior</td>
                                        <td>@(registro.cl_sp_anterior != anterior.cl_sp_anterior ? Strings.getMSG("UsuarioIndex004") : Strings.getMSG("UsuarioIndex005"))</td>
                                    </tr>
                                    <tr>
                                        <td>@Strings.getMSG("SubProcesoCreate010")</td>
                                        <td>@registro.cl_sp_siguiente</td>
                                        <td>@(registro.cl_sp_siguiente != anterior.cl_sp_siguiente ? Strings.getMSG("UsuarioIndex004") : Strings.getMSG("UsuarioIndex005"))</td>
                                    </tr>
                                    <tr>
                                        <td>@Strings.getMSG("Responsable")</td>
                                        <td>@registro.nb_responsable</td>
                                        <td>@(registro.nb_responsable != anterior.nb_responsable ? Strings.getMSG("UsuarioIndex004") : Strings.getMSG("UsuarioIndex005"))</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            }

        </div>
    </div>


    <div class="tab-pane" id="pes2">
        <br /><br /><br />
        <table class="table table-bordered table-hover table-responsive table-striped">
            <thead>
                <tr>
                    <th>@Strings.getMSG("Caspo")</th>
                    <th>@Strings.getMSG("RiesgoResidualConfigIndex030")</th>
                    <th>@Strings.getMSG("RiesgoHistorial004")</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>@Strings.getMSG("Entidad")</td>
                    <td>@sp.c_proceso.c_macro_proceso.c_entidad.nb_entidad</td>
                    <td>@(sp.c_proceso.c_macro_proceso.c_entidad.nb_entidad != spA.nb_entidad ? Strings.getMSG("UsuarioIndex004") : Strings.getMSG("UsuarioIndex005"))</td>
                </tr>
                <tr>
                    <td>@Strings.getMSG("MP")</td>
                    <td>@sp.c_proceso.c_macro_proceso.nb_macro_proceso</td>
                    <td>@(sp.c_proceso.c_macro_proceso.nb_macro_proceso != spA.nb_macro_proceso ? Strings.getMSG("UsuarioIndex004") : Strings.getMSG("UsuarioIndex005"))</td>
                </tr>
                <tr>
                    <td>@Strings.getMSG("P")</td>
                    <td>@sp.c_proceso.nb_proceso</td>
                    <td>@(sp.c_proceso.nb_proceso != spA.nb_proceso ? Strings.getMSG("UsuarioIndex004") : Strings.getMSG("UsuarioIndex005"))</td>
                </tr>
                <tr>
                    <td>@Strings.getMSG("Clave")</td>
                    <td>@sp.cl_sub_proceso</td>
                    <td>@(sp.cl_sub_proceso != spA.cl_sub_proceso ? Strings.getMSG("UsuarioIndex004") : Strings.getMSG("UsuarioIndex005"))</td>
                </tr>
                <tr>
                    <td>@Strings.getMSG("SP")</td>
                    <td>@sp.nb_sub_proceso</td>
                    <td>@(sp.nb_sub_proceso != spA.nb_sub_proceso ? Strings.getMSG("UsuarioIndex004") : Strings.getMSG("UsuarioIndex005"))</td>
                </tr>
                <tr>
                    <td>@Strings.getMSG("SubProcesoCreate018")</td>
                    <td>@sp.ds_sub_proceso</td>
                    <td>@(sp.ds_sub_proceso != spA.ds_sub_proceso ? Strings.getMSG("UsuarioIndex004") : Strings.getMSG("UsuarioIndex005"))</td>
                </tr>
                <tr>
                    <td>@Strings.getMSG("SubProcesoCreate011")</td>
                    <td>@sp.cl_manual</td>
                    <td>@(sp.cl_manual != spA.cl_manual ? Strings.getMSG("UsuarioIndex004") : Strings.getMSG("UsuarioIndex005"))</td>
                </tr>
                <tr>
                    <td>@Strings.getMSG("SubProcesoCreate009")</td>
                    <td>@sp.cl_sp_anterior</td>
                    <td>@(sp.cl_sp_anterior != spA.cl_sp_anterior ? Strings.getMSG("UsuarioIndex004") : Strings.getMSG("UsuarioIndex005"))</td>
                </tr>
                <tr>
                    <td>@Strings.getMSG("SubProcesoCreate010")</td>
                    <td>@sp.cl_sp_siguiente</td>
                    <td>@(sp.cl_sp_siguiente != spA.cl_sp_siguiente ? Strings.getMSG("UsuarioIndex004") : Strings.getMSG("UsuarioIndex005"))</td>
                </tr>
                <tr>
                    <td>@Strings.getMSG("Responsable")</td>
                    <td>@sp.c_usuario.nb_usuario</td>
                    <td>@(sp.c_usuario.nb_usuario != spA.nb_responsable ? Strings.getMSG("UsuarioIndex004") : Strings.getMSG("UsuarioIndex005"))</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
