@model SCIRA.Models.c_contenido_grupo
@using SCIRA.Utilidades
@{
    Layout = "~/Views/Shared/_LayoutIndex.cshtml";
    ViewBag.Title = "Editar";
}

<h2>@Strings.getMSG("Editar")</h2>

@using (Html.BeginForm(null, null, FormMethod.Post, new { onsubmit = "deshabilitar()" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal well">
        <h4>
            @if (ViewBag.Contador != 0)
            {
                @(@Strings.getMSG("ContenidoGrupoCreate005"))
                for (int i = ViewBag.Contador; i > 0; i--)
                {
                    <span> @ViewBag.Claves[i - 1] >> </span>
                }
            }
            else
            {
                @:@Strings.getMSG("ContenidoGrupoCreate004")
            }
        </h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.id_contenido_grupo_padre)
        @Html.HiddenFor(model => model.id_contenido_grupo)

        <div class="row">
            <div class="form-group has-error">
                <label class="control-label col-xs-3 col-md-2">@Strings.getMSG("Clave")</label>
                <div class="col-xs-6 col-md-5">
                    <div class="input-group">
                        @Html.EditorFor(model => model.cl_contenido_grupo, new { htmlAttributes = new { @class = "form-control" } })
                        <div class="input-group-btn">
                            <button type="button" class="btn btn-default" title="@Strings.getMSG("Atención")" data-toggle="popover" data-trigger="hover" data-content="@Strings.getMSG("ContenidoGrupoCreate002")">
                                <i class="glyphicon glyphicon-question-sign"></i>
                            </button>
                        </div>
                    </div>
                    @Html.ValidationMessageFor(model => model.cl_contenido_grupo, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="row">
            <div class="form-group has-error">
                <label class="control-label col-xs-3 col-md-2">@Strings.getMSG("SubProcesoCreate018")</label>
                <div class="col-xs-6 col-md-5">
                    @Html.TextAreaFor(model => model.ds_contenido_grupo, new { @class = "form-control", @rows = "5", @title = Strings.getMSG("Atención"), data_trigger = "hover", data_toggle = "popover", data_content = Strings.getMSG("ContenidoGrupoCreate003") })
                    @Html.ValidationMessageFor(model => model.ds_contenido_grupo, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="row">
            <div class="form-group">
                <div class="col-xs-offset-2 col-xs-6 col-md-5">
                    <input type="submit" value="@Strings.getMSG("Guardar")" class="btn btn-primary" id="submit" />
                    @Html.ActionLink(Strings.getMSG("Regresar"), "Index", new { id = Model.id_contenido_grupo_padre }, new { @class = "btn btn-default" })
                </div>
            </div>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}