@model SCIRA.Models.c_rango

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>c_rango</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.id_rango)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.id_rango)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cl_rango)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cl_rango)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.nb_rango)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nb_rango)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cl_color_campo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cl_color_campo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.valor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.valor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.segmentacion_calificacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.segmentacion_calificacion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.segmentacion_calificacion2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.segmentacion_calificacion2)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
