@using SCIRA.Models
@using SCIRA.Utilidades
@{
    ViewBag.Title = "Reporte de Cambios en Procesos";
    Layout = "~/Views/Shared/_LayoutReporte.cshtml";
    SICIEntities db = new SICIEntities();

    int NRM = 1;

    List<c_proceso> prs = ViewBag.prs;
}

<h2>@Strings.getMSG("Historial de cambios") @Strings.getMSG("P")</h2>

<br>
<br>

<table class="results table table-striped table-bordered table-hover">
    <thead>
        <tr>
            <th>@Strings.getMSG("Entidad")</th>
            <th>@Strings.getMSG("MP")</th>
            <th>@Strings.getMSG("Clave")</th>
            <th>@Strings.getMSG("P")</th>
            <th>@Strings.getMSG("Responsable")</th>
            <th>@Strings.getMSG("ReporteCambiosMRyCIndex002")</th>
            <th>@Strings.getMSG("RiesgoHistorial003")</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var pr in prs)
        {
            var registros = pr.r_proceso.ToList().OrderByDescending(ri => ri.fe_modificacion);
            var prA = registros.First();
            int count = registros.Count();
            string clnbEn = $"{pr.c_macro_proceso.c_entidad.cl_entidad} - {pr.c_macro_proceso.c_entidad.nb_entidad}";
            string clnbMp = $"{pr.c_macro_proceso.cl_macro_proceso} - {pr.c_macro_proceso.nb_macro_proceso}";

            <tr>
                <td @(clnbEn == prA.nb_entidad ? "" : "style=background-color:yellow;")>@clnbEn @(clnbEn == prA.nb_entidad ? "" : "(cambió)")</td>
                <td @(clnbMp == prA.nb_macro_proceso ? "" : "style=background-color:yellow;")>@clnbMp @(clnbMp == prA.nb_macro_proceso ? "" : "(cambió)")</td>
                <td @(pr.cl_proceso == prA.cl_proceso ? "" : "style=background-color:yellow;")>@pr.cl_proceso @(pr.cl_proceso == prA.cl_proceso ? "" : "(cambió)")</td>
                <td @(pr.nb_proceso == prA.nb_proceso ? "" : "style=background-color:yellow;")>@pr.nb_proceso @(pr.nb_proceso == prA.nb_proceso ? "" : "(cambió)")</td>
                <td @(pr.c_usuario.nb_usuario == prA.nb_responsable ? "" : "style=background-color:yellow;")>@pr.c_usuario.nb_usuario @(pr.c_usuario.nb_usuario == prA.nb_responsable ? "" : "(cambió)")</td>

                <td>N/A</td>
                <td>N/A</td>
            </tr>

            for (int i = 0; i < NRM; i++)//Solamente mostramos 1 registro
            {
                var registro = registros.ElementAt(i);
                r_proceso registroA;
                if (i < NRM - 1)
                {
                    registroA = registros.ElementAt(i + 1);
                }
                else
                {
                    registroA = registro;
                }

                <tr>
                    <td @(registroA.nb_entidad == prA.nb_entidad ? "" : "style=background-color:yellow;")>@prA.nb_entidad @(pr.c_macro_proceso.c_entidad.nb_entidad == prA.nb_entidad ? "" : "(cambió)")</td>
                    <td @(registro.nb_macro_proceso == registroA.nb_macro_proceso ? "" : "style=background-color:yellow;")>@registro.nb_macro_proceso</td>
                    <td @(registro.cl_proceso == registroA.cl_proceso ? "" : "style=background-color:yellow;")>@registro.cl_proceso</td>
                    <td @(registro.nb_proceso == registroA.nb_proceso ? "" : "style=background-color:yellow;")>@registro.nb_proceso</td>
                    <td @(registro.nb_responsable == registroA.nb_responsable ? "" : "style=background-color:yellow;")>@registro.nb_responsable</td>



                    <td>@string.Format("{0:dd/MM/yyyy}", registro.fe_modificacion)</td>
                    <td>@registro.c_usuario.nb_usuario</td>
                </tr>
            }
        }
    </tbody>
</table>
