@model IEnumerable<SCIRA.Models.k_certificacion_control>
@using SCIRA.Utilidades
<script src="~/Scripts/sharedScripts.js"></script>
<script>
    $(document).ready(function () {
        initTables("#contenedor4");
        $("#ind4").removeClass("IndicatorLoader");
    });
</script>

<h4>@Strings.getMSG("lyPCertificacionesIndex001")</h4>

<table class="results table table-bordered table-striped table-hover table-responsive">
    <thead>
        <tr>
            <th class="search">@Strings.getMSG("lyPCertificacionesIndex002")</th>
            <th class="search">@Strings.getMSG("RiesgoCreate084")</th>
            <th class="search">@Strings.getMSG("lyPCertificacionesIndex003")</th>
            <th class="search">@Strings.getMSG("PeriodoCertificacionIndex002")</th>
            <th class="search">@Strings.getMSG("CertificacionCertificados001")</th>
            <th width="80px"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.k_control.c_sub_proceso.c_proceso.c_macro_proceso.c_entidad.cl_entidad/@item.k_control.c_sub_proceso.c_proceso.c_macro_proceso.cl_macro_proceso/@item.k_control.c_sub_proceso.c_proceso.cl_proceso/@item.k_control.c_sub_proceso.cl_sub_proceso/@item.k_control.k_riesgo.First().nb_riesgo</td>
                <td>@item.k_control.relacion_control</td>
                <td>@item.cl_certificacion_control</td>
                <td>@item.c_periodo_certificacion.nb_periodo_certificacion</td>
                <td>@item.ds_procedimiento_certificacion</td>
                <td>
                    <center>
                        <a href="#" onclick="indexIncidencias(4,@item.id_certificacion_control)">
                            <i class="fa fa-exclamation-triangle" title="@Strings.getMSG("Incidencias") (@item.k_incidencia.Count())" style="font-size: 16px;"></i>
                        </a>
                    </center>
                </td>
            </tr>
        }
    </tbody>
</table>