@model IEnumerable<SCIRA.ViewModels.EstructuraRepModel>
@using SCIRA.Utilidades;
@{
    ViewBag.Title = "Reporte de Estructura";
    Layout = "~/Views/Shared/_LayoutReporte.cshtml";
}

<h2>@Strings.getMSG("ReporteEstructuraIndex011")</h2>

<table class="results table table-striped table-bordered table-hover">
    <thead>
        <tr>
            <th class="search">@Strings.getMSG("Entidad")</th>
            <th class="search">@Strings.getMSG("ReporteEstructuraIndex001")</th>
            <th class="search">@Strings.getMSG("MP")</th>
            <th class="search">@Strings.getMSG("ReporteEstructuraIndex002")</th>
            <th class="search">@Strings.getMSG("P")</th>
            <th class="search">@Strings.getMSG("ReporteEstructuraIndex003")</th>
            <th class="search">@Strings.getMSG("SP")</th>
            <th class="search">@Strings.getMSG("RiesgoCreate037")</th>
            <th>@Strings.getMSG("ManualesDelete001")</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @(item.cl_en)
                </td>
                <td>
                    @(item.re_en)
                </td>
                <td>
                    @(item.cl_mp)
                </td>
                <td>
                    @(item.re_mp)
                </td>
                <td>
                    @(item.cl_pr)
                </td>
                <td>
                    @(item.re_pr)
                </td>
                <td>
                    @(item.cl_sp)
                </td>
                <td>
                    @(item.re_sp)
                </td>
                <td>
                    @(item.cl_manual)
                </td>
            </tr>
        }
    </tbody>
</table>
