@model IEnumerable<SCIRA.Models.k_control>
@using SCIRA.Utilidades
<script src="~/Scripts/sharedScripts.js"></script>
<script>
    $(document).ready(function () {
        initTables("#contenedor5");
        $("#ind5").removeClass("IndicatorLoader");
    });
</script>


<h4>@Strings.getMSG("Menu077")</h4>

<table class="results table table-bordered table-striped table-hover table-responsive">
    <thead>
        <tr>
            <th class="search">@Strings.getMSG("lyPMRyCIndex001")</th>
            <th class="search">@Strings.getMSG("RiesgoRiesgos002")</th>
            <th class="search">@Strings.getMSG("RiesgoRiesgos003")</th>
            <th class="search">@Strings.getMSG("RiesgoCreate079")</th>
            <th width="80px"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            var riesgo = item.k_riesgo.First();
            <tr>
                <td>@item.c_sub_proceso.c_proceso.c_macro_proceso.c_entidad.cl_entidad/@item.c_sub_proceso.c_proceso.c_macro_proceso.cl_macro_proceso/@item.c_sub_proceso.c_proceso.cl_proceso/@item.c_sub_proceso.cl_sub_proceso</td>
                <td>@riesgo.nb_riesgo</td>
                <td>@riesgo.evento</td>
                <td>@item.accion_correctora</td>
                <td>
                    <center>
                        <a href="#" onclick="indexIncidencias(5,@item.id_control)">
                            <i class="fa fa-exclamation-triangle" title="@Strings.getMSG("Incidencias") (@item.k_incidencia.Count())" style="font-size: 16px;"></i>
                        </a>
                    </center>
                </td>
            </tr>
        }
    </tbody>
</table>