@model SCIRA.Models.c_indicador_diario
@using SCIRA.Utilidades
<script>
$(document).ready(function () {
    initTables("#menuModal");

    menuModal.setTitle("Indicador @(Model.cl_indicador_diario)");


    @if(ViewBag.title != null)
    {
    @:menuModal.setTitle("@ViewBag.title");
    }
});
</script>


<br />
@if (ViewBag.id_content != null)
{
    <script>
        function Return() {
            menuModal.bodyLoad('@Url.Action("ContentDetails","GraphicsIndicadorDiario")/@ViewBag.id_content');
        }
    </script>

    <button class="btn btn-default" onclick="Return()">@Strings.getMSG("Regresar")</button>
}

@if (ViewBag.tipo != null && ViewBag.fe_eval != null)
{
    <script>
        function Return() {
            detailsGraph("@ViewBag.fe_eval",@ViewBag.tipo);
        }
    </script>

    <button class="btn btn-default" onclick="Return()">@Strings.getMSG("Regresar")</button>
}

@if (ViewBag.FromType3 != null)
{
    <script>
        function Return() {
            detailsEval(@Model.id_indicador_diario);
        }
    </script>

    <button class="btn btn-default" onclick="Return()">@Strings.getMSG("Regresar")</button>
}

@ViewBag.type

<br />
<br />
<br />

<div class="form-horizontal well">
    <div class="row">
        <div class="form-group">
            <label class="control-label col-xs-3 col-md-2">Indicador</label>
            <div class="col-xs-6 col-md-5">
                <input class="form-control" type="text" value="@Model.nb_indicador_diario" disabled="">
            </div>
        </div>
    </div>

    <div class="row">
        <div class="form-group">
            <label class="control-label col-xs-3 col-md-2">Descripción</label>
            <div class="col-xs-6 col-md-5">
                <textarea rows="3" disabled="" class="form-control" cols="20">@Model.ds_indicador_diario</textarea>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="form-group">
            <label class="control-label col-xs-3 col-md-2">Descripción Numerador</label>
            <div class="col-xs-6 col-md-5">
                <textarea rows="3" disabled="" class="form-control" cols="20">@Model.ds_numerador_diario</textarea>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="form-group">
            <label class="control-label col-xs-3 col-md-2">Descripción Denominador</label>
            <div class="col-xs-6 col-md-5">
                <textarea rows="3" disabled="" class="form-control" cols="20">@Model.ds_denominador</textarea>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="form-group">
            <label class="control-label col-xs-3 col-md-2">Umbral Asociado a la Nota (0.0) - [Alerta]</label>
            <div class="col-xs-3 col-md-2">
                <input class="form-control" type="text" value="@Model.umbral000i" disabled="">
            </div>
            <div class="col-xs-0 col-md-1"></div>
            <div class="col-xs-3 col-md-2">
                <input class="form-control" type="text" value="@Model.umbral000f" disabled="">
            </div>
        </div>
    </div>

    <div class="row">
        <div class="form-group">
            <label class="control-label col-xs-3 col-md-2">Umbral Asociado a la Nota (0.0 - 5.0) - [Alerta]</label>
            <div class="col-xs-3 col-md-2">
                <input class="form-control" type="text" value="@Model.umbral050i" disabled="">
            </div>
            <div class="col-xs-0 col-md-1"></div>
            <div class="col-xs-3 col-md-2">
                <input class="form-control" type="text" value="@Model.umbral050f" disabled="">
            </div>
        </div>
    </div>

    <div class="row">
        <div class="form-group">
            <label class="control-label col-xs-3 col-md-2">Umbral Asociado a la Nota (5.0 - 7.5) - [Regular]</label>
            <div class="col-xs-3 col-md-2">
                <input class="form-control" type="text" value="@Model.umbral075i" disabled="">
            </div>
            <div class="col-xs-0 col-md-1"></div>
            <div class="col-xs-3 col-md-2">
                <input class="form-control" type="text" value="@Model.umbral075f" disabled="">
            </div>
        </div>
    </div>

    <div class="row">
        <div class="form-group">
            <label class="control-label col-xs-3 col-md-2">Umbral Asociado a la Nota (7.5 - 10.0) - [Bueno]</label>
            <div class="col-xs-3 col-md-2">
                <input class="form-control" type="text" value="@Model.umbral100i" disabled="">
            </div>
            <div class="col-xs-0 col-md-1"></div>
            <div class="col-xs-3 col-md-2">
                <input class="form-control" type="text" value="@Model.umbral100f" disabled="">
            </div>
        </div>
    </div>

    <div class="row">
        <div class="form-group">
            <label class="control-label col-xs-3 col-md-2">Grupo</label>
            <div class="col-xs-6 col-md-5">
                <input class="form-control" type="text" value="@SCIRA.Utilidades.Utilidades.getRuta(Model.c_contenido_grupo)" disabled="">
            </div>
        </div>
    </div>

</div>