@model IEnumerable<SCIRA.Models.k_plan>
@using SCIRA.Utilidades
@{
    Layout = "~/Views/Shared/_LayoutIndex.cshtml";
    ViewBag.Title = "Seguimiento de Planes de Remediacion";


}
<script src="~/Scripts/Certificacion.js"></script>


<link href="~/Content/font-awesome.min.css" rel="stylesheet" />

<h2>@Strings.getMSG("Menu147")</h2>

<br />
<div class="form-horizontal well">
    <table class="results table table-bordered table-striped table-hover table-responsive">
        <thead>
            <tr>
                <th>@Strings.getMSG("PlanesRemIndex001")</th>
                <th>@Strings.getMSG("Responsable")</th>
                <th>@Strings.getMSG("PlanesRemIndex002")</th>
                <th>@Strings.getMSG("PlanesRemIndex003")</th>
                <th>@Strings.getMSG("lyPlanesdeRemediacionCreate002")</th>
                <th>@Strings.getMSG("BDEIIndex003")</th>
                <th>@Strings.getMSG("PlanesRemIndex004")</th>
                <th width="90">@Strings.getMSG("RevisionControlRevisiones003")</th>
                <th width="80px"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                int tp_obj = 0;
                string tp_objeto = "";
                string nb_objeto = "";
                var incidencia = item.k_incidencia;
                if (incidencia.id_objeto != null)
                {
                    tp_obj = incidencia.k_objeto.tipo_objeto;
                    tp_objeto = tp_obj == 1 ? Strings.getMSG("PendientesVerTodoIndex009") : tp_obj == 2 ? Strings.getMSG("lyPlanesdeRemediacionIndex003") : tp_obj == 3 ? Strings.getMSG("lyPlanesdeRemediacionIndex004") : tp_obj == 6 ? Strings.getMSG("ReporteIyPIndex021") : "";
                    nb_objeto = incidencia.k_objeto.nb_objeto;
                }
                if (incidencia.id_certificacion_control != null)
                {
                    tp_objeto = Strings.getMSG("lyPlanesdeRemediacionIndex005");
                    nb_objeto = incidencia.k_certificacion_control.cl_certificacion_control;
                }
                if (incidencia.id_control != null)
                {
                    tp_objeto = Strings.getMSG("lyPlanesdeRemediacionIndex006");
                    nb_objeto = incidencia.k_control.k_riesgo.First().nb_riesgo;
                }

                <tr>
                    <td>@tp_objeto</td>
                    <td>@item.c_usuario.nb_usuario</td>
                    <td>@nb_objeto</td>
                    <td>@item.id_incidencia</td>
                    <td>@item.nb_plan</td>
                    <td>@item.fe_alta</td>
                    <td>@(item.fe_real_solucion == null ? Strings.getMSG("lyPlanesdeRemediacionCreate014") : item.fe_real_solucion.ToString())</td>
                    <td>
                        @foreach (var file in item.c_archivo)
                        {
                            <a href="@Url.Action("Download",Strings.getMSG("RevisionControlRevisiones003"), new { id = file.id_archivo})"><i class="fa fa-file@(SCIRA.Utilidades.Utilidades.getFileClass(file))" title="@file.nb_archivo"></i></a>
                        }
                        @if (item.c_archivo.Count() == 0)
                        {
                            @:@Strings.getMSG("ProcesosAuditoriaIndexEjecucion003")
                        }
                    </td>
                    <td>
                        <center>
                            <center>
                                <a href="@Url.Action("Seguimientos", new { id = item.id_plan })">
                                    <i class="fa fa-paw" title="@Strings.getMSG("lyPlanesdeRemediacionCreate015")"></i>
                                </a>
                            </center>
                        </center>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>