@model IEnumerable<SCIRA.Models.c_nivel_normatividad>
@using SCIRA.Utilidades;
<script src="~/Scripts/sharedScripts.js"></script>
<script>
    $(document).ready(function () {
        initTables("#menuModal",false);

        @if(ViewBag.title != null)
        {
        @:menuModal.setTitle("@ViewBag.title");
        }
    });
</script>

<table class="results table table-bordered table-striped table-hover table-responsive">
    <thead>
        <tr>
            <th width="250px">@Strings.getMSG("NormatividadIndex004")</th>
            <th width="250px">@Strings.getMSG("Clave")</th>
            <th width="150px">@Strings.getMSG("Nombre")</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr onclick="showContents(@item.id_nivel_normatividad)">
                <td>@item.no_orden</td>
                <td>@item.cl_nivel_normatividad</td>
                <td>@item.nb_nivel_normatividad</td>
            </tr>
        }

    </tbody>
</table>


