@model SCIRA.Models.k_bdei
@using SCIRA.Utilidades

@{
    ViewBag.Title = "Borrar";
	string crit = "";
	try{
	 crit = Utilidades.Criticidad(Model);
	}
	catch{
	}
}

<h2>@Strings.getMSG("Borrar")</h2>

<h3>@Strings.getMSG("EntidadDelete001")</h3>
<div>
    <h4>BDEI</h4>
    <hr />
    <h5>@Strings.getMSG("BDEIDelete001")</h5>
    <dl class="dl-horizontal">
        <dt>
            @Strings.getMSG("Entidad")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.c_entidad.cl_entidad) - @Html.DisplayFor(model => model.c_entidad.nb_entidad)
        </dd>

        <dt>
            @Strings.getMSG("BDEIDelete002")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.c_estatus_bdei.nb_estatus_bdei)
        </dd>

        <dt>
            @Strings.getMSG("SP")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.c_sub_proceso.cl_sub_proceso) - @Html.DisplayFor(model => model.c_sub_proceso.nb_sub_proceso)
        </dd>

        <dt>
            @Strings.getMSG("BDEIIndex001")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.c_usuario1.nb_usuario)
        </dd>

    </dl>

    <h5>@Strings.getMSG("BDEICreate002")</h5>
    <dl class="dl-horizontal">
        <dt>
            @Strings.getMSG("BDEIIndex003")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fe_alta)
        </dd>

        <dt>
            @Strings.getMSG("BDEIIndex002")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fe_ocurrencia)
        </dd>
        <dt>
            @Strings.getMSG("BDEICreate027")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.duracion)
        </dd>
        <dt>
            @Strings.getMSG("BDEICreate028")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fe_solucion)
        </dd>
        <dt>
            @Strings.getMSG("Menu043")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.c_tipo_solucion.nb_tipo_solucion)
        </dd>

        <dt>
            @Strings.getMSG("Menu019")
        </dt>

        <dd>
            @Model.c_clase_evento.c_sub_tipo_riesgo_operacional.c_tipo_riesgo_operacional.cl_tipo_riesgo_operacional - @Model.c_clase_evento.c_sub_tipo_riesgo_operacional.c_tipo_riesgo_operacional.nb_tipo_riesgo_operacional
        </dd>

        <dt>
            @Strings.getMSG("Menu047")
        </dt>

        <dd>
            @Model.c_clase_evento.c_sub_tipo_riesgo_operacional.cl_sub_tipo_riesgo_operacional - @Model.c_clase_evento.c_sub_tipo_riesgo_operacional.nb_sub_tipo_riesgo_operacional
        </dd>

        <dt>
            @Strings.getMSG("Menu048")
        </dt>

        <dd>
            @Model.c_clase_evento.cl_clase_evento - @Model.c_clase_evento.nb_clase_evento
        </dd>

        <dt>
            @Strings.getMSG("Menu049")
        </dt>

        <dd>
            @Model.c_proceso_riesgo_operacional.c_ambito_riesgo_operacional.cl_ambito_riesgo_operacional - @Model.c_proceso_riesgo_operacional.c_ambito_riesgo_operacional.nb_ambito_riesgo_operacional
        </dd>

        <dt>
            @Strings.getMSG("P")
        </dt>

        <dd>
            @Model.c_proceso_riesgo_operacional.cl_proceso_riesgo_operacional - @Model.c_proceso_riesgo_operacional.nb_proceso_riesgo_operacional
        </dd>

        <dt>
            @Strings.getMSG("Menu050")
        </dt>

        <dd>
            @Model.c_sub_tipo_producto_riesgo_operacional.c_producto_riesgo_operacional.cl_producto_riesgo_operacional - @Model.c_sub_tipo_producto_riesgo_operacional.c_producto_riesgo_operacional.nb_producto_riesgo_operacional
        </dd>

        <dt>
            @Strings.getMSG("Menu051")
        </dt>

        <dd>
            @Model.c_sub_tipo_producto_riesgo_operacional.cl_sub_tipo_producto_riesgo_operacional - @Model.c_sub_tipo_producto_riesgo_operacional.nb_sub_tipo_producto_riesgo_operacional
        </dd>

        <dt>
            @Strings.getMSG("Menu052")
        </dt>

        <dd>
            @Model.c_linea_negocio_riesgo_operacional.c_categoria_linea_negocio_riesgo_operacional.cl_categoria_linea_negocio_riesgo_operacional - @Model.c_linea_negocio_riesgo_operacional.c_categoria_linea_negocio_riesgo_operacional.nb_categoria_linea_negocio_riesgo_operacional
        </dd>

        <dt>
            @Strings.getMSG("BDEICreate042")
        </dt>

        <dd>
            @Model.c_linea_negocio_riesgo_operacional.cl_linea_negocio_riesgo_operacional - @Model.c_linea_negocio_riesgo_operacional.nb_linea_negocio_riesgo_operacional
        </dd>

        <dt>
            @Strings.getMSG("Menu046")
        </dt>

        <dd>
            @Model.c_canal_riesgo_operacional.cl_canal_riesgo_operacional - @Model.c_canal_riesgo_operacional.nb_canal_riesgo_operacional
        </dd>

        <dt>
            @Strings.getMSG("Menu053")
        </dt>

        <dd>
            @Model.c_frecuencia_riesgo_operacional.cl_frecuencia_riesgo_operacional - @Model.c_frecuencia_riesgo_operacional.nb_frecuencia_riesgo_operacional
        </dd>

        <dt>
            @Strings.getMSG("Menu054")
        </dt>

        <dd>
            @Model.c_impacto_riesgo_operacional.cl_impacto_riesgo_operacional - @Model.c_impacto_riesgo_operacional.nb_impacto_riesgo_operacional
        </dd>

        <dt>
            @Strings.getMSG("Menu026")
        </dt>

        <dd>
            @crit
        </dd>

    </dl>



    <h5>@Strings.getMSG("BDEICreate003")</h5>
    <dl class="dl-horizontal">
        <dt>
            @Strings.getMSG("Menu042")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.c_moneda.nb_moneda)
        </dd>

        <dt>
            @Strings.getMSG("BDEICreate052")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.c_cuenta_contable.nb_cuenta_contable)
        </dd>

        <dt>
            @Strings.getMSG("BDEICreate054")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.mn_exposicion)
        </dd>

        <dt>
            @Strings.getMSG("BDEICreate055")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.mn_quebranto)
        </dd>

        <dt>
            @Strings.getMSG("BDEICreate098")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.c_centro_costo.nb_centro_costo)
        </dd>

        <dt>
            @Strings.getMSG("BDEICreate059")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fe_registro_perdida)
        </dd>
        <dt>
            @Strings.getMSG("BDEICreate061")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fe_quebranto)
        </dd>
    </dl>

    <h5>@Strings.getMSG("BDEICreate004")</h5>
    <dl class="dl-horizontal">
        <dt>
            @Strings.getMSG("BDEICreate063")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.mn_recuperacion)
        </dd>

        <dt>
            @Strings.getMSG("BDEICreate065")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.c_usuario.nb_usuario)
        </dd>

        <dt>
            @Strings.getMSG("BDEIDelete004")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.c_cuenta_contable1.nb_cuenta_contable)
        </dd>

        <dt>
            @Strings.getMSG("BDEIDelete005")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fe_registro_recuperacion)
        </dd>

        <dt>
            @Strings.getMSG("BDEICreate071")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.via_recuperacion)
        </dd>

        <dt>
            @Strings.getMSG("BDEICreate073")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.mn_costo_recuperacion)
        </dd>

        <dt>
            @Strings.getMSG("BDEIDelete006")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.c_cuenta_contable2.nb_cuenta_contable)
        </dd>

        <dt>
            @Strings.getMSG("BDEIDelete007")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fe_registro_costo_recuperacion)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

    <div class="form-actions no-color">
        <input type="submit" value="@Strings.getMSG("Borrar")" class="btn btn-primary" /> |
        @Html.ActionLink(Strings.getMSG("Regresar"), "Return", "Utilidades", new { catalogo = 48 }, new { @class = "btn btn-default btn" })
    </div>
    }
</div>
