@model SCIRA.Models.c_usuario

@{
    Layout = null;
    //bool email = false;

    bool email = (@Model.e_mail_principal != null);

    bool ActiveD = ViewBag.UseActiveD == "true";

    string action = ActiveD ? "ActiveDLogin" : "Index";

    //try
    //{
    //    email = (@Model.e_mail_principal.ToString() != "" && @Model.e_mail_principal.ToString() != null);
    //}
    //catch
    //{
    //    email = false;
    //}
}

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link href="~/Content/maquetacion.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-2.2.4.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <link href="~/Content/bootstrap-simplex.css" rel="stylesheet" />
    <title>Iniciar Sesión - SCIRA</title>
    <script>
        $(document).ready(function () {
            @if (email) {
                @:($("#e_mail_principal").val = @Model.e_mail_principal.ToString());
            }
        });

        var nuim = 12;
        var actual = 1;
        var siguiente = 2;
        function contador() {

            $('.bg').animate({
                opacity: 0
            }, 'slow', function () {
                if (siguiente < 12) {
                    $('.bg').css({ 'background-image': 'url("./Content/Images/' + siguiente + '.jpg")' })
                } else {
                    $('.bg').css({ 'background-image': 'url("./Content/Images/' + siguiente + '.gif")' })
                }
                $('.bg').animate({ opacity: 1 });
                actual = siguiente;
                siguiente = getRandomInt(1, nuim + 1);
                while (siguiente == actual) {
                    siguiente = getRandomInt(1, nuim + 1);
                }
            });
        }

        function getRandomInt(min, max) {
            return Math.floor(Math.random() * (max - min)) + min;
        }
    </script>

</head>

<body @*onLoad="setInterval('contador()',10000);"*@>

    @if (ViewBag.Mensaje != "false")
    {
        <script>
            $("document").ready(function () {
                $("#aviso").modal('show');
            });
        </script>

        <div class="modal fade" id="aviso" tabindex="-1" role="dialog" aria-labelledby="Aviso" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <center>
                            <h2 class="modal-title" id="gridModalLabel" style="color: #fff;">Aviso</h2>
                        </center>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                    </div>
                    <div class="modal-body">
                        <table class="table table-hover table-responsive table-striped table-bordered">
                            <thead>
                                <tr>
                                    <th colspan="2">
                                        <center>@ViewBag.Mensaje</center>
                                    </th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-dismiss="modal">Entendido</button>
                    </div>
                </div>
            </div>
        </div>
    }

    <div id="contenedor">
        <div id="izquierda">
            <div class="header">
                <IMG src="~/Content/Images/ADRIES.png" width="200">
                <h1 style="color:darkred"><strong>&emsp;S C I R A</strong></h1>
            </div>
            <div class="bg">
            </div>
            <div class="logotipo">
                <IMG src="@Url.Action("Logotipo")" width="200">
            </div>
            <div class="formulario">
                <br><br><br><br>

                @using (Html.BeginForm(action, "Inicio", new { ReturnUrl = Request.QueryString["ReturnUrl"] }))
                {


                    if (ActiveD)
                    {
                        <input type="text" id="e_mail_principal" name="user" class="form-control" placeholder="Usuario" required autofocus>

                    }
                    else
                    {
                        <input type="email" id="e_mail_principal" name="e_mail_principal" class="form-control" placeholder="Correo Electrónico" value="" required autofocus>
                    }
                    <br />
                    <input type="password" id="password" name="password" class="form-control" placeholder="Contraseña" required>
                    <br />
                    if (ViewBag.Error != null)
                    {
                        <span class="field-validation-error text-danger">@ViewBag.Error</span>
                        <hr />
                        <br>
                    }
                    <button class="btn btn-lg btn-primary btn-block btn-signin" type="submit">Iniciar Sesión</button>
                }
            </div>
        </div>
    </div>
    <footer>
        <p>&copy; @DateTime.Now.Year Adries Consulting</p>
    </footer>
</body>
</html>
