@model SCIRA.Models.kg_r2811
@using SCIRA.Utilidades;

@{
    var trimestres = new List<string>();

    trimestres.Add(@Strings.getMSG("BDEICreate131"));
    trimestres.Add(@Strings.getMSG("BDEICreate132"));
    trimestres.Add(@Strings.getMSG("BDEICreate133"));
    trimestres.Add(@Strings.getMSG("BDEICreate134"));


    ViewBag.Title = "R2811 " + trimestres.ElementAt((int.Parse(Model.mes) / 3) - 1) + " " + Model.anno;
    Layout = "~/Views/Shared/_LayoutReporte.cshtml";
}

<h2>@ViewBag.Title</h2>


@Html.ActionLink(@Strings.getMSG("Regresar"), "Index",null, new { @class = "btn btn-default" })
<br />    
<br />    
<br />    

<table class="results table table-striped table-bordered table-hover">
    <thead>
        <tr>
            <th class="search">@Strings.getMSG("BDEICreate142")</th>
            <th class="search">@Strings.getMSG("BDEICreate143")</th>
            <th class="search">@Strings.getMSG("BDEICreate144")</th>
            <th class="search">@Strings.getMSG("BDEICreate145")</th>
            <th class="search">@Strings.getMSG("BDEICreate146")</th>
            <th class="search">@Strings.getMSG("BDEICreate148")</th>
            <th class="search">@Strings.getMSG("BDEICreate149")</th>
            <th class="search">@Strings.getMSG("BDEICreate150")</th>
            <th class="search">@Strings.getMSG("BDEICreate151")</th>
            <th class="search">@Strings.getMSG("BDEICreate170")</th>
            <th class="search">@Strings.getMSG("BDEICreate153")</th>
            <th class="search">@Strings.getMSG("BDEICreate154")</th>
            <th class="search">@Strings.getMSG("BDEICreate155")</th>
            <th class="search">@Strings.getMSG("BDEICreate156")</th>
            <th class="search">@Strings.getMSG("BDEICreate157")</th>
            <th class="search">@Strings.getMSG("BDEICreate158")</th>
            <th class="search">@Strings.getMSG("BDEICreate159")</th>
            <th class="search">@Strings.getMSG("BDEICreate160")</th>
            <th class="search">@Strings.getMSG("BDEICreate161")</th>
            <th class="search">@Strings.getMSG("BDEICreate162")</th>
            <th class="search">@Strings.getMSG("BDEICreate163")</th>
            <th class="search">@Strings.getMSG("BDEICreate164")</th>
            <th class="search">@Strings.getMSG("BDEICreate165")</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.kd_r2811)
        {

            <tr>
                <th>@item.c01</th>
                <th>@item.c02</th>
                <th>@item.c03</th>
                <th>@item.c04</th>
                <th>@item.c05</th>
                <th>@item.c06</th>
                <th>@item.c07</th>
                <th>@item.c08</th>
                <th>@item.c09</th>
                <th>@item.c10</th>
                <th>@item.c11</th>
                <th>@item.c12</th>
                <th>@item.c13</th>
                <th>@item.c14</th>
                <th>@item.c15</th>
                <th>@item.c16</th>
                <th>@item.c17</th>
                <th>@item.c18</th>
                <th>@item.c19</th>
                <th>@item.c20</th>
                <th>@item.c21</th>
                <th>@item.c22</th>
                <th>@item.c23</th>
            </tr>
        }
    </tbody>
</table>
