@model SCIRA.Models.c_indicador
@using SCIRA.Utilidades
@{
    Layout = "~/Views/Shared/_LayoutIndex.cshtml";
    ViewBag.Title = "Editar";
}
<script type="text/javascript" src="~/Scripts/sharedScripts.js"></script>
<link href="~/Content/bootstrap-toggle.min.css" rel="stylesheet" />
<script src="~/Scripts/bootstrap-toggle.min.js"></script>
<h2>@Strings.getMSG("Editar")</h2>

<script>

    $(document).ready(function () {
        document.getElementById("peso").value = @Model.peso.ToString();
        document.getElementById("umbral000f").value = cppc("@Model.umbral000f.ToString()");
        document.getElementById("umbral000i").value = cppc("@Model.umbral000i.ToString()");
        document.getElementById("umbral050f").value = cppc("@Model.umbral050f.ToString()");
        document.getElementById("umbral050i").value = cppc("@Model.umbral050i.ToString()");
        document.getElementById("umbral075f").value = cppc("@Model.umbral075f.ToString()");
        document.getElementById("umbral075i").value = cppc("@Model.umbral075i.ToString()");
        document.getElementById("umbral100f").value = cppc("@Model.umbral100f.ToString()");
        document.getElementById("umbral100i").value = cppc("@Model.umbral100i.ToString()");
    });
</script>



@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()


    <div class="form-horizontal well">
        <h4>@Strings.getMSG("ControlEdit001")</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.id_indicador)
        @Html.HiddenFor(model => model.id_entidad)
        <input type="hidden" name="lu" value="@ViewBag.lu" />

        <div class="row">
            <div class="form-group">
                <label class="control-label col-xs-3 col-md-2">@Strings.getMSG("Entidad")</label>
                <div class="col-xs-6 col-md-5">
                    <input class="form-control" id="entidad" type="text" value="@(ViewBag.cnb_entidad)" disabled="">
                </div>
            </div>
        </div>

        <div class="row">
            <div class="form-group has-error">
                <label class="control-label col-xs-3 col-md-2">@Strings.getMSG("Clave")</label>
                <div class="col-xs-6 col-md-5">
                    <div class="input-group">
                        @Html.EditorFor(model => model.cl_indicador, new { htmlAttributes = new { @class = "form-control" } })
                        <div class="input-group-btn">
                            <button type="button" class="btn btn-default" title="@Strings.getMSG("Atencion")" data-toggle="popover" data-trigger="hover" data-content="@Strings.getMSG("IndicadorCreate038")">
                                <i class="glyphicon glyphicon-question-sign"></i>
                            </button>
                        </div>
                    </div>
                    @Html.ValidationMessageFor(model => model.cl_indicador, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="row">
            <div class="form-group has-error">
                <label class="control-label col-xs-3 col-md-2">@Strings.getMSG("Nombre")</label>
                <div class="col-xs-6 col-md-5">
                    <div class="input-group">
                        @Html.EditorFor(model => model.nb_indicador, new { htmlAttributes = new { @class = "form-control" } })
                        <div class="input-group-btn">
                            <button type="button" class="btn btn-default" title="@Strings.getMSG("Atencion")" data-toggle="popover" data-trigger="hover" data-content="@Strings.getMSG("IndicadorCreate039")">
                                <i class="glyphicon glyphicon-question-sign"></i>
                            </button>
                        </div>
                    </div>
                    @Html.ValidationMessageFor(model => model.nb_indicador, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="row">
            <div class="form-group has-error">
                <label class="control-label col-xs-3 col-md-2">@Strings.getMSG("SubProcesoCreate018")</label>
                <div class="col-xs-6 col-md-5">
                    @Html.TextAreaFor(model => model.ds_indicador, new { @class = "form-control", @rows = "5", @title = Strings.getMSG("Atencion"), data_trigger = "hover", data_toggle = "popover", data_content = @Strings.getMSG("IndicadorCreate040") })
                    @Html.ValidationMessageFor(model => model.ds_indicador, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="row">
            <div class="form-group has-error">
                <label class="control-label col-xs-3 col-md-2">@Strings.getMSG("IndicadorCreate003")</label>
                <div class="col-xs-6 col-md-5">
                    @Html.TextAreaFor(model => model.ds_numerador, new { @class = "form-control", @rows = "5", @title = Strings.getMSG("Atencion"), data_trigger = "hover", data_toggle = "popover", data_content = Strings.getMSG("IndicadorCreate041") })
                    @Html.ValidationMessageFor(model => model.ds_numerador, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="row">
            <div class="form-group has-error">
                <label class="control-label col-xs-3 col-md-2">@Strings.getMSG("IndicadorCreate004")</label>
                <div class="col-xs-6 col-md-5">
                    @Html.TextAreaFor(model => model.ds_denominador, new { @class = "form-control", @rows = "5", @title = Strings.getMSG("Atencion"), data_trigger = "hover", data_toggle = "popover", data_content = Strings.getMSG("IndicadorCreate042") })
                    @Html.ValidationMessageFor(model => model.ds_denominador, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="row">
            <div class="form-group has-error">
                <label class="control-label col-xs-3 col-md-2">@Strings.getMSG("Menu053")</label>
                <div class="col-xs-6 col-md-5">
                    @Html.DropDownList("id_frecuencia_indicador", null, Strings.getMSG("IndicadorCreate006"), htmlAttributes: new { @class = "form-control", @title = Strings.getMSG("Atencion"), data_trigger = "hover", data_toggle = "popover", data_content = Strings.getMSG("IndicadorCreate043") })
                    @Html.ValidationMessageFor(model => model.id_frecuencia_indicador, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="row">
            <div class="form-group has-error">
                <label class="control-label col-xs-3 col-md-2">@Strings.getMSG("IndicadorIndex002")</label>
                <div class="col-xs-6 col-md-5">
                    @Html.DropDownList("id_unidad_indicador", null, Strings.getMSG("IndicadorCreate007"), htmlAttributes: new { @class = "form-control", @title = Strings.getMSG("Atencion"), data_trigger = "hover", data_toggle = "popover", data_content = Strings.getMSG("IndicadorCreate044") })
                    @Html.ValidationMessageFor(model => model.id_unidad_indicador, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="row">
            <div class="form-group">
                <label class="control-label col-xs-3 col-md-2">@Strings.getMSG("IndicadorCreate008")</label>
                <div class="col-xs-6 col-md-5">
                    @Html.DropDownList("id_control", null, Strings.getMSG("IndicadorCreate009"), htmlAttributes: new { @class = "form-control", @title = Strings.getMSG("Atencion"), data_trigger = "hover", data_toggle = "popover", data_content = Strings.getMSG("IndicadorCreate045") })
                    @Html.ValidationMessageFor(model => model.id_control, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="row">
            <div class="form-group has-error">
                <label class="control-label col-xs-3 col-md-2">@Strings.getMSG("IndicadorCreate010")</label>
                <div class="col-xs-6 col-md-5">
                    <div class="input-group">
                        @Html.EditorFor(model => model.peso, new { htmlAttributes = new { @class = "form-control", data_val_number = Strings.getMSG("IndicadorCreate029"), @type = "number", @value = Model.peso } })
                        <div class="input-group-btn">
                            <button type="button" class="btn btn-default" title="@Strings.getMSG("Atencion")" data-toggle="popover" data-trigger="hover" data-content="@Strings.getMSG("IndicadorCreate046")">
                                <i class="glyphicon glyphicon-question-sign"></i>
                            </button>
                        </div>
                    </div>
                    @Html.ValidationMessageFor(model => model.peso, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="row">
            <div class="form-group has-error">
                <label class="control-label col-xs-3 col-md-2">@Strings.getMSG("IndicadorCreate012")</label>
                <div class="col-xs-3 col-md-2">
                    <div class="input-group">
                        @Html.EditorFor(model => model.umbral000i, new { htmlAttributes = new { @class = "form-control", @placeholder = Strings.getMSG("IndicadorCreate024"), data_val_number = Strings.getMSG("IndicadorCreate029"), @type = "number" } })
                        <div class="input-group-btn">
                            <button type="button" class="btn btn-default" title="@Strings.getMSG("Atencion")" data-toggle="popover" data-trigger="hover" data-content="@Strings.getMSG("IndicadorCreate047")">
                                <i class="glyphicon glyphicon-question-sign"></i>
                            </button>
                        </div>
                    </div>
                    @Html.ValidationMessageFor(model => model.umbral000i, "", new { @class = "text-danger" })
                </div>
                <div class="col-xs-0 col-md-1"></div>
                <div class="col-xs-3 col-md-2">
                    <div class="input-group">
                        @Html.EditorFor(model => model.umbral000f, new { htmlAttributes = new { @class = "form-control", @placeholder = Strings.getMSG("IndicadorCreate025"), data_val_number = Strings.getMSG("IndicadorCreate029"), @type = "number" } })
                        <div class="input-group-btn">
                            <button type="button" class="btn btn-default" title="@Strings.getMSG("Atencion")" data-toggle="popover" data-trigger="hover" data-content="@Strings.getMSG("IndicadorCreate048")">
                                <i class="glyphicon glyphicon-question-sign"></i>
                            </button>
                        </div>
                    </div>
                    @Html.ValidationMessageFor(model => model.umbral000f, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="row">
            <div class="form-group has-error">
                <label class="control-label col-xs-3 col-md-2">@Strings.getMSG("IndicadorCreate015")</label>
                <div class="col-xs-3 col-md-2">
                    <div class="input-group">
                        @Html.EditorFor(model => model.umbral050i, new { htmlAttributes = new { @class = "form-control", @placeholder = Strings.getMSG("IndicadorCreate024"), data_val_number = Strings.getMSG("IndicadorCreate029"), @type = "number" } })
                        <div class="input-group-btn">
                            <button type="button" class="btn btn-default" title="@Strings.getMSG("Atencion")" data-toggle="popover" data-trigger="hover" data-content="@Strings.getMSG("IndicadorCreate049")">
                                <i class="glyphicon glyphicon-question-sign"></i>
                            </button>
                        </div>
                    </div>
                    @Html.ValidationMessageFor(model => model.umbral050i, "", new { @class = "text-danger" })
                </div>
                <div class="col-xs-0 col-md-1"></div>
                <div class="col-xs-3 col-md-2">
                    <div class="input-group">
                        @Html.EditorFor(model => model.umbral050f, new { htmlAttributes = new { @class = "form-control", @placeholder = Strings.getMSG("IndicadorCreate025"), data_val_number = Strings.getMSG("IndicadorCreate029"), @type = "number" } })
                        <div class="input-group-btn">
                            <button type="button" class="btn btn-default" title="@Strings.getMSG("Atencion")" data-toggle="popover" data-trigger="hover" data-content="@Strings.getMSG("IndicadorCreate050")">
                                <i class="glyphicon glyphicon-question-sign"></i>
                            </button>
                        </div>
                    </div>
                    @Html.ValidationMessageFor(model => model.umbral050f, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="row">
            <div class="form-group has-error">
                <label class="control-label col-xs-3 col-md-2">@Strings.getMSG("IndicadorCreate018")</label>
                <div class="col-xs-3 col-md-2">
                    <div class="input-group">
                        @Html.EditorFor(model => model.umbral075i, new { htmlAttributes = new { @class = "form-control", @placeholder = Strings.getMSG("IndicadorCreate024"), data_val_number = Strings.getMSG("IndicadorCreate029"), @type = "number" } })
                        <div class="input-group-btn">
                            <button type="button" class="btn btn-default" title="@Strings.getMSG("Atencion")" data-toggle="popover" data-trigger="hover" data-content="@Strings.getMSG("IndicadorCreate051")">
                                <i class="glyphicon glyphicon-question-sign"></i>
                            </button>
                        </div>
                    </div>
                    @Html.ValidationMessageFor(model => model.umbral075i, "", new { @class = "text-danger" })
                </div>
                <div class="col-xs-0 col-md-1"></div>
                <div class="col-xs-3 col-md-2">
                    <div class="input-group">
                        @Html.EditorFor(model => model.umbral075f, new { htmlAttributes = new { @class = "form-control", @placeholder = Strings.getMSG("IndicadorCreate025"), data_val_number = Strings.getMSG("IndicadorCreate029"), @type = "number" } })
                        <div class="input-group-btn">
                            <button type="button" class="btn btn-default" title="@Strings.getMSG("Atencion")" data-toggle="popover" data-trigger="hover" data-content="@Strings.getMSG("IndicadorCreate052")">
                                <i class="glyphicon glyphicon-question-sign"></i>
                            </button>
                        </div>
                    </div>
                    @Html.ValidationMessageFor(model => model.umbral075f, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="row">
            <div class="form-group has-error">
                <label class="control-label col-xs-3 col-md-2">@Strings.getMSG("IndicadorCreate021")</label>
                <div class="col-xs-3 col-md-2">
                    <div class="input-group">
                        @Html.EditorFor(model => model.umbral100i, new { htmlAttributes = new { @class = "form-control", @placeholder = Strings.getMSG("IndicadorCreate024"), data_val_number = Strings.getMSG("IndicadorCreate029"), @type = "number" } })
                        <div class="input-group-btn">
                            <button type="button" class="btn btn-default" title="@Strings.getMSG("Atencion")" data-toggle="popover" data-trigger="hover" data-content="@Strings.getMSG("IndicadorCreate053")">
                                <i class="glyphicon glyphicon-question-sign"></i>
                            </button>
                        </div>
                    </div>
                    @Html.ValidationMessageFor(model => model.umbral100i, "", new { @class = "text-danger" })
                </div>
                <div class="col-xs-0 col-md-1"></div>
                <div class="col-xs-3 col-md-2">
                    <div class="input-group">
                        @Html.EditorFor(model => model.umbral100f, new { htmlAttributes = new { @class = "form-control", @placeholder = Strings.getMSG("IndicadorCreate025"), data_val_number = Strings.getMSG("IndicadorCreate029"), @type = "number" } })
                        <div class="input-group-btn">
                            <button type="button" class="btn btn-default" title="@Strings.getMSG("Atencion")" data-toggle="popover" data-trigger="hover" data-content="@Strings.getMSG("IndicadorCreate054")">
                                <i class="glyphicon glyphicon-question-sign"></i>
                            </button>
                        </div>
                    </div>
                    @Html.ValidationMessageFor(model => model.umbral100f, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="row">
            <div class="form-group">
                <label class="control-label col-xs-3 col-md-2">@Strings.getMSG("IndicadorIndex001")</label>
                <div class="col-xs-3 col-md-2">
                    <div class="input-group">
                        @Html.EditorFor(model => model.esta_activo, new { htmlAttributes = new { data_toggle = "toggle", data_on = Strings.getMSG("IndicadorIndex001"), data_off = Strings.getMSG("IndicadorCreate032"), data_width = "140" } })
                        <div class="input-group-btn">
                            <button type="button" class="btn btn-default" title="@Strings.getMSG("Atencion")" data-toggle="popover" data-trigger="hover" data-content="@Strings.getMSG("IndicadorCreate055")">
                                <i class="glyphicon glyphicon-question-sign"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="form-group has-error">
                <label class="control-label col-xs-3 col-md-2">@Strings.getMSG("Area")</label>
                <div class="col-xs-6 col-md-5">
                    @Html.DropDownList("id_area", null, Strings.getMSG("IndicadorCreate058"), htmlAttributes: new { @class = "form-control", @title = Strings.getMSG("Atencion"), data_trigger = "hover", data_toggle = "popover", data_content = Strings.getMSG("IndicadorCreate056") })
                    @Html.ValidationMessageFor(model => model.id_area, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="row">
            <div class="form-group has-error">
                <label class="control-label col-xs-3 col-md-2">@Strings.getMSG("Responsable")</label>
                <div class="col-xs-6 col-md-5">
                    @Html.DropDownList("id_responsable", null, Strings.getMSG("lyPCreate009"), htmlAttributes: new { @class = "form-control", @title = Strings.getMSG("Atencion"), data_trigger = "hover", data_toggle = "popover", data_content = Strings.getMSG("IndicadorCreate057") })
                    @Html.ValidationMessageFor(model => model.id_responsable, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="row">
            <div class="form-group">
                <div class="col-xs-offset-2 col-xs-6 col-md-5">
                    <input type="submit" value="@Strings.getMSG("Guardar")" class="btn btn-primary" id="submit" />
                    @Html.ActionLink(Strings.getMSG("Regresar"), "Index", null, new { @class = "btn btn-default" })
                </div>
            </div>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}