@model IEnumerable<SCIRA.Models.c_sub_proceso_benchmark>
@using SCIRA.Utilidades
@{
    Layout = "~/Views/Shared/_LayoutIndex.cshtml";
    ViewBag.Title = "Sub Proceso Benchmark";
}

<h2>@Strings.getMSG("SubProcesoBenchmarkIndex001")</h2>

<p>
    @Html.ActionLink(Strings.getMSG("Agregar"), "Create", null, new { @class = "btn btn-default btn-sm" })
</p>

<table id="results" class="table table-striped table-bordered table-hover">
    <thead>
        <tr>
            <th>
                @Strings.getMSG("Entidad")
            </th>
            <th>
                @Strings.getMSG("ActividadIndex001")
            </th>
            <th>
                @Strings.getMSG("ProcesoBenchmarkIndex001")
            </th>
            <th>
                @Strings.getMSG("Clave")
            </th>
            <th>
                @Strings.getMSG("Nombre")
            </th>
            <th width="50px"></th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @if (item.c_proceso_benchmark.c_actividad.id_entidad == null)
                    {
                        @:General
                    }
                    else
                    {
                        @Html.DisplayFor(modelItem => item.c_proceso_benchmark.c_actividad.c_entidad.cl_entidad)<span> - </span>@Html.DisplayFor(modelItem => item.c_proceso_benchmark.c_actividad.c_entidad.nb_entidad)
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.c_proceso_benchmark.c_actividad.cl_actividad) - @Html.DisplayFor(modelItem => item.c_proceso_benchmark.c_actividad.nb_actividad)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.c_proceso_benchmark.cl_proceso_benchmark) - @Html.DisplayFor(modelItem => item.c_proceso_benchmark.nb_proceso_benchmark)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.cl_sub_proceso_benchmark)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.nb_sub_proceso_benchmark)
                </td>
                <td>
                    <center>
                        <a href="@Url.Action("Edit", new { id = item.id_sub_proceso_benchmark})">
                            <i class="glyphicon glyphicon-pencil" title="@Strings.getMSG("Editar")"></i>
                        </a> |
                        <a href="@Url.Action("Delete", new { id = item.id_sub_proceso_benchmark })">
                            <i class="glyphicon glyphicon-trash" title="@Strings.getMSG("Borrar")"></i>
                        </a>
                    </center>
                </td>
            </tr>
        }
    </tbody>
</table>
