@model SCIRA.Models.k_auditoria
@using SCIRA.Utilidades
@{
    ViewBag.Title = "Editar";
    Layout = "~/Views/Shared/_LayoutIndex.cshtml";

    List<SCIRA.Models.c_campo_auditoria> InfoCamposExtraPA = ViewBag.InfoCamposExtraPA;
    List<SCIRA.Models.c_campo_auditoria> InfoCamposExtraEJ = ViewBag.InfoCamposExtraEJ;
    List<SCIRA.Models.c_campo_auditoria> InfoCamposExtra = ViewBag.InfoCamposExtra;

    Dictionary<int, string> Errors;
    Dictionary<int, string> DCE; //Diccionario Cambos Extra
    Dictionary<int, string> DCEPD; //Diccionario Cambos Extra Planeacion Detallada
    Dictionary<int, string> DCEINF; //Diccionario Cambos Extra Informe

    if (ViewBag.Errors != null)
    {
        Errors = ViewBag.Errors;
    }
    else
    {
        Errors = new Dictionary<int, string>();
    }

    if (ViewBag.DCE != null)
    {
        DCE = ViewBag.DCE;
    }
    else
    {
        DCE = new Dictionary<int, string>();
    }

    if (ViewBag.DCEPD != null)
    {
        DCEPD = ViewBag.DCEPD;
    }
    else
    {
        DCEPD = new Dictionary<int, string>();
    }

    if (ViewBag.DCEINF != null)
    {
        DCEINF = ViewBag.DCEINF;
    }
    else
    {
        DCEINF = new Dictionary<int, string>();
    }

    bool AudRegulada = Model.c_auditoria.es_regulada;
}

<script type="text/javascript" src="~/Scripts/sharedScripts.js"></script>
<link href="~/Content/bootstrap-toggle.min.css" rel="stylesheet" />
<script src="~/Scripts/bootstrap-toggle.min.js"></script>

<link href="~/Content/base.css" rel="stylesheet" />
<link href="~/Content/bootstrap-datetimepicker.css" rel="stylesheet" />

<script type="text/javascript" src="~/Scripts/moment-with-locales.js"></script>
<script type="text/javascript" src="~/Scripts/bootstrap-datetimepicker.js"></script>

<link href="~/Content/font-awesome.min.css" rel="stylesheet" />

<script>
    var url = "@Url.Action("InfoAuditoria")";

    $("document").ready(function () {


        $(".datetimepicker").datetimepicker({
            locale: 'es',
            format: '@ViewBag.DateFormat',
            minDate: "01/01/1900"
        });


    });


</script>



<script src="~/Scripts/dropzone.js"></script>
<script src="~/Scripts/dropzone-config.js"></script>
<link href="~/Content/dropzone.css" rel="stylesheet" />

<script>
    function deleteFile(id,nb_archivo) {
        confirmationModal.initModal({
            title: '@Strings.getMSG("AuditoriaEditSeguimientoObservaciones007") ' + nb_archivo + '?',
            action: 'deleteFileConfirm('+id+')'
        });
    }

    function deleteFileConfirm(id) {
        //eliminar archivo con ajax
        $.ajax({
            dataType: "html",
            type: "post",
            url: '@(Url.Action("DeleteByUser","Archivos"))',
            data: { id },
            success: function (data) {
                if (data == id) {
                    toastr.success("@Strings.getMSG("AuditoriaEditSeguimientoObservaciones008")");
                    //eliminar fila
                    $("#fr" + id).remove();
                }
            },
            error: function (xhr, ajaxOptions, thrownError) {
                toastr.error("@Strings.getMSG("AuditoriaEditSeguimientoObservaciones009")");
            }
        });
    }
</script>


<form id="idAudForm" hidden>
    <input type="text" name="id_auditoria" id="IdAud">
</form>

<h2>@Strings.getMSG("ProcesosAuditoriaIndexInformes003") @Model.c_auditoria.nb_auditoria</h2>

<ul class="nav nav-tabs">
    <li><a href="#pes1" id="pes1b" data-toggle="tab"><h4>@Strings.getMSG("ProcesosAuditoriaEditInforme001")<span id="ind1"></span> </h4></a></li>
    <li><a href="#pes2" data-toggle="tab" id="pes2b"><h4>@Strings.getMSG("ProcesosAuditoriaEditInforme002")<span id="ind2"></span></h4></a></li>
    <li><a href="#pes3" data-toggle="tab" id="pes3b"><h4>@Strings.getMSG("Planeación detallada")<span id="ind3"></span></h4></a></li>
    <li><a href="#pes4" data-toggle="tab" id="pes4b"><h4>@Strings.getMSG("ProcesosAuditoriaEditInforme002")<span id="ind4"></span></h4></a></li>
    <li class="active"><a href="#pes5" data-toggle="tab" id="pes5b"><h4>@Strings.getMSG("Menu108")<span id="ind5"></span></h4></a></li>
</ul>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken();
    @Html.HiddenFor(m => m.idd_auditoria);


    <div id="myTabContent" class="tab-content">
        <div class="tab-pane" id="pes1">
            <div class="form-horizontal well">
                <h4>@Strings.getMSG("ProcesosAuditoriaEditInforme001")</h4>
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                <div class="row ">
                    <div class="form-group">
                        <label class="control-label col-xs-3 col-md-2">@Strings.getMSG("Menu148")</label>
                        <div class="col-xs-6 col-md-5">
                            <div class="input-group">
                                <input type="text" class="form-control disabled" disabled value="@Model.c_auditoria.nb_auditoria" />
                                <div class="input-group-btn">
                                    <button type="button" class="btn btn-default" title="@Strings.getMSG("Atencion")" data-toggle="popover" data-trigger="hover" data-content="@Strings.getMSG("ProcesosAuditoriaEditEjecucion015")">
                                        <i class="glyphicon glyphicon-question-sign"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="form-group">
                        <label class="control-label col-xs-3 col-md-2">@Strings.getMSG("DivisionAuditoria001")</label>
                        <div class="col-xs-6 col-md-5">
                            <div class="input-group">
                                <input type="text" class="form-control disabled" disabled id="DivisionAuditoria" value="@((Model.c_auditoria.id_division_auditoria ?? 0) != 0 ? Model.c_auditoria.c_division_auditoria.ds_division_auditoria : "N/A")" />
                                <div class="input-group-btn">
                                    <button type="button" class="btn btn-default" title="@Strings.getMSG("Atencion")" data-toggle="popover" data-trigger="hover" data-content="@Strings.getMSG("DivisionAuditoria006")">
                                        <i class="glyphicon glyphicon-question-sign"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="form-group">
                        <label class="control-label col-xs-3 col-md-2">@Strings.getMSG("Entidad")</label>
                        <div class="col-xs-6 col-md-5">
                            <div class="input-group">
                                <input type="text" class="form-control disabled" disabled id="Entidad" value="@Model.c_auditoria.c_entidad.nb_entidad" />
                                <div class="input-group-btn">
                                    <button type="button" class="btn btn-default" title="@Strings.getMSG("Atencion")" data-toggle="popover" data-trigger="hover" data-content="@Strings.getMSG("ProcesosAuditoriaEditEjecucion016")">
                                        <i class="glyphicon glyphicon-question-sign"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="form-group">
                        <label class="control-label col-xs-3 col-md-2">@Strings.getMSG("Area")</label>
                        <div class="col-xs-6 col-md-5">
                            <div class="input-group">
                                <input type="text" class="form-control disabled" disabled id="Area" value="@Model.c_auditoria.c_area.nb_area" />
                                <div class="input-group-btn">
                                    <button type="button" class="btn btn-default" title="@Strings.getMSG("Atencion")" data-toggle="popover" data-trigger="hover" data-content="@Strings.getMSG("ProcesosAuditoriaEditEjecucion017")">
                                        <i class="glyphicon glyphicon-question-sign"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="form-group">
                        <label class="control-label col-xs-3 col-md-2">@Strings.getMSG("MCSubProcesoIndex002")</label>
                        <div class="col-xs-6 col-md-5">
                            <div class="input-group">
                                <input type="text" class="form-control disabled" disabled id="Tipo" value="@(Model.c_auditoria.es_regulada ? @Strings.getMSG("AuditoriaIndexUniversoAuditable006"):@Strings.getMSG("AuditoriaIndexUniversoAuditable007"))" />
                                <div class="input-group-btn">
                                    <button type="button" class="btn btn-default" title="@Strings.getMSG("Atencion")" data-toggle="popover" data-trigger="hover" data-content="@Strings.getMSG("ProcesosAuditoriaEditEjecucion018")">
                                        <i class="glyphicon glyphicon-question-sign"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="form-group">
                        <label class="control-label col-xs-3 col-md-2">@Strings.getMSG("AuditoriaIndexUniversoAuditable002")</label>
                        <div class="col-xs-6 col-md-5">
                            <div class="input-group">
                                <input type="text" class="form-control disabled" disabled id="Solicitante" value="@Model.c_auditoria.c_solicitante_auditoria.nb_solicitante_auditoria" />
                                <div class="input-group-btn">
                                    <button type="button" class="btn btn-default" title="@Strings.getMSG("Atencion")" data-toggle="popover" data-trigger="hover" data-content="@Strings.getMSG("ProcesosAuditoriaEditEjecucion019")">
                                        <i class="glyphicon glyphicon-question-sign"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row ">
                    <div class="form-group">
                        <label class="control-label col-xs-3 col-md-2">@Strings.getMSG("ProcesosAuditoriaCreatePlaneacion001")</label>
                        <div class="col-xs-6 col-md-5">
                            <div class="input-group">
                                <input type="text" class="form-control disabled" disabled value="@Model.no_auditores" />
                                <div class="input-group-btn">
                                    <button type="button" class="btn btn-default" title="@Strings.getMSG("Atencion")" data-toggle="popover" data-trigger="hover" data-content="@Strings.getMSG("ProcesosAuditoriaDeletePlaneacion002")">
                                        <i class="glyphicon glyphicon-question-sign"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row ">
                    <div class="form-group">
                        <label class="control-label col-xs-3 col-md-2">@Strings.getMSG("ProcesosAuditoriaIndexPlaneacion005")</label>
                        <div class="col-xs-6 col-md-5">
                            <div class="input-group">
                                <input type="text" class="form-control disabled" disabled value="@Model.no_horas_estimadas" />
                                <div class="input-group-btn">
                                    <button type="button" class="btn btn-default" title="@Strings.getMSG("Atencion")" data-toggle="popover" data-trigger="hover" data-content="@Strings.getMSG("ProcesosAuditoriaDeletePlaneacion003")">
                                        <i class="glyphicon glyphicon-question-sign"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row ">
                    <div class="form-group">
                        <label class="control-label col-xs-3 col-md-2">@Strings.getMSG("ProcesosAuditoriaCreatePlaneacion002")</label>
                        <div class="col-xs-6 col-md-5">
                            <div class="input-group">
                                <input type="text" class="form-control disabled" disabled value="@string.Format("{0:dd/MM/yyyy}",Model.fe_inicial_planeada)" />
                                <div class="input-group-btn">
                                    <button type="button" class="btn btn-default" title="@Strings.getMSG("Atencion")" data-toggle="popover" data-trigger="hover" data-content="@Strings.getMSG("ProcesosAuditoriaDeletePlaneacion004")">
                                        <i class="glyphicon glyphicon-question-sign"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row ">
                    <div class="form-group">
                        <label class="control-label col-xs-3 col-md-2">@Strings.getMSG("ProcesosAuditoriaCreatePlaneacion003")</label>
                        <div class="col-xs-6 col-md-5">
                            <div class="input-group">
                                <input type="text" class="form-control disabled" disabled value="@string.Format("{0:dd/MM/yyyy}",Model.fe_final_planeada)" />
                                <div class="input-group-btn">
                                    <button type="button" class="btn btn-default" title="@Strings.getMSG("Atencion")" data-toggle="popover" data-trigger="hover" data-content="@Strings.getMSG("ProcesosAuditoriaDeletePlaneacion005")">
                                        <i class="glyphicon glyphicon-question-sign"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row ">
                    <div class="form-group">
                        <label class="control-label col-xs-3 col-md-2">@Strings.getMSG("ProcesosAuditoriaCreatePlaneacion004")</label>
                        <div class="col-xs-6 col-md-5">
                            <textarea class="form-control" disabled rows="3">@(Model.justificacion_incumplimiento)</textarea>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="tab-pane" id="pes2">

            <div class="form-horizontal well">
                <h4>@Strings.getMSG("ProcesosAuditoriaCreatePlaneacion014")</h4>
                <hr />

                @foreach (var campo in InfoCamposExtraPA)
                {
                    var val = "";
                    if (DCE.ContainsKey(campo.id_campo_auditoria))
                    {
                        val = DCE[campo.id_campo_auditoria];
                    }

                    if (campo.es_auditoria_regulada && AudRegulada || !campo.es_auditoria_regulada)
                    {
                        <div class="row">
                            <div class="form-group">
                                <label class="control-label col-xs-3 col-md-2">@campo.nb_campo</label>
                                <div class="col-xs-6 col-md-5">

                                    @if (campo.cl_tipo_campo == "t")
                                    {
                                        <div class="input-group">
                                            <input class="form-control text-box single-line" style=" @(campo.cl_color_borde == "0" ? "" : "border-color:" + campo.cl_color_borde + ";") @(campo.cl_color_fondo == "0" ? "" : "background-color:" + campo.cl_color_fondo + ";") " data-val="true" data-val-length="Este campo puede tener hasta @campo.longitud caracteres." data-val-length-max="@campo.longitud" name="campoe[]" type="text" disabled value="@val">
                                            <div class="input-group-btn">
                                                <button type="button" class="btn btn-default" title="" data-toggle="popover" data-trigger="hover" data-content="@(campo.msg_ayuda)." data-original-title="@Strings.getMSG("Atencion")">
                                                    <i class="glyphicon glyphicon-question-sign"></i>
                                                </button>
                                            </div>
                                        </div>
                                    }
                                    else if (campo.cl_tipo_campo == "a")
                                    {
                                        <textarea class="form-control" disabled style=" @(campo.cl_color_borde == "0" ? "" : "border-color:" + campo.cl_color_borde + ";") @(campo.cl_color_fondo == "0" ? "" : "background-color:" + campo.cl_color_fondo + ";") " cols="20" data-content="@(campo.msg_ayuda)." data-toggle="popover" data-trigger="hover" data-val="true" data-val-length="La descripción puede tener hasta @campo.longitud caracteres." data-val-length-max="@campo.longitud" name="campoe[]" rows="5" title="" data-original-title="@Strings.getMSG("Atencion")">@val</textarea>
                                    }
                                    else if (campo.cl_tipo_campo == "n")
                                    {
                                        <div class="input-group">
                                            <input class="form-control text-box single-line" disabled style=" @(campo.cl_color_borde == "0" ? "" : "border-color:" + campo.cl_color_borde + ";") @(campo.cl_color_fondo == "0" ? "" : "background-color:" + campo.cl_color_fondo + ";") " data-val="true" data-val-number="Este campo debe ser numérico" name="campoe[]" type="number" value="@val">
                                            <div class="input-group-btn">
                                                <button type="button" class="btn btn-default" title="" data-toggle="popover" data-trigger="hover" data-content="@(campo.msg_ayuda)." data-original-title="@Strings.getMSG("Atencion")">
                                                    <i class="glyphicon glyphicon-question-sign"></i>
                                                </button>
                                            </div>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                    }

                }

            </div>

        </div>

        <div class="tab-pane" id="pes3">

            <div class="form-horizontal well">

                <h4>@Strings.getMSG("Planeación detallada")</h4>

                <div class="row ">
                    <div class="form-group">
                        <label class="control-label col-xs-3 col-md-2">@Strings.getMSG("ProcesosAuditoriaEditEjecucion003")</label>
                        <div class="col-xs-6 col-md-5">
                            <div class="input-group">
                                <input type="text" class="form-control disabled" disabled value="@Model.antecedentes" />
                                <div class="input-group-btn">
                                    <button type="button" class="btn btn-default" title="@Strings.getMSG("Atencion")" data-toggle="popover" data-trigger="hover" data-content="@Strings.getMSG("ProcesosAuditoriaEditEjecucion009")">
                                        <i class="glyphicon glyphicon-question-sign"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row ">
                    <div class="form-group">
                        <label class="control-label col-xs-3 col-md-2">@Strings.getMSG("ProcesosAuditoriaEditEjecucion004")</label>
                        <div class="col-xs-6 col-md-5">
                            <textarea class="form-control" disabled rows="3">@(Model.datos_relevantes)</textarea>
                        </div>
                    </div>
                </div>

                <div class="row ">
                    <div class="form-group">
                        <label class="control-label col-xs-3 col-md-2">@Strings.getMSG("ProcesosAuditoriaEditInforme004")</label>
                        <div class="col-xs-6 col-md-5">
                            <div class="input-group">
                                <input type="text" class="form-control disabled" disabled value="@Model.responsable_revision" />
                                <div class="input-group-btn">
                                    <button type="button" class="btn btn-default" title="@Strings.getMSG("Atencion")" data-toggle="popover" data-trigger="hover" data-content=@Strings.getMSG("ProcesosAuditoriaEditInforme006")>
                                        <i class="glyphicon glyphicon-question-sign"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row ">
                    <div class="form-group">
                        <label class="control-label col-xs-3 col-md-2">@Strings.getMSG("ProcesosAuditoriaEditEjecucion006")</label>
                        <div class="col-xs-6 col-md-5">
                            <textarea class="form-control" disabled rows="3">@(Model.auditores_participantes)</textarea>
                        </div>
                    </div>
                </div>

                <div class="row ">
                    <div class="form-group">
                        <label class="control-label col-xs-3 col-md-2">@Strings.getMSG("ProcesosAuditoriaEditInforme003")</label>
                        <div class="col-xs-6 col-md-5">
                            <div class="input-group">
                                <input type="text" class="form-control disabled" disabled value="@(string.Format("{0:dd/MM/YYYY}",Model.fe_inicial_real))" />
                                <div class="input-group-btn">
                                    <button type="button" class="btn btn-default" title="@Strings.getMSG("Atencion")" data-toggle="popover" data-trigger="hover" data-content="@Strings.getMSG("ProcesosAuditoriaEditInforme007")">
                                        <i class="glyphicon glyphicon-question-sign"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row ">
                    <div class="form-group">
                        <label class="control-label col-xs-3 col-md-2">@Strings.getMSG("ProcesosAuditoriaEditEjecucion008")</label>
                        <div class="col-xs-6 col-md-5">
                            <div class="input-group">
                                <input type="text" class="form-control disabled" disabled value="@(string.Format("{0:dd/MM/YYYY}",Model.fe_final_real))" />
                                <div class="input-group-btn">
                                    <button type="button" class="btn btn-default" title="@Strings.getMSG("Atencion")" data-toggle="popover" data-trigger="hover" data-content="@Strings.getMSG("ProcesosAuditoriaEditInforme008")">
                                        <i class="glyphicon glyphicon-question-sign"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="tab-pane" id="pes4">
            <div class="form-horizontal well">
                <h4>@Strings.getMSG("ProcesosAuditoriaCreatePlaneacion014")</h4>
                <hr />

                @foreach (var campo in InfoCamposExtraEJ)
                {
                    var val = "";
                    if (DCEPD.ContainsKey(campo.id_campo_auditoria))
                    {
                        val = DCEPD[campo.id_campo_auditoria];
                    }

                    if (campo.es_auditoria_regulada && AudRegulada || !campo.es_auditoria_regulada)
                    {
                        <div class="row">
                            <div class="form-group">
                                <label class="control-label col-xs-3 col-md-2">@campo.nb_campo</label>
                                <div class="col-xs-6 col-md-5">

                                    @if (campo.cl_tipo_campo == "t")
                                    {
                                        <div class="input-group">
                                            <input class="form-control text-box single-line" style=" @(campo.cl_color_borde == "0" ? "" : "border-color:" + campo.cl_color_borde + ";") @(campo.cl_color_fondo == "0" ? "" : "background-color:" + campo.cl_color_fondo + ";") " data-val="true" data-val-length="Este campo puede tener hasta @campo.longitud caracteres." data-val-length-max="@campo.longitud" name="campoe[]" type="text" disabled value="@val">
                                            <div class="input-group-btn">
                                                <button type="button" class="btn btn-default" title="" data-toggle="popover" data-trigger="hover" data-content="@(campo.msg_ayuda)." data-original-title="@Strings.getMSG("Atencion")">
                                                    <i class="glyphicon glyphicon-question-sign"></i>
                                                </button>
                                            </div>
                                        </div>
                                    }
                                    else if (campo.cl_tipo_campo == "a")
                                    {
                                        <textarea class="form-control" disabled style=" @(campo.cl_color_borde == "0" ? "" : "border-color:" + campo.cl_color_borde + ";") @(campo.cl_color_fondo == "0" ? "" : "background-color:" + campo.cl_color_fondo + ";") " cols="20" data-content="@(campo.msg_ayuda)." data-toggle="popover" data-trigger="hover" data-val="true" data-val-length="La descripción puede tener hasta @campo.longitud caracteres." data-val-length-max="@campo.longitud" name="campoe[]" rows="5" title="" data-original-title="@Strings.getMSG("Atencion")">@val</textarea>
                                    }
                                    else if (campo.cl_tipo_campo == "n")
                                    {
                                        <div class="input-group">
                                            <input class="form-control text-box single-line" disabled style=" @(campo.cl_color_borde == "0" ? "" : "border-color:" + campo.cl_color_borde + ";") @(campo.cl_color_fondo == "0" ? "" : "background-color:" + campo.cl_color_fondo + ";") " data-val="true" data-val-number="Este campo debe ser numérico" name="campoe[]" type="number" value="@val">
                                            <div class="input-group-btn">
                                                <button type="button" class="btn btn-default" title="" data-toggle="popover" data-trigger="hover" data-content="@(campo.msg_ayuda)." data-original-title="@Strings.getMSG("Atencion")">
                                                    <i class="glyphicon glyphicon-question-sign"></i>
                                                </button>
                                            </div>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                    }
                }


            </div>

        </div>

        <div class="tab-pane fade active in" id="pes5">

            <div class="form-horizontal well">

                <h4>@Strings.getMSG("Menu155")</h4>

                <div class="row">
                    <div class="form-group has-error">
                        <label class="control-label col-xs-3 col-md-2">Rating</label>
                        <div class="col-xs-6 col-md-5">
                            @Html.DropDownList("id_rating_auditoria", null, Strings.getMSG("ProcesosAuditoriaEditInforme009"), htmlAttributes: new { @class = "form-control", @title = Strings.getMSG("Atencion"), data_toggle = "popover", data_trigger = "hover", data_content = Strings.getMSG("ProcesosAuditoriaEditInforme005") })
                            @Html.ValidationMessageFor(model => model.id_rating_auditoria, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>


                @foreach (var campo in InfoCamposExtra)
                {
                    var val = "";
                    if (DCEINF.ContainsKey(campo.id_campo_auditoria))
                    {
                        val = DCEINF[campo.id_campo_auditoria];
                    }

                    <div class="row">
                        <div class="form-group @(campo.es_requerido ? "has-error":"") ">
                            <label class="control-label col-xs-3 col-md-2">@campo.nb_campo</label>
                            <div class="col-xs-6 col-md-5">

                                @if (campo.cl_tipo_campo == "t")
                                {
                                    <div class="input-group">
                                        <input class="form-control text-box single-line" style=" @(campo.cl_color_borde == "0" ? "" : "border-color:" + campo.cl_color_borde+";") @(campo.cl_color_fondo == "0" ? "" : "background-color:" + campo.cl_color_fondo+";") " data-val="true" data-val-length="Este campo puede tener hasta @campo.longitud caracteres." data-val-length-max="@campo.longitud" name="campoe[]" type="text" value="@val">
                                        <div class="input-group-btn">
                                            <button type="button" class="btn btn-default" title="" data-toggle="popover" data-trigger="hover" data-content="@(campo.msg_ayuda)." data-original-title="@Strings.getMSG("Atencion")">
                                                <i class="glyphicon glyphicon-question-sign"></i>
                                            </button>
                                        </div>
                                    </div>
                                }
                                else if (campo.cl_tipo_campo == "a")
                                {
                                    <textarea class="form-control" style=" @(campo.cl_color_borde == "0" ? "" : "border-color:" + campo.cl_color_borde+";") @(campo.cl_color_fondo == "0" ? "" : "background-color:" + campo.cl_color_fondo+";") " cols="20" data-content="@(campo.msg_ayuda)." data-toggle="popover" data-trigger="hover" data-val="true" data-val-length="La descripción puede tener hasta @campo.longitud caracteres." data-val-length-max="@campo.longitud" name="campoe[]" rows="5" title="" data-original-title="@Strings.getMSG("Atencion")">@val</textarea>
                                }
                                else if (campo.cl_tipo_campo == "n")
                                {
                                    <div class="input-group">
                                        <input class="form-control text-box single-line" style=" @(campo.cl_color_borde == "0" ? "" : "border-color:" + campo.cl_color_borde+";") @(campo.cl_color_fondo == "0" ? "" : "background-color:" + campo.cl_color_fondo+";") " data-val="true" data-val-number="Este campo debe ser numérico" name="campoe[]" type="number" value="@val">
                                        <div class="input-group-btn">
                                            <button type="button" class="btn btn-default" title="" data-toggle="popover" data-trigger="hover" data-content="@(campo.msg_ayuda)." data-original-title="@Strings.getMSG("Atencion")">
                                                <i class="glyphicon glyphicon-question-sign"></i>
                                            </button>
                                        </div>
                                    </div>
                                }

                                <input type="hidden" name="idcampoe[]" value="@campo.id_campo_auditoria" />

                                @if (Errors.ContainsKey(campo.id_campo_auditoria))
                                {
                                    <span class="field-validation-valid text-danger">@Errors[campo.id_campo_auditoria]</span>
                                }
                            </div>
                        </div>
                    </div>
                }


            </div>
        </div>

    </div>

    <div class="row">
        <div class="form-group">
            <div class="col-xs-offset-2 col-xs-6 col-md-5">
                <input type="submit" value="@Strings.getMSG("Guardar")" class="btn btn-primary" />
                @Html.ActionLink(Strings.getMSG("Regresar"), "IndexInformes", null, new { @class = "btn btn-default" })
            </div>
        </div>
    </div>


    <select multiple id="files" name="files" hidden>
    </select>

}

<br />
<br />
<br />

<table class="table table-striped table-bordered table-hover">
    <thead>
        <tr>
            <th>@Strings.getMSG("RevisionControlRevisiones006")</th>
            <th>@Strings.getMSG("BDEIIndex003")</th>
            <th width="80px"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var file in Model.c_archivo1)
        {
            <tr id="fr@(file.id_archivo)">
                <td>@file.nb_archivo</td>
                <td>@file.fe_alta.Value.ToString("dd/MM/yyyy hh:mm:ss")</td>
                <td>
                    <center>
                        <a href="@Url.Action("Download","Archivos", new { id = file.id_archivo})"><i class="fa fa-download" title="@Strings.getMSG("Descargar")"></i></a>|
                        <a onclick="deleteFile(@file.id_archivo,'@file.nb_archivo')"><i class="fa fa-trash" title="@Strings.getMSG("Borrar")"></i></a>
                    </center>
                </td>
            </tr>
        }
    </tbody>
</table>

<h4>@Strings.getMSG("ProcesosAuditoriaEditEjecucion020")</h4>

<div class="row">
    <div class="col-md-12">
        <form action="@Url.Action("Upload","Archivos")"
              class="dropzone"
              data-target="files"
              id="fileUploader"></form>
        <!--data-target es el elemento select multiple a donde se agregaran los ids de los archivos elegidos-->
        <!--el id siempre debera ser fileUploader-->
    </div>
</div>