@model IEnumerable<SCIRA.Models.k_auditoria>
@using SCIRA.Utilidades
@{
    Layout = "~/Views/Shared/_LayoutReporte.cshtml";
    ViewBag.Title = "Planeación anual";

    List<string> años = ViewBag.años;

    if(años.Count == 0)
    {
        años.Add(DateTime.Now.Year.ToString());
    }

    años = años.OrderBy(a => a).ToList();

    var ultimoAño = años.Last();
}


<script>
    var url = '@Url.Action("IndexTablePlaneacion", "ProcesosAuditoria")';
    function setYear(year) {
        toastr.info("Cargando registros del " + year);
        $(".year").removeClass("btn-default");
        $(".y" + year).addClass("btn-default");

        loadInfo(year);
    }

    $(document).ready(function () {
        loadInfo(@ultimoAño);
    });

    function loadInfo(year) {
        $("#TableContainer").load(url + "/?year=" + year);
    }
</script>

<h2>@Strings.getMSG("Menu105")</h2>

<hr />
<div class="row">
    @foreach (var item in años)
    {

        <button class="btn @(item == ultimoAño ? "btn-default":"") my-4 y@(item) year" onclick="setYear(@item)">@item</button>
    }
</div>

<hr />




<p>
    @Html.ActionLink(Strings.getMSG("Agregar"), "CreatePlaneacion", "ProcesosAuditoria", new { @class = "btn btn-default btn-sm" })
</p>
<div id="TableContainer">
</div>