@model IEnumerable<SCIRA.Models.k_auditoria>
@using SCIRA.Utilidades
@{
    Layout = "~/Views/Shared/_LayoutReporte.cshtml";
    ViewBag.Title = @Strings.getMSG("lyPInformesIndex001");
}

<h2>@Strings.getMSG("Menu108")</h2>

<table id="results" class="results table table-striped table-bordered table-hover">
    <thead>
        <tr>
            <th>@Strings.getMSG("Entidad")</th>
            <th>@Strings.getMSG("AuditoriaIndexUniversoAuditable001")</th>
            <th>@Strings.getMSG("ProcesosAuditoriaIndexPlaneacion001")</th>
            <th>@Strings.getMSG("ProcesosAuditoriaIndexPlaneacion002")</th>
            <th>@Strings.getMSG("DivisionAuditoria001")</th>
            <th>@Strings.getMSG("ProcesosAuditoriaCreatePlaneacion002")</th>
            <th>@Strings.getMSG("ProcesosAuditoriaCreatePlaneacion003")</th>
            <th>@Strings.getMSG("ProcesosAuditoriaIndexEjecucion001")</th>
            <th>@Strings.getMSG("ProcesosAuditoriaIndexEjecucion002")</th>
            <th>@Strings.getMSG("ProcesosAuditoriaIndexInformes002")</th>
            <th width="90">@Strings.getMSG("RevisionControlRevisiones003")</th>
            <th width="80"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            var auditoria = item.c_auditoria;
            var entidad = auditoria.c_entidad;
            
        <tr>
            <td>@entidad.nb_entidad</td>
            <td>@(auditoria.es_regulada ? Strings.getMSG("AuditoriaIndexUniversoAuditable006"):Strings.getMSG("AuditoriaIndexUniversoAuditable009"))</td>
            <td>@auditoria.c_solicitante_auditoria.nb_solicitante_auditoria</td>
            <td>@auditoria.nb_auditoria</td>
            <td>@((auditoria.id_division_auditoria ?? 0) != 0 ? auditoria.c_division_auditoria.ds_division_auditoria : "N/A")</td>
            <td>@string.Format("{0:dd/MM/yyyy}", item.fe_inicial_planeada)</td>
            <td>@string.Format("{0:dd/MM/yyyy}", item.fe_final_planeada)</td>
            <td>@string.Format("{0:dd/MM/yyyy}", item.fe_inicial_real)</td>
            <td>@string.Format("{0:dd/MM/yyyy}", item.fe_final_real)</td>
            <td>@item.fe_inicial_planeada.Value.Year</td>
            <td>
                @foreach (var file in item.c_archivo1)
                {
                    <a href="@Url.Action("Download","Archivos", new { id = file.id_archivo})"><i class="fa fa-file@(SCIRA.Utilidades.Utilidades.getFileClass(file))" title="@file.nb_archivo"></i></a>
                }
                @if (item.c_archivo1.Count() == 0)
                {
                    @:@Strings.getMSG("ProcesosAuditoriaIndexEjecucion003")
                }
            </td>
            <td>
                <center>
                    <a href="@Url.Action("EditInforme", new { id = item.idd_auditoria })">
                        <i class="glyphicon glyphicon-pencil" title="@Strings.getMSG("Editar Informe")"></i>
                    </a>
                    |
                    <a onclick="generateInf('@auditoria.nb_auditoria',@item.idd_auditoria)">
                        <i class="fa fa-file-pdf-o" title="@Strings.getMSG("Generar Informe")"></i>
                    </a>

                    |
                    <a href="@Url.Action("InformeDefinitivo", new { id = item.idd_auditoria })">
                        <i class="fa fa-file-pdf-o" title="@Strings.getMSG("Informe Definitivo")"></i>
                    </a>
                </center>
            </td>
        </tr>
        }
    </tbody>
</table>



<script>
    function generateInf(nbAud,id) {

        var options = {
            title: "@Strings.getMSG("ProcesosAuditoriaIndexInformes003")" + nbAud,
            size: "lg",
            show: true,
            loadUrl: "@Url.Action("Informe","ProcesosAuditoria")/?id=" + id
        };

        menuModal.initModal(options);
    }
</script>