@model SCIRA.Models.k_certificacion_estructura
@using SCIRA.Models;
@using SCIRA.Utilidades
@{
    ViewBag.Title = "Certificar Macro Proceso";
    Layout = "~/Views/Shared/_LayoutIndex.cshtml";

    c_macro_proceso MP = ViewBag.MP;
}

<link href="~/Content/bootstrap-toggle.min.css" rel="stylesheet" />
<script src="~/Scripts/bootstrap-toggle.min.js"></script>


<script src="~/Scripts/dropzone.js"></script>
<script src="~/Scripts/dropzone-config.js"></script>
<link href="~/Content/dropzone.css" rel="stylesheet" />


@using (Html.BeginForm("Certificar", null, FormMethod.Post, new { onsubmit = "deshabilitar();" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal well">
        <h4>@Strings.getMSG("CertificarMacroProceso001") @MP.nb_macro_proceso</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.id_macro_proceso)
        @Html.HiddenFor(model => model.id_periodo_certificacion)
        @Html.HiddenFor(model => model.leyenda_certificacion_estructura)

        <div class="row">
            <div class="form-group">
                <label class="control-label col-xs-3 col-md-2">@Strings.getMSG("EvaluacionIndicadorEvaluaciones002")</label>
                <div class="col-xs-6 col-md-5">
                    <input class="form-control" id="MP" type="text" value="@ViewBag.nb_periodo_certificacion" disabled="">
                </div>
            </div>
        </div>

        <div class="row">
            <div class="form-group">
                <label class="control-label col-xs-3 col-md-2">@Strings.getMSG("CertificacionesEntidad005")</label>
                <div class="col-xs-6 col-md-5">
                    <textarea class="form-control" readonly data-content="@Strings.getMSG("CertificacionesEntidad005")" data-toggle="popover" data-trigger="hover" rows="7" title="" data-original-title="@Strings.getMSG("Atencion")">@Model.leyenda_certificacion_estructura</textarea>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="form-group">
                <label class="control-label col-xs-2 col-md-2">@Strings.getMSG("CertificacionesEntidad006")</label>
                <div class="col-xs-2 col-md-2">
                    <div class="input-group">
                        @Html.EditorFor(model => model.resultado, new { htmlAttributes = new { data_toggle = "toggle", data_on = Strings.getMSG("UsuarioIndex004"), data_off = Strings.getMSG("UsuarioIndex005"), data_width = "140" } })
                        <div class="input-group-btn">
                            <button type="button" class="btn btn-default" title="@Strings.getMSG("Atencion")" data-toggle="popover" data-trigger="hover" data-content="@Strings.getMSG("CertificacionCertificar021")">
                                <i class="glyphicon glyphicon-question-sign"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="form-group">
                <label class="control-label col-xs-3 col-md-2">@Strings.getMSG("lyPSeguimientoCreate002")</label>
                <div class="col-xs-6 col-md-5">
                    @Html.TextAreaFor(model => model.comentarios, new { @class = "form-control", @rows = "3", @title = Strings.getMSG("Atencion"), data_toggle = "popover", data_trigger = "hover", data_content = Strings.getMSG("CertificacionCertificar022") })
                    @Html.ValidationMessageFor(model => model.comentarios, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>


        @if (ViewBag.Error != null)
        {

            <div class="row">
                <div class="col-xs-offset-2 col-xs-6 col-md-5">
                    <p class="danger">
                        <span class="text-danger">@ViewBag.Error</span>
                    </p>
                </div>
            </div>

            <div class="row">
                <div class="form-group">
                    <div class="col-xs-offset-2 col-xs-6 col-md-5">
                        <input type="submit" value="@Strings.getMSG("Guardar")" class="btn btn-primary" id="submit" disabled="" />
                        @Html.ActionLink(Strings.getMSG("Regresar"), "Certificados", new { id = Model.id_macro_proceso }, new { @class = "btn btn-default" })
                    </div>
                </div>
            </div>
        }
        else
        {
            <div class="row">
                <div class="form-group">
                    <div class="col-xs-offset-2 col-xs-6 col-md-5">
                        <input type="submit" value="@Strings.getMSG("Guardar")" class="btn btn-primary" id="submit" />
                        @Html.ActionLink(Strings.getMSG("Regresar"), "Certificados", new { id = Model.id_macro_proceso }, new { @class = "btn btn-default" })
                    </div>
                </div>
            </div>
        }
    </div>

    <select multiple id="files" name="files" hidden>
    </select>
}

<h4>@Strings.getMSG("CertificacionCertificar023")</h4>

<div class="row">
    <div class="col-md-12">
        <form action="@Url.Action("Upload","Archivos")"
              class="dropzone"
              data-target="files"
              id="fileUploader"></form>
        <!--data-target es el elemento select multiple a donde se agregaran los ids de los archivos elegidos-->
        <!--el id siempre debera ser fileUploader-->
    </div>
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
