@using SCIRA.Models
@using System.Reflection
@using SCIRA.Utilidades
@{
    ViewBag.Title = "Reporte de Cambios en Riesgos y Controles";
    Layout = "~/Views/Shared/_LayoutReporte.cshtml";
    SICIEntities db = new SICIEntities();

    int NRM = 1;
    int NCM = 1;

    List<k_riesgo> riesgos = ViewBag.riesgos;
    List<k_control> controles = ViewBag.controles;

    List<c_meta_campo> CER = ViewBag.CamposExtraRiesgo;
    List<c_meta_campo> CEC = ViewBag.CamposExtraControl;

    Type m_tipo = null;
    PropertyInfo[] m_propiedades = null;
    PropertyInfo[] m_propiedades_a = null;
}

<h2>@Strings.getMSG("Historial de cambios")</h2>

<ul class="nav nav-tabs">
    <li class="active"><a href="#cnl" data-toggle="tab"><h4>@Strings.getMSG("Riesgos")</h4></a></li>
    <li><a href="#cnnl" data-toggle="tab"><h4>@Strings.getMSG("Controles")</h4></a></li>
</ul>

<div id="myTabContent" class="tab-content">


    <div class="tab-pane fade active in" id="cnl">

        <br><br>

        <table class="results table table-striped table-bordered table-hover">
            <thead>
                <tr>
                    <th>@Strings.getMSG("Entidad")</th>
                    <th>@Strings.getMSG("ReporteEstructuraIndex001")</th>
                    <th>@Strings.getMSG("MP")</th>
                    <th>@Strings.getMSG("ReporteEstructuraIndex002")</th>
                    <th>@Strings.getMSG("P")</th>
                    <th>@Strings.getMSG("ReporteEstructuraIndex003")</th>
                    <th>@Strings.getMSG("SP")</th>
                    <th>@Strings.getMSG("RiesgoCreate037")</th>
                    <th>@Strings.getMSG("RiesgoRiesgos002")</th>
                    <th>@Strings.getMSG("EventoRiesgoIndex001")</th>
                    <th>@Strings.getMSG("RiesgoCreate121")</th>
                    <th>@Strings.getMSG("ReporteMRyCIndex022")</th>
                    <th>@Strings.getMSG("ReporteMRyCIndex023")</th>
                    <th>@Strings.getMSG("RiesgoCreate122")</th>
                    <th>@Strings.getMSG("RiesgoCreate123")</th>
                    <th>@Strings.getMSG("RiesgoCreate124")</th>
                    <th>@Strings.getMSG("Menu025")</th>
                    <th>@Strings.getMSG("Menu023")</th>
                    <th>@Strings.getMSG("Menu026")</th>
                    <th>@Strings.getMSG("ReporteMRyCIndex004")</th>
                    <th>@Strings.getMSG("RiesgoCreate005")</th>
                    <th>@Strings.getMSG("RiesgoCreate098")</th>
                    @for (int i = 0; i < 20; i++)
                    {
                        var ce = CER[i];
                        if (ce.es_visible)
                        {
                            <th>@ce.nb_campo</th>
                        }
                    }
                    <th>@Strings.getMSG("ReporteCambiosMRyCIndex002")</th>
                    <th>@Strings.getMSG("RiesgoHistorial003")</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var riesgo in riesgos)
                {
                    bool MG = riesgo.c_sub_proceso.c_proceso.c_macro_proceso.cl_macro_proceso.Substring(0, 2) == "MG";
                    var registros = riesgo.r_riesgo.ToList().OrderByDescending(ri => ri.fe_modificacion);
                    var riesgoA = registros.First();
                    int count = registros.Count();

                <tr>
                    <td>@riesgo.c_sub_proceso.c_proceso.c_macro_proceso.c_entidad.cl_entidad - @riesgo.c_sub_proceso.c_proceso.c_macro_proceso.c_entidad.nb_entidad</td>
                    <td>@riesgo.c_sub_proceso.c_proceso.c_macro_proceso.c_entidad.c_usuario.nb_usuario</td>
                    <td>@riesgo.c_sub_proceso.c_proceso.c_macro_proceso.cl_macro_proceso - @riesgo.c_sub_proceso.c_proceso.c_macro_proceso.nb_macro_proceso</td>
                    <td>@riesgo.c_sub_proceso.c_proceso.c_macro_proceso.c_usuario.nb_usuario</td>
                    <td>@riesgo.c_sub_proceso.c_proceso.cl_proceso - @riesgo.c_sub_proceso.c_proceso.nb_proceso</td>
                    <td>@riesgo.c_sub_proceso.c_proceso.c_usuario.nb_usuario</td>
                    <td>@riesgo.c_sub_proceso.cl_sub_proceso - @riesgo.c_sub_proceso.nb_sub_proceso</td>
                    <td>@riesgo.c_sub_proceso.c_usuario.nb_usuario</td>
                    <td @(riesgo.nb_riesgo == riesgoA.nb_riesgo ? "" : "style=background-color:yellow;")>@riesgo.nb_riesgo @(riesgo.nb_riesgo == riesgoA.nb_riesgo ? "" : "(cambió)")</td>
                    <td @(riesgo.evento == riesgoA.evento ? "" : "style=background-color:yellow;")>@riesgo.evento @(riesgo.evento == riesgoA.evento ? "" : "(cambió)")</td>
                    @if (!MG)
                    {
                        <td @(riesgo.c_tipo_riesgo.c_categoria_riesgo == riesgoA.c_tipo_riesgo.c_categoria_riesgo ? "" : "style=background-color:yellow;")>@riesgo.c_tipo_riesgo.c_categoria_riesgo.cl_categoria_riesgo - @riesgo.c_tipo_riesgo.c_categoria_riesgo.nb_categoria_riesgo @(riesgo.c_tipo_riesgo.c_categoria_riesgo == riesgoA.c_tipo_riesgo.c_categoria_riesgo ? "" : "(Cambió)")</td>
                        <td @(riesgo.c_tipo_riesgo == riesgoA.c_tipo_riesgo ? "" : "style=background-color:yellow;")>@riesgo.c_tipo_riesgo.cl_tipo_riesgo - @riesgo.c_tipo_riesgo.nb_tipo_riesgo @(riesgo.c_tipo_riesgo == riesgoA.c_tipo_riesgo ? "" : "(Cambió)")</td>
                        <td @(riesgo.c_tipologia_riesgo.c_sub_clase_tipologia_riesgo == riesgoA.c_tipologia_riesgo.c_sub_clase_tipologia_riesgo ? "" : "style=background-color:yellow;")>@riesgo.c_tipologia_riesgo.c_sub_clase_tipologia_riesgo.c_clase_tipologia_riesgo.cl_clase_tipologia_riesgo - @riesgo.c_tipologia_riesgo.c_sub_clase_tipologia_riesgo.c_clase_tipologia_riesgo.nb_clase_tipologia_riesgo @(riesgo.c_tipologia_riesgo.c_sub_clase_tipologia_riesgo == riesgoA.c_tipologia_riesgo.c_sub_clase_tipologia_riesgo ? "" : "(Cambió)")</td>
                        <td @(riesgo.c_tipologia_riesgo.c_sub_clase_tipologia_riesgo == riesgoA.c_tipologia_riesgo.c_sub_clase_tipologia_riesgo ? "" : "style=background-color:yellow;")>@riesgo.c_tipologia_riesgo.c_sub_clase_tipologia_riesgo.cl_sub_clase_tipologia_riesgo - @riesgo.c_tipologia_riesgo.c_sub_clase_tipologia_riesgo.nb_sub_clase_tipologia_riesgo @(riesgo.c_tipologia_riesgo.c_sub_clase_tipologia_riesgo == riesgoA.c_tipologia_riesgo.c_sub_clase_tipologia_riesgo ? "" : "(Cambió)")</td>
                        <td @(riesgo.c_tipologia_riesgo == riesgoA.c_tipologia_riesgo ? "" : "style=background-color:yellow;")>@riesgo.c_tipologia_riesgo.cl_tipologia_riesgo - @riesgo.c_tipologia_riesgo.nb_tipologia_riesgo @(riesgo.c_tipologia_riesgo == riesgoA.c_tipologia_riesgo ? "" : "(Cambió)")</td>
                        <td @(riesgo.c_tipo_impacto == riesgoA.c_tipo_impacto ? "" : "style=background-color:yellow;")>@riesgo.c_tipo_impacto.cl_tipo_impacto - @riesgo.c_tipo_impacto.nb_tipo_impacto @(riesgo.c_tipo_impacto == riesgoA.c_tipo_impacto ? "" : "(Cambió)")</td>
                        <td @(riesgo.c_magnitud_impacto == riesgoA.c_magnitud_impacto ? "" : "style=background-color:yellow;")>@riesgo.c_magnitud_impacto.cl_magnitud_impacto - @riesgo.c_magnitud_impacto.nb_magnitud_impacto @(riesgo.c_magnitud_impacto == riesgoA.c_magnitud_impacto ? "" : "(Cambió)")</td>
                        <td @(riesgo.c_probabilidad_ocurrencia == riesgoA.c_probabilidad_ocurrencia ? "" : "style=background-color:yellow;")>@riesgo.c_probabilidad_ocurrencia.cl_probabilidad_ocurrencia - @riesgo.c_probabilidad_ocurrencia.nb_probabilidad_ocurrencia @(riesgo.c_probabilidad_ocurrencia == riesgoA.c_probabilidad_ocurrencia ? "" : "(Cambió)")</td>
                        <td @(riesgo.criticidad == riesgoA.criticidad ? "" : "style=background-color:yellow;")>@riesgo.criticidad @(riesgo.criticidad == riesgoA.criticidad ? "" : "(Cambió)")</td>
                        <td @(riesgo.tiene_afectacion_contable == riesgoA.tiene_afectacion_contable ? "" : "style=background-color:yellow;")>@(riesgo.tiene_afectacion_contable ? "Si" : "No") @(riesgo.tiene_afectacion_contable == riesgoA.tiene_afectacion_contable ? "" : "(Cambió)")</td>
                        <td @(riesgo.supuesto_normativo == riesgoA.supuesto_normativo ? "" : "style=background-color:yellow;")>@riesgo.supuesto_normativo @(riesgo.supuesto_normativo == riesgoA.supuesto_normativo ? "" : "(Cambió)")</td>
                        <td @(riesgo.euc == riesgoA.euc ? "" : "style=background-color:yellow;")>@riesgo.euc @(riesgo.euc == riesgoA.euc ? "" : "(Cambió)")</td>

                    }
                    else
                    {
                        <td>N/A</td>
                        <td>N/A</td>
                        <td>N/A</td>
                        <td>N/A</td>
                        <td>N/A</td>
                        <td>N/A</td>
                        <td>N/A</td>
                        <td>N/A</td>
                        <td>N/A</td>
                        <td>N/A</td>
                        <td>N/A</td>
                        <td>N/A</td>

                    }
                    <!-- Campos extra riesgo original -->
                    @{
                        m_tipo = riesgo.GetType();
                        m_propiedades = m_tipo.GetProperties();
                        m_tipo = riesgoA.GetType();
                        m_propiedades_a = m_tipo.GetProperties();
                        for (int i = 0; i < 20; i++)
                        {
                            var ce = CER[i];
                            var prop = m_propiedades.Where(m => m.Name == string.Format("campo{0:00}", i + 1)).First();
                            var propA = m_propiedades_a.Where(m => m.Name == string.Format("campo{0:00}", i + 1)).First();
                            var v1 = "";
                            var v2 = "";

                            if (MG)
                            {
                                if (ce.es_visible && ce.aparece_en_mg)
                                {
                                    try
                                    {
                                        v1 = (string)prop.GetValue(riesgo, null);
                                    }
                                    catch
                                    {
                                        v1 = "";
                                    }
                                    try
                                    {
                                        v2 = (string)propA.GetValue(riesgoA, null);
                                    }
                                    catch
                                    {
                                        v2 = "";
                                    }
                                    <td @(v1 == v2 ? "" : "style=background-color:yellow;")>@v1 @(v1 == v2 ? "":"(cambió)")</td>
                                }
                                else if (ce.es_visible)
                                {
                                    <td>N/A</td>
                                }
                            }
                            else
                            {
                                if (ce.es_visible)
                                {
                                    try
                                    {
                                        v1 = (string)prop.GetValue(riesgo, null);
                                    }
                                    catch
                                    {
                                        v1 = "";
                                    }
                                    try
                                    {
                                        v2 = (string)propA.GetValue(riesgoA, null);
                                    }
                                    catch
                                    {
                                        v2 = "";
                                    }
                                    <td @(v1 == v2 ? "" : "style=background-color:yellow;")>@v1 @(v1 == v2 ? "" : "(cambió)")</td>
                                }
                            }
                        }
                    }
                    <td>N/A</td>
                    <td>N/A</td>
                </tr>

                        for (int i = 0; i < NRM; i++)//Solamente mostramos 1 registro
                        {

                            var registro = registros.ElementAt(i);
                            r_riesgo registroA;
                            if (i < NRM - 1)
                            {
                                registroA = registros.ElementAt(i + 1);
                            }
                            else
                            {
                                registroA = registro;
                            }

            <tr>
                <td>@riesgo.c_sub_proceso.c_proceso.c_macro_proceso.c_entidad.cl_entidad - @riesgo.c_sub_proceso.c_proceso.c_macro_proceso.c_entidad.nb_entidad</td>
                <td>@riesgo.c_sub_proceso.c_proceso.c_macro_proceso.c_entidad.c_usuario.nb_usuario</td>
                <td>@riesgo.c_sub_proceso.c_proceso.c_macro_proceso.cl_macro_proceso - @riesgo.c_sub_proceso.c_proceso.c_macro_proceso.nb_macro_proceso</td>
                <td>@riesgo.c_sub_proceso.c_proceso.c_macro_proceso.c_usuario.nb_usuario</td>
                <td>@riesgo.c_sub_proceso.c_proceso.cl_proceso - @riesgo.c_sub_proceso.c_proceso.nb_proceso</td>
                <td>@riesgo.c_sub_proceso.c_proceso.c_usuario.nb_usuario</td>
                <td>@riesgo.c_sub_proceso.cl_sub_proceso - @riesgo.c_sub_proceso.nb_sub_proceso</td>
                <td>@riesgo.c_sub_proceso.c_usuario.nb_usuario</td>
                <td @(registro.nb_riesgo == registroA.nb_riesgo ? "" : "style=background-color:yellow;")>@registro.nb_riesgo</td>
                <td @(registro.evento == registroA.evento ? "" : "style=background-color:yellow;")>@registro.evento</td>
                @if (!MG)
                {
                    <td @(registro.c_tipo_riesgo.c_categoria_riesgo == registroA.c_tipo_riesgo.c_categoria_riesgo ? "" : "style=background-color:yellow;")>@registro.c_tipo_riesgo.c_categoria_riesgo.cl_categoria_riesgo - @registro.c_tipo_riesgo.c_categoria_riesgo.nb_categoria_riesgo</td>
                    <td @(registro.c_tipo_riesgo == registroA.c_tipo_riesgo ? "" : "style=background-color:yellow;")>@registro.c_tipo_riesgo.cl_tipo_riesgo - @registro.c_tipo_riesgo.nb_tipo_riesgo</td>
                    <td @(registro.c_tipologia_riesgo.c_sub_clase_tipologia_riesgo.c_clase_tipologia_riesgo == registroA.c_tipologia_riesgo.c_sub_clase_tipologia_riesgo.c_clase_tipologia_riesgo ? "" : "style=background-color:yellow;")>@registro.c_tipologia_riesgo.c_sub_clase_tipologia_riesgo.c_clase_tipologia_riesgo.cl_clase_tipologia_riesgo - @registro.c_tipologia_riesgo.c_sub_clase_tipologia_riesgo.c_clase_tipologia_riesgo.nb_clase_tipologia_riesgo</td>
                    <td @(registro.c_tipologia_riesgo.c_sub_clase_tipologia_riesgo == registroA.c_tipologia_riesgo.c_sub_clase_tipologia_riesgo ? "" : "style=background-color:yellow;")>@registro.c_tipologia_riesgo.c_sub_clase_tipologia_riesgo.cl_sub_clase_tipologia_riesgo - @registro.c_tipologia_riesgo.c_sub_clase_tipologia_riesgo.nb_sub_clase_tipologia_riesgo</td>
                    <td @(registro.c_tipologia_riesgo == registroA.c_tipologia_riesgo ? "" : "style=background-color:yellow;")>@registro.c_tipologia_riesgo.cl_tipologia_riesgo - @registro.c_tipologia_riesgo.nb_tipologia_riesgo</td>
                    <td @(registro.c_tipo_impacto == registroA.c_tipo_impacto ? "" : "style=background-color:yellow;")>@registro.c_tipo_impacto.cl_tipo_impacto - @registro.c_tipo_impacto.nb_tipo_impacto</td>
                    <td @(registro.c_magnitud_impacto == registroA.c_magnitud_impacto ? "" : "style=background-color:yellow;")>@registro.c_magnitud_impacto.cl_magnitud_impacto - @registro.c_magnitud_impacto.nb_magnitud_impacto</td>
                    <td @(registro.c_probabilidad_ocurrencia == registroA.c_probabilidad_ocurrencia ? "" : "style=background-color:yellow;")>@registro.c_probabilidad_ocurrencia.cl_probabilidad_ocurrencia - @registro.c_probabilidad_ocurrencia.nb_probabilidad_ocurrencia</td>
                    <td @(registro.criticidad == registroA.criticidad ? "" : "style=background-color:yellow;")>@registro.criticidad</td>
                    <td @(registro.tiene_afectacion_contable == registroA.tiene_afectacion_contable ? "" : "style=background-color:yellow;")>@(registro.tiene_afectacion_contable ? Strings.getMSG("UsuarioIndex004") : Strings.getMSG("UsuarioIndex004"))</td>
                    <td @(registro.supuesto_normativo == registroA.supuesto_normativo ? "" : "style=background-color:yellow;")>@registro.supuesto_normativo</td>
                    <td @(registro.euc == registroA.euc ? "" : "style=background-color:yellow;")>@registro.euc</td>
                }
                else
                {
                    <td>N/A</td>
                    <td>N/A</td>
                    <td>N/A</td>
                    <td>N/A</td>
                    <td>N/A</td>
                    <td>N/A</td>
                    <td>N/A</td>
                    <td>N/A</td>
                    <td>N/A</td>
                    <td>N/A</td>
                    <td>N/A</td>
                    <td>N/A</td>
                }
                <!-- Campos extra registros riesgos -->
                @{
                    m_tipo = registro.GetType();
                    m_propiedades = m_tipo.GetProperties();
                    m_tipo = registroA.GetType();
                    m_propiedades_a = m_tipo.GetProperties();
                    for (int j = 0; j < 20; j++)
                    {
                        var prop = m_propiedades.Where(m => m.Name == string.Format("campo{0:00}", j + 1)).First();
                        var propA = m_propiedades_a.Where(m => m.Name == string.Format("campo{0:00}", j + 1)).First();
                        var ce = CER[j];
                        var v1 = "";
                        var v2 = "";

                        if (MG)
                        {
                            if (ce.es_visible && ce.aparece_en_mg)
                            {
                                try
                                {
                                    v1 = (string)prop.GetValue(registro, null);
                                }
                                catch
                                {
                                    v1 = "";
                                }
                                try
                                {
                                    v2 = (string)prop.GetValue(registroA, null);
                                }
                                catch
                                {
                                    v2 = "";
                                }
                                <td @(v1 == v2 ? "" : "style=background-color:yellow;")>@v1</td>
                            }
                            else if (ce.es_visible)
                            {
                                <td>N/A</td>
                            }
                        }
                        else
                        {
                            if (ce.es_visible)
                            {
                                try
                                {
                                    v1 = (string)prop.GetValue(registro, null);
                                }
                                catch
                                {
                                    v1 = "";
                                }
                                try
                                {
                                    v2 = (string)prop.GetValue(registroA, null);
                                }
                                catch
                                {
                                    v2 = "";
                                }
                                <td @(v1 == v2 ? "" : "style=background-color:yellow;")>@v1</td>
                            }
                        }
                    }
                }


                <td>@string.Format("{0:dd/MM/yyyy}", registro.fe_modificacion)</td>
                <td>@registro.c_usuario.nb_usuario</td>
            </tr>
                    }
                }
            </tbody>
        </table>

    </div>


    <div class="tab-pane" id="cnnl">

        <br><br>

        <table class="results table table-striped table-bordered table-hover">
            <thead>
                <tr>
                    <th>@Strings.getMSG("Entidad")</th>
                    <th>@Strings.getMSG("ReporteEstructuraIndex001")</th>
                    <th>@Strings.getMSG("MP")</th>
                    <th>@Strings.getMSG("ReporteEstructuraIndex002")</th>
                    <th>@Strings.getMSG("P")</th>
                    <th>@Strings.getMSG("ReporteEstructuraIndex003")</th>
                    <th>@Strings.getMSG("SP")</th>
                    <th>@Strings.getMSG("RiesgoCreate037")</th>
                    <th>@Strings.getMSG("RiesgoRiesgos002")</th>
                    <th>@Strings.getMSG("RiesgoCreate084")</th>
                    <th>@Strings.getMSG("ReporteCambiosMRyCIndex003")</th>
                    <th>@Strings.getMSG("RevisionControlCreate037")</th>
                    <th>@Strings.getMSG("RiesgoCreate087")</th>
                    <th>@Strings.getMSG("RiesgoCreate088")</th>
                    <th>@Strings.getMSG("RiesgoCreate089")</th>
                    <th>@Strings.getMSG("Menu030")</th>
                    <th>@Strings.getMSG("Menu031")</th>
                    <th>@Strings.getMSG("Menu032")</th>
                    <th>@Strings.getMSG("RiesgoCreate090")</th>
                    <th>@Strings.getMSG("Menu033")</th>
                    <th>@Strings.getMSG("Menu034")</th>
                    <th>@Strings.getMSG("Menu035")</th>
                    @for (int i = 0; i < 20; i++)
                    {
                        var ce = CEC[i];
                        if (ce.es_visible)
                        {
                            <th>@ce.nb_campo</th>
                        }
                    }
                    <th>@Strings.getMSG("ReporteCambiosMRyCIndex002")</th>
                    <th>@Strings.getMSG("RiesgoHistorial003")</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var control in controles)
                {
                    bool MG = control.c_sub_proceso.c_proceso.c_macro_proceso.cl_macro_proceso.Substring(0, 2) == "MG";
                    bool AC = control.tiene_accion_correctora;
                    var registros = control.r_control.ToList().OrderByDescending(ri => ri.fe_modificacion);
                    var controlA = registros.First();
                    var riesgo = control.k_riesgo.First();
                    int count = registros.Count();

                <tr>
                    <td>@control.c_sub_proceso.c_proceso.c_macro_proceso.c_entidad.cl_entidad - @control.c_sub_proceso.c_proceso.c_macro_proceso.c_entidad.nb_entidad</td>
                    <td>@control.c_sub_proceso.c_proceso.c_macro_proceso.c_entidad.c_usuario.nb_usuario</td>
                    <td>@control.c_sub_proceso.c_proceso.c_macro_proceso.cl_macro_proceso - @control.c_sub_proceso.c_proceso.c_macro_proceso.nb_macro_proceso</td>
                    <td>@control.c_sub_proceso.c_proceso.c_macro_proceso.c_usuario.nb_usuario</td>
                    <td>@control.c_sub_proceso.c_proceso.cl_proceso - @control.c_sub_proceso.c_proceso.nb_proceso</td>
                    <td>@control.c_sub_proceso.c_proceso.c_usuario.nb_usuario</td>
                    <td>@control.c_sub_proceso.cl_sub_proceso - @control.c_sub_proceso.nb_sub_proceso</td>
                    <td>@control.c_sub_proceso.c_usuario.nb_usuario</td>
                    <td>@riesgo.nb_riesgo</td>
                    @if (!AC) {
                    <td @(control.relacion_control == controlA.relacion_control ? "" : "style=background-color:yellow;")>@control.relacion_control @(control.relacion_control == controlA.relacion_control ? "" : "(cambió)")</td>
                    <td @(control.actividad_control == controlA.actividad_control ? "" : "style=background-color:yellow;")>@control.actividad_control @(control.actividad_control == controlA.actividad_control ? "" : "(cambió)")</td>
                    <td @(control.evidencia_control == controlA.evidencia_control ? "":"style=background-color:yellow;")>@control.evidencia_control @(control.evidencia_control == controlA.evidencia_control ? "": "(cambió)")</td>
                        if (!MG)
                        {
                    <td @(control.c_usuario == controlA.c_usuario ? "" : "style=background-color:yellow;")>@control.c_usuario.nb_usuario @(control.c_usuario == controlA.c_usuario ? "" : "(cambió)")</td>
                        }
                        else
                        {
                            <td>N/A</td>
                        }
                    }
                    else {
                        <td>N/A</td>
                        <td @(control.accion_correctora == controlA.accion_correctora ? "":"style=background-color:yellow;")><b>Acción Correctora: @control.accion_correctora @(control.accion_correctora == controlA.accion_correctora ? "" : "(cambió)")</b></td>
                        <td>N/A</td>
                        <td>N/A</td>
                    }
                        <td @(control.c_usuario1 == controlA.c_usuario1 ? "" : "style=background-color:yellow;")>@control.c_usuario1.nb_usuario @(control.c_usuario1 == controlA.c_usuario1 ? "" : "(cambió)")</td>
                    @if (!AC)
                    {
                        if (!MG)
                        {
                        <td @(control.es_control_clave == controlA.es_control_clave ? "" : "style=background-color:yellow;")>@(control.es_control_clave ? Strings.getMSG("UsuarioIndex004") : Strings.getMSG("UsuarioIndex005"))  @(control.es_control_clave == controlA.es_control_clave ? "" : "(cambió)")</td>
                        <td @(control.c_grado_cobertura == controlA.c_grado_cobertura ? "" : "style=background-color:yellow;")>@control.c_grado_cobertura.cl_grado_cobertura - @control.c_grado_cobertura.nb_grado_cobertura @(control.c_grado_cobertura == controlA.c_grado_cobertura ? "" : "(cambió)")</td>
                        }
                        else
                        {
                            <td>N/A</td>
                            <td>N/A</td>
                        }
                            <td @(control.c_frecuencia_control == controlA.c_frecuencia_control ? "" : "style=background-color:yellow;")>@control.c_frecuencia_control.cl_frecuencia_control - @control.c_frecuencia_control.nb_frecuencia_control  @(control.c_frecuencia_control == controlA.c_frecuencia_control ? "" : "(cambió)")</td>
                            <td @(control.c_naturaleza_control == controlA.c_naturaleza_control ? "" : "style=background-color:yellow;")>@control.c_naturaleza_control.cl_naturaleza_control - @control.c_naturaleza_control.nb_naturaleza_control  @(control.c_naturaleza_control == controlA.c_naturaleza_control ? "" : "(cambió)")</td>
                        if (!MG)
                        {
                            <td @(control.nb_aplicacion == controlA.nb_aplicacion ? "" : "style=background-color:yellow;")>@control.nb_aplicacion @(control.nb_aplicacion == controlA.nb_aplicacion ? "" : "(cambió)")</td>
                            <td @(control.c_tipologia_control == controlA.c_tipologia_control ? "" : "style=background-color:yellow;")>@control.c_tipologia_control.cl_tipologia_control - @control.c_tipologia_control.nb_tipologia_control @(control.c_tipologia_control == controlA.c_tipologia_control ? "" : "(cambió)")</td>
                            <td @(control.c_categoria_control == controlA.c_categoria_control ? "" : "style=background-color:yellow;")>@control.c_categoria_control.cl_categoria_control - @control.c_categoria_control.nb_categoria_control @(control.c_categoria_control == controlA.c_categoria_control ? "" : "(cambió)")</td>
                            <td @(control.c_tipo_evidencia == controlA.c_tipo_evidencia ? "" : "style=background-color:yellow;")>@control.c_tipo_evidencia.cl_tipo_evidencia - @control.c_tipo_evidencia.nb_tipo_evidencia @(control.c_tipo_evidencia == controlA.c_tipo_evidencia ? "" : "(cambió)")</td>
                        }
                        else
                        {
                            <td>N/A</td>
                            <td>N/A</td>
                            <td>N/A</td>
                            <td>N/A</td>
                        }
                    }
                    else
                    {
                        <td>N/A</td>
                        <td>N/A</td>
                        <td>N/A</td>
                        <td>N/A</td>
                        <td>N/A</td>
                        <td>N/A</td>
                        <td>N/A</td>
                        <td>N/A</td>
                    }
                    <!-- Campos extra Control original -->
                    @{ 
                        m_tipo = control.GetType();
                        m_propiedades = m_tipo.GetProperties();
                        m_tipo = controlA.GetType();
                        m_propiedades_a = m_tipo.GetProperties();
                        for(int i = 0; i < 20; i++)
                        {
                            var prop = m_propiedades.Where(m => m.Name == string.Format("campo{0:00}", i + 1)).First();
                            var propA = m_propiedades_a.Where(m => m.Name == string.Format("campo{0:00}", i + 1)).First();
                            var ce = CEC[i];
                            var v1 = "";
                            var v2 = "";

                            if (MG)
                            {
                                if(ce.es_visible && ce.aparece_en_mg)
                                {
                                    try
                                    {
                                        v1 = prop.GetValue(control, null).ToString();
                                    }
                                    catch
                                    {
                                        v1 = "";
                                    }
                                    try
                                    {
                                        v2 = propA.GetValue(controlA, null).ToString();
                                    }
                                    catch
                                    {
                                        v2 = "";
                                    }
                        <td @(v1 == v2 ? "" : "style=background-color:yellow;")>@v1 @(v1 == v2 ? "" : "(cambió)")</td>
                                }
                                else if(ce.es_visible)
                                {
                                    try
                                    {
                                        v1 = prop.GetValue(control, null).ToString();
                                    }
                                    catch
                                    {
                                        v1 = "";
                                    }
                                    try
                                    {
                                        v2 = propA.GetValue(controlA, null).ToString();
                                    }
                                    catch
                                    {
                                        v2 = "";
                                    }
                                    <td>N/A</td>
                                }
                            }
                            else
                            {
                                if (ce.es_visible)
                                {
                                    try
                                    {
                                        v1 = prop.GetValue(control, null).ToString();
                                    }
                                    catch
                                    {
                                        v1 = "";
                                    }
                                    try
                                    {
                                        v2 = propA.GetValue(controlA, null).ToString();
                                    }
                                    catch
                                    {
                                        v2 = "";
                                    }
                                    <td @(v1 == v2 ? "" : "style=background-color:yellow;")>@v1 @(v1 == v2 ? "" : "(cambió)")</td>
                                }
                            }
                        }
                    }

                    <td>N/A</td>
                    <td>N/A</td>
                </tr>

                    for (int i = 0; i < NCM; i++)
                    {
                        var registro = registros.ElementAt(i);
                        r_control registroA;
                        AC = registro.tiene_accion_correctora;
                        if (i < NCM - 1)
                        {
                            registroA = registros.ElementAt(i + 1);
                        }
                        else
                        {
                            registroA = registro;
                        }

            <tr>
                <td>@control.c_sub_proceso.c_proceso.c_macro_proceso.c_entidad.cl_entidad - @control.c_sub_proceso.c_proceso.c_macro_proceso.c_entidad.nb_entidad</td>
                <td>@control.c_sub_proceso.c_proceso.c_macro_proceso.c_entidad.c_usuario.nb_usuario</td>
                <td>@control.c_sub_proceso.c_proceso.c_macro_proceso.cl_macro_proceso - @control.c_sub_proceso.c_proceso.c_macro_proceso.nb_macro_proceso</td>
                <td>@control.c_sub_proceso.c_proceso.c_macro_proceso.c_usuario.nb_usuario</td>
                <td>@control.c_sub_proceso.c_proceso.cl_proceso - @control.c_sub_proceso.c_proceso.nb_proceso</td>
                <td>@control.c_sub_proceso.c_proceso.c_usuario.nb_usuario</td>
                <td>@control.c_sub_proceso.cl_sub_proceso - @control.c_sub_proceso.nb_sub_proceso</td>
                <td>@control.c_sub_proceso.c_usuario.nb_usuario</td>
                <td>@riesgo.nb_riesgo</td>
                @if (!AC)
                {
                    <td @(registro.relacion_control == registroA.relacion_control ? "" : "style=background-color:yellow;")>@registro.relacion_control</td>
                    <td @(registro.actividad_control == registroA.actividad_control ? "" : "style=background-color:yellow;")>@registro.actividad_control</td>
                    <td @(registro.evidencia_control == registroA.evidencia_control ? "" : "style=background-color:yellow;")>@registro.evidencia_control</td>
                    if (!MG)
                    {
                        <td @(registro.c_usuario == registroA.c_usuario ? "" : "style=background-color:yellow;")>@registro.c_usuario.nb_usuario</td>
                    }
                    else
                    {
                        <td>N/A</td>
                    }
                }
                else
                {
                    <td>N/A</td>
                    <td @(registro.accion_correctora == registroA.accion_correctora ? "" : "style=background-color:yellow;")><b> Strings.getMSG("RiesgoCreate120") @registro.accion_correctora</b></td>
                    <td>N/A</td>
                    <td>N/A</td>
                }
                <td @(registro.c_usuario1 == registroA.c_usuario1 ? "" : "style=background-color:yellow;")>@registro.c_usuario1.nb_usuario</td>
                @if (!AC)
                {
                    if (!MG)
                    {
                        <td @(registro.es_control_clave == registroA.es_control_clave ? "" : "style=background-color:yellow;")>@(registro.es_control_clave ? Strings.getMSG("UsuarioIndex004") : Strings.getMSG("UsuarioIndex005"))</td>
                        <td @(registro.c_grado_cobertura == registroA.c_grado_cobertura ? "" : "style=background-color:yellow;")>@registro.c_grado_cobertura.cl_grado_cobertura - @registro.c_grado_cobertura.nb_grado_cobertura</td>
                    }
                    else
                    {
                        <td>N/A</td>
                        <td>N/A</td>
                    }
                    <td @(registro.c_frecuencia_control == registroA.c_frecuencia_control ? "" : "style=background-color:yellow;")>@registro.c_frecuencia_control.cl_frecuencia_control - @registro.c_frecuencia_control.nb_frecuencia_control</td>
                    <td @(registro.c_naturaleza_control == registroA.c_naturaleza_control ? "" : "style=background-color:yellow;")>@registro.c_naturaleza_control.cl_naturaleza_control - @registro.c_naturaleza_control.nb_naturaleza_control</td>
                    if (!MG)
                    {
                        <td @(registro.nb_aplicacion == registroA.nb_aplicacion ? "" : "style=background-color:yellow;")>@control.nb_aplicacion</td>
                        <td @(registro.c_tipologia_control == registroA.c_tipologia_control ? "" : "style=background-color:yellow;")>@registro.c_tipologia_control.cl_tipologia_control - @registro.c_tipologia_control.nb_tipologia_control</td>
                        <td @(registro.c_categoria_control == registroA.c_categoria_control ? "" : "style=background-color:yellow;")>@registro.c_categoria_control.cl_categoria_control - @registro.c_categoria_control.nb_categoria_control</td>
                        <td @(registro.c_tipo_evidencia == registroA.c_tipo_evidencia ? "" : "style=background-color:yellow;")>@registro.c_tipo_evidencia.cl_tipo_evidencia - @registro.c_tipo_evidencia.nb_tipo_evidencia</td>
                    }
                    else
                    {
                        <td>N/A</td>
                        <td>N/A</td>
                        <td>N/A</td>
                        <td>N/A</td>
                    }
                }
                else
                {
                    <td>N/A</td>
                    <td>N/A</td>
                    <td>N/A</td>
                    <td>N/A</td>
                    <td>N/A</td>
                    <td>N/A</td>
                    <td>N/A</td>
                    <td>N/A</td>
                }

                <!-- Campos extra registros riesgos -->
                @{
                    m_tipo = registro.GetType();
                    m_propiedades = m_tipo.GetProperties();
                    m_tipo = registroA.GetType();
                    m_propiedades_a = m_tipo.GetProperties();
                    for (int j = 0; j < 20; j++)
                    {
                        var prop = m_propiedades.Where(m => m.Name == string.Format("campo{0:00}", j + 1)).First();
                        var propA = m_propiedades_a.Where(m => m.Name == string.Format("campo{0:00}", j + 1)).First();
                        var ce = CEC[j];
                        var v1 = "";
                        var v2 = "";

                        if (MG)
                        {
                            if (ce.es_visible && ce.aparece_en_mg)
                            {
                                try
                                {
                                    v1 = prop.GetValue(registro, null).ToString();
                                }
                                catch
                                {
                                    v1 = "";
                                }
                                try
                                {
                                    v2 = prop.GetValue(registroA, null).ToString();
                                }
                                catch
                                {
                                    v2 = "";
                                }
                                <td @(v1 == v2 ? "" : "style=background-color:yellow;")>@v1</td>
                            }
                            else if (ce.es_visible)
                            {
                                try
                                {
                                    v1 = prop.GetValue(registro, null).ToString();
                                }
                                catch
                                {
                                    v1 = "";
                                }
                                try
                                {
                                    v2 = prop.GetValue(registroA, null).ToString();
                                }
                                catch
                                {
                                    v2 = "";
                                }
                                <td>N/A</td>
                            }
                        }
                        else
                        {
                            if (ce.es_visible)
                            {
                                try
                                {
                                    v1 = prop.GetValue(registro, null).ToString();
                                }
                                catch
                                {
                                    v1 = "";
                                }
                                try
                                {
                                    v2 = prop.GetValue(registroA, null).ToString();
                                }
                                catch
                                {
                                    v2 = "";
                                }
                                <td @(v1 == v2 ? "" : "style=background-color:yellow;")>@v1</td>
                            }
                        }
                    }
                }

                <td>@string.Format("{0:dd/MM/yyyy}", registro.fe_modificacion)</td>
                <td>@registro.c_usuario2.nb_usuario</td>
            </tr>
                    }
                }
            </tbody>
        </table>

    </div>
</div>