@model IEnumerable<SCIRA.Models.kg_r2812>
@using SCIRA.Utilidades
@{
    Layout = "~/Views/Shared/_LayoutIndex.cshtml";
    ViewBag.Title = @Strings.getMSG("BDEICreate168");


}

<h2>@ViewBag.Title</h2>





<div class="row col-md-12" style="margin: 0 0 30px 0">
    <form action="@Url.Action("Generate")" id="genForm" method="post">

        <div class="col-md-3">
        </div>

        <div class="col-md-3">
            <label style="font-size:1.8rem;font-weight:bold;">@Strings.getMSG("Entidad")</label>
            @Html.DropDownList("id_entidad", (IEnumerable<SelectListItem>)ViewBag.entidadesL, htmlAttributes: new { @class = "form-control col-6", @title = Strings.getMSG("Atencion"), data_trigger = "hover", data_toggle = "popover", data_content = Strings.getMSG("BDEICreate136") })
        </div>

        <div class="col-md-3">
            <label style="font-size:1.8rem;font-weight:bold;">@Strings.getMSG("ProcesosAuditoriaIndexInformes002")</label>
            <input type="number" placeholder="Año" id="anno" name="anno" class="form-control S2" value="@DateTime.Now.Year">
        </div>
    </form>

    <div class="col-md-3" style="padding: 30px 0 0 0">
        <button class="btn btn-primary btn-block" onclick="trySubmit();">@Strings.getMSG("Generar")</button>
    </div>
</div><!-- /.row -->


<table id="results" class="table table-striped table-bordered table-hover">
    <thead>
        <tr>
            <th class="search">@Strings.getMSG("Entidad")</th>
            <th class="search">@Strings.getMSG("ProcesosAuditoriaIndexInformes002")</th>
            <th class="search">@Strings.getMSG("BDEIR2811")</th>
            <th class="search">@Strings.getMSG("Usuario")</th>
            <th width="60"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            



        <tr>
            <td>
                @(item.c_entidad.nb_entidad)
            </td>
            <td>
                @(item.anno)
            </td>
            <td>
                @(item.fe_generacion.Value.ToString("dd/MM/yyyy"))
            </td>
            <td>
                @(item.usr_generacion)
            </td>
            <td>
                <center>
                    <a href="@Url.Action("Detail", new { id = item.id_r2812 })">
                        <i class="glyphicon glyphicon-info-sign" title="@Strings.getMSG("ActividadCosteoIndex006")"></i>
                    </a> |
                    <a onclick="regenerate(@item.id_r2812,'@(item.anno)','@(item.c_entidad.nb_entidad)')">
                        <i class="glyphicon glyphicon-repeat" title="@Strings.getMSG("Regenerar")"></i>
                    </a>
                </center>
            </td>
        </tr>
        }
    </tbody>
</table>


<form hidden id="regenForm" action="@Url.Action("ReGenerate")" method="post">
    <input name="id" id="idR28" />
</form>

<script>

    var arrayReportes = [
        @foreach(var item in Model)
        {
        @:'@(item.anno),@(item.id_entidad)',
        }
    ];


    function trySubmit() {
        var anno = $("#anno").val();
        var idEntidad = $("#id_entidad").val();

        if (anno.length != 4) {
            //Ingrese un número válido
            toastr.error("@Strings.getMSG("BDEICreate141")");
            return;
        }

        var annoNumber = Number.parseInt(anno);

        if (isNaN(annoNumber)) {

            toastr.error("Ingrese un año válido");
            return;
        }

        if (arrayReportes.includes(anno + "," + idEntidad)) {

            toastr.error("@Strings.getMSG("BDEICreate166")");

            return;
        }

        $("#genForm").submit();
    }

    function regenerate(id, anno, entidad) {
        confirmationModal.initModal({
            title: '@Strings.getMSG("BDEICreate167")' + anno + ' @Strings.getMSG("BDEICreate139") ' + entidad + '?',
            action: 'regenerateConfirm(' + id + ')'
        });
    }


    function regenerateConfirm(id) {
        //toastr.success("Regenerando reporte.");

        $("#idR28").val(id);
        $("#regenForm").submit();
    }
</script>