@model SCIRA.Models.k_revision_control
@using SCIRA.Models;
@using SCIRA.Utilidades

@{
    ViewBag.Title = "Revisión del Control";
    Layout = "~/Views/Shared/_LayoutIndex.cshtml";
    var control = Model.k_control;

    var entidad = control.c_sub_proceso.c_proceso.c_macro_proceso.c_entidad;
    var mp = control.c_sub_proceso.c_proceso.c_macro_proceso;
    var pr = control.c_sub_proceso.c_proceso;
    var sp = control.c_sub_proceso;
    var riesgo = control.k_riesgo.First();
    var responsable = control.c_usuario1;
    var ejecutor = control.c_usuario;
    var area = responsable.c_area;
    var aseveraciones = control.c_aseveracion.ToList();
    var rrData = Utilidades.RRData(control);

    var infoCEC = Utilidades.infoCamposExtra("k_control", 20);
    var icec1 = infoCEC.ElementAt(0);
    var icec2 = infoCEC.ElementAt(1);
    var icec3 = infoCEC.ElementAt(2);

    string asev = "";
    string asevR = "";

    var inputs = Model.a_input_rc.ToList();
    var pruebas = Model.a_procedimiento_prueba_rc.ToList();

    foreach (var ase in aseveraciones)
    {
        asev += ase.cl_aseveracion + " " + ase.nb_aseveracion + "\n";
    }

    foreach (var ase in Model.c_aseveracion)
    {
        asevR += ase.cl_aseveracion + " " + ase.nb_aseveracion + "\n";
    }


    var rcTipologia = "";
    var rcFrecuencia = "";

    try
    {
        rcTipologia = Model.c_tipologia_control.cl_tipologia_control + " - " + Model.c_tipologia_control.nb_tipologia_control;
    } catch { }
    try
    {
        rcFrecuencia = Model.c_frecuencia_control.cl_frecuencia_control + " - " + Model.c_frecuencia_control.nb_frecuencia_control;
    } catch { }


    var edcNaturaleza = "";
    var edcTipologia = "";
    var edcTipoEvidencia = "";
    var edcCategoriaControl = "";

    try
    {
        edcNaturaleza = Model.c_naturaleza_control.cl_naturaleza_control + " - " + Model.c_naturaleza_control.nb_naturaleza_control;
    } catch { }
    try
    {
        edcTipologia = Model.c_tipologia_control1.cl_tipologia_control + " - " + Model.c_tipologia_control1.nb_tipologia_control;
    } catch { }
    try
    {
        edcTipoEvidencia = Model.c_tipo_evidencia.cl_tipo_evidencia + " - " + Model.c_tipo_evidencia.nb_tipo_evidencia;
    } catch { }
    try
    {
        edcCategoriaControl = Model.c_categoria_control.cl_categoria_control + " - " + Model.c_categoria_control.nb_categoria_control;
    } catch { }

    var concluido = "";

    try
    {
        concluido = Model.c_calificacion_revision.nb_calificacion_revision;
    }
    catch
    {
        concluido = "Sin Calificar";
    }
}

<link href="~/Content/bootstrap-toggle.min.css" rel="stylesheet" />
<script src="~/Scripts/bootstrap-toggle.min.js"></script>
<link href="~/Content/bootstrap-select.min.css" rel="stylesheet" />
<script src="~/Scripts/bootstrap-select.js"></script>
<script src="~/Scripts/MSInitialize.js"></script>

<script>
$(function () {
        $('.panel-heading').click(function () {
            var $this = $(this);
            setTimeout(function () {
                var offset2 = $this.offset().top;
                $('html,body').animate({
                    scrollTop: offset2 - 100
                }, 100);
            }, 500);
        });
    });
</script>

<div class="form-horizontal well">
    <h4>@Strings.getMSG("RevisionControlCreate118") @ViewBag.nb_control - @control.relacion_control</h4>
    <hr />

    <div id="accordion">

        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse0">
                        @Strings.getMSG("UsuarioCreate011")
                    </a>
                </h4>
            </div>
            <div id="collapse0" class="panel-collapse collapse">
                <div class="panel-body well">

                    <div class="row">

                        <h4>@Strings.getMSG("Entidad")</h4>

                        <div class="form-group  col-md-3">
                            <label class="control-label col-xs-3 col-md-2">@Strings.getMSG("RevisionControlCreate115")</label>
                            <div class="col-md-12">
                                <input type="text" class="form-control" value="@entidad.cl_entidad - @entidad.nb_entidad" readonly />
                            </div>
                        </div>

                        <div class="form-group  col-md-3">
                            <label class="control-label col-xs-3 col-md-2">@Strings.getMSG("RevisionControlCreate009")</label>
                            <div class="col-md-12">
                                @Html.TextAreaFor(model => model.dg_entidad, new { @class = "form-control", @rows = "5", @title = "", data_trigger = "hover", data_toggle = "popover", data_content = "", @readonly = "readonly" })
                            </div>
                        </div>
                    
                        <div class="form-group  col-md-3">
                            <label class="control-label col-xs-3 col-md-2">@Strings.getMSG("RevisionControlCreate010")</label>
                            <div class="col-md-12">
                                @Html.TextAreaFor(model => model.dg_obs_1, new { @class = "form-control", @rows = "5", @title = "", data_trigger = "hover", data_toggle = "popover", data_content = "", @readonly = "readonly" })
                            </div>
                        </div>

                        @{ViewBag.califList = DropDown.Calificaciones(); }
                        <div class="form-group  col-md-3">
                            <label class="control-label col-xs-3 col-md-2">@Strings.getMSG("EvaluacionIndicadorEvaluaciones003")</label>
                            <div class="col-md-12">
                                <input type="text" class="form-control" value="@(Model.c_calificacion != null ? Model.c_calificacion.nb_calificacion : "")" readonly />
                            </div>
                        </div>
                        @{ViewBag.califList = DropDown.Calificaciones(); }
                    </div> <!--Datos Generales campo 1-->

                    <div class="row">


                        <h4>@Strings.getMSG("MP")</h4>

                        <div class="form-group  col-md-3">
                            <label class="control-label col-xs-3 col-md-2">@Strings.getMSG("RevisionControlCreate115")</label>
                            <div class="col-md-12">
                                <input type="text" class="form-control" value="@mp.cl_macro_proceso - @mp.nb_macro_proceso" readonly />
                            </div>
                        </div>

                        <div class="form-group  col-md-3">
                            <label class="control-label col-xs-3 col-md-2">@Strings.getMSG("RevisionControlCreate009")</label>
                            <div class="col-md-12">
                                @Html.TextAreaFor(model => model.dg_marco_proceso, new { @class = "form-control", @rows = "5", @title = "", data_trigger = "hover", data_toggle = "popover", data_content = "", @readonly = "readonly" })
                            </div>
                        </div>

                        <div class="form-group  col-md-3">
                            <label class="control-label col-xs-3 col-md-2">@Strings.getMSG("RevisionControlCreate010")</label>
                            <div class="col-md-12">
                                @Html.TextAreaFor(model => model.dg_obs_2, new { @class = "form-control", @rows = "5", @title = "", data_trigger = "hover", data_toggle = "popover", data_content = "", @readonly = "readonly" })
                            </div>
                        </div>

                        <div class="form-group  col-md-3">
                            <label class="control-label col-xs-3 col-md-2">@Strings.getMSG("EvaluacionIndicadorEvaluaciones003")</label>
                            <div class="col-md-12">
                                <input type="text" class="form-control" value="@(Model.c_calificacion1 != null ? Model.c_calificacion1.nb_calificacion : "")" readonly />
                            </div>
                        </div>
                        @{ViewBag.califList = DropDown.Calificaciones(); }
                    </div> <!--Datos Generales campo 2-->

                    <div class="row">


                        <h4>@Strings.getMSG("P")</h4>

                        <div class="form-group  col-md-3">
                            <label class="control-label col-xs-3 col-md-2">@Strings.getMSG("RevisionControlCreate115")</label>
                            <div class="col-md-12">
                                <input type="text" class="form-control" value="@pr.cl_proceso - @pr.nb_proceso" readonly />
                            </div>
                        </div>

                        <div class="form-group  col-md-3">
                            <label class="control-label col-xs-3 col-md-2">@Strings.getMSG("RevisionControlCreate009")</label>
                            <div class="col-md-12">
                                @Html.TextAreaFor(model => model.dg_proceso, new { @class = "form-control", @rows = "5", @title = "", data_trigger = "hover", data_toggle = "popover", data_content = "", @readonly = "readonly" })
                            </div>
                        </div>

                        <div class="form-group  col-md-3">
                            <label class="control-label col-xs-3 col-md-2">@Strings.getMSG("RevisionControlCreate010")</label>
                            <div class="col-md-12">
                                @Html.TextAreaFor(model => model.dg_obs_3, new { @class = "form-control", @rows = "5", @title = "", data_trigger = "hover", data_toggle = "popover", data_content = "", @readonly = "readonly" })
                            </div>
                        </div>

                        <div class="form-group  col-md-3">
                            <label class="control-label col-xs-3 col-md-2">@Strings.getMSG("EvaluacionIndicadorEvaluaciones003")</label>
                            <div class="col-md-12">
                                <input type="text" class="form-control" value="@(Model.c_calificacion2 != null ? Model.c_calificacion2.nb_calificacion : "")" readonly />
                            </div>
                        </div>
                        @{ViewBag.califList = DropDown.Calificaciones(); }
                    </div> <!--Datos Generales campo 3-->

                    <div class="row">


                        <h4>@Strings.getMSG("SP")</h4>

                        <div class="form-group  col-md-3">
                            <label class="control-label col-xs-3 col-md-2">@Strings.getMSG("RevisionControlCreate115")</label>
                            <div class="col-md-12">
                                <input type="text" class="form-control" value="@sp.cl_sub_proceso - @sp.nb_sub_proceso" readonly />
                            </div>
                        </div>

                        <div class="form-group  col-md-3">
                            <label class="control-label col-xs-3 col-md-2">@Strings.getMSG("RevisionControlCreate009")</label>
                            <div class="col-md-12">
                                @Html.TextAreaFor(model => model.dg_sub_proceso, new { @class = "form-control", @rows = "5", @title = "", data_trigger = "hover", data_toggle = "popover", data_content = "", @readonly = "readonly" })
                            </div>
                        </div>

                        <div class="form-group  col-md-3">
                            <label class="control-label col-xs-3 col-md-2">@Strings.getMSG("RevisionControlCreate010")</label>
                            <div class="col-md-12">
                                @Html.TextAreaFor(model => model.dg_obs_4, new { @class = "form-control", @rows = "5", @title = "", data_trigger = "hover", data_toggle = "popover", data_content = "", @readonly = "readonly" })
                            </div>
                        </div>

                        <div class="form-group  col-md-3">
                            <label class="control-label col-xs-3 col-md-2">@Strings.getMSG("EvaluacionIndicadorEvaluaciones003")</label>
                            <div class="col-md-12">
                                <input type="text" class="form-control" value="@(Model.c_calificacion3 != null ? Model.c_calificacion3.nb_calificacion : "")" readonly />
                            </div>
                        </div>
                        @{ViewBag.califList = DropDown.Calificaciones(); }
                    </div> <!--Datos Generales campo 4-->

                    <div class="row">
                        <h4>Tarea</h4>

                        <div class="form-group  col-md-3">
                            <label class="control-label col-xs-3 col-md-2">@Strings.getMSG("RevisionControlCreate115")</label>
                            <div class="col-md-12">
                                <textarea class="form-control" rows="5" readonly>@sp.ds_sub_proceso</textarea>
                            </div>
                        </div>

                        <div class="form-group  col-md-3">
                            <label class="control-label col-xs-3 col-md-2">@Strings.getMSG("RevisionControlCreate009")</label>
                            <div class="col-md-12">
                                @Html.TextAreaFor(model => model.dg_tarea, new { @class = "form-control", @rows = "5", @title = "", data_trigger = "hover", data_toggle = "popover", data_content = "", @readonly = "readonly" })
                            </div>
                        </div>

                        <div class="form-group  col-md-3">
                            <label class="control-label col-xs-3 col-md-2">@Strings.getMSG("RevisionControlCreate010")</label>
                            <div class="col-md-12">
                                @Html.TextAreaFor(model => model.dg_obs_5, new { @class = "form-control", @rows = "5", @title = "", data_trigger = "hover", data_toggle = "popover", data_content = "", @readonly = "readonly" })
                            </div>
                        </div>

                        <div class="form-group  col-md-3">
                            <label class="control-label col-xs-3 col-md-2">@Strings.getMSG("EvaluacionIndicadorEvaluaciones003")</label>
                            <div class="col-md-12">
                                <input type="text" class="form-control" value="@(Model.c_calificacion4 != null ? Model.c_calificacion4.nb_calificacion : "")" readonly />
                            </div>
                        </div>
                        @{ViewBag.califList = DropDown.Calificaciones(); }
                    </div> <!--Datos Generales campo 5-->

                    <div class="row">


                        <h4>@Strings.getMSG("RevisionControlCreate017")</h4>

                        <div class="form-group  col-md-4">
                            <div class="col-md-12">
                                @Html.TextAreaFor(model => model.dg_nb_responsable_revision, new { @class = "form-control", @rows = "5", @title = "", data_trigger = "hover", data_toggle = "popover", data_content = "", @readonly = "readonly" })
                            </div>
                        </div>

                    </div> <!--Datos Generales campo 6-->
                </div>
            </div>
        </div> <!--Panel de datos Generales-->

        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">
                        @Strings.getMSG("RevisionControlCreate001")
                    </a>
                </h4>
            </div>
            <div id="collapse1" class="panel-collapse collapse">
                <div class="panel-body well">

                    <div class="row">

                        <h4>@Strings.getMSG("CertificaciónIndex002")</h4>

                        <div class="form-group  col-md-4">
                            <div class="col-md-12">
                                <input type="text" class="form-control" value="@riesgo.nb_riesgo" readonly />
                            </div>
                        </div>
                    </div> <!--Resumen del Riesgo campo 1-->

                    <div class="row">

                        <h4>@Strings.getMSG("EventoRiesgoIndex001")</h4>

                        <div class="form-group  col-md-3">
                            <label class="control-label col-xs-3 col-md-2">@Strings.getMSG("RevisionControlCreate115")</label>
                            <div class="col-md-12">
                                <textarea rows="5" class="form-control" readonly>@riesgo.evento</textarea>
                            </div>
                        </div>

                        <div class="form-group  col-md-3">
                            <label class="control-label col-xs-3 col-md-2">@Strings.getMSG("RevisionControlCreate009")</label>
                            <div class="col-md-12">
                                @Html.TextAreaFor(model => model.rr_evento_riesgo, new { @class = "form-control", @rows = "5", @title = "", data_trigger = "hover", data_toggle = "popover", data_content = "", @readonly = "readonly" })
                            </div>
                        </div>

                        <div class="form-group  col-md-3">
                            <label class="control-label col-xs-3 col-md-2">@Strings.getMSG("RevisionControlCreate010")</label>
                            <div class="col-md-12">
                                @Html.TextAreaFor(model => model.rr_obs_1, new { @class = "form-control", @rows = "5", @title = "", data_trigger = "hover", data_toggle = "popover", data_content = "", @readonly = "readonly" })
                            </div>
                        </div>

                        <div class="form-group  col-md-3">
                            <label class="control-label col-xs-3 col-md-2">@Strings.getMSG("EvaluacionIndicadorEvaluaciones003")</label>
                            <div class="col-md-12">
                                <input type="text" class="form-control" value="@(Model.c_calificacion5 !=null ?  Model.c_calificacion5.nb_calificacion : "")" readonly />
                            </div>
                        </div>
                        @{ViewBag.califList = DropDown.Calificaciones(); }
                    </div> <!--Resumen del Riesgo campo 2-->

                    <div class="row">

                        <h4>@Strings.getMSG("Menu025")</h4>

                        <div class="form-group  col-md-3">
                            <label class="control-label col-xs-3 col-md-2">@Strings.getMSG("RevisionControlCreate115")</label>
                            <div class="col-md-12">
                                <input type="text" class="form-control" value="@riesgo.c_magnitud_impacto.cl_magnitud_impacto - @riesgo.c_magnitud_impacto.nb_magnitud_impacto" readonly />
                            </div>
                        </div>

                        <div class="form-group  col-md-3">
                            <label class="control-label col-xs-3 col-md-2">@Strings.getMSG("RevisionControlCreate009")</label>
                            <div class="col-md-12">
                                @Html.TextAreaFor(model => model.rr_magnitud_impacto, new { @class = "form-control", @rows = "5", @title = "", data_trigger = "hover", data_toggle = "popover", data_content = "", @readonly = "readonly" })
                            </div>
                        </div>

                        <div class="form-group  col-md-3">
                            <label class="control-label col-xs-3 col-md-2">@Strings.getMSG("RevisionControlCreate010")</label>
                            <div class="col-md-12">
                                @Html.TextAreaFor(model => model.rr_obs_2, new { @class = "form-control", @rows = "5", @title = "Atención", data_trigger = "hover", data_toggle = "popover", data_content = "", @readonly = "readonly" })
                            </div>
                        </div>

                        <div class="form-group  col-md-3">
                            <label class="control-label col-xs-3 col-md-2">@Strings.getMSG("EvaluacionIndicadorEvaluaciones003")</label>
                            <div class="col-md-12">
                                <input type="text" class="form-control" value="@(Model.c_calificacion6 !=null ?  Model.c_calificacion6.nb_calificacion : "")" readonly />
                            </div>
                        </div>
                        @{ViewBag.califList = DropDown.Calificaciones(); }
                    </div> <!--Resumen del Riesgo campo 3-->

                    <div class="row">

                        <h4>@Strings.getMSG("Menu023")</h4>

                        <div class="form-group  col-md-3">
                            <label class="control-label col-xs-3 col-md-2">@Strings.getMSG("RevisionControlCreate115")</label>
                            <div class="col-md-12">
                                <input type="text" class="form-control" value="@riesgo.c_probabilidad_ocurrencia.cl_probabilidad_ocurrencia - @riesgo.c_probabilidad_ocurrencia.nb_probabilidad_ocurrencia" readonly />
                            </div>
                        </div>

                        <div class="form-group  col-md-3">
                            <label class="control-label col-xs-3 col-md-2">@Strings.getMSG("RevisionControlCreate009")</label>
                            <div class="col-md-12">
                                @Html.TextAreaFor(model => model.rr_probabilidad_ocurrencia, new { @class = "form-control", @rows = "5", @title = "", data_trigger = "hover", data_toggle = "popover", data_content = "", @readonly = "readonly" })
                            </div>
                        </div>

                        <div class="form-group  col-md-3">
                            <label class="control-label col-xs-3 col-md-2">@Strings.getMSG("RevisionControlCreate010")</label>
                            <div class="col-md-12">
                                @Html.TextAreaFor(model => model.rr_obs_3, new { @class = "form-control", @rows = "5", @title = "", data_trigger = "hover", data_toggle = "popover", data_content = "", @readonly = "readonly" })
                            </div>
                        </div>

                        <div class="form-group  col-md-3">
                            <label class="control-label col-xs-3 col-md-2">@Strings.getMSG("EvaluacionIndicadorEvaluaciones003")</label>
                            <div class="col-md-12">
                                <input type="text" class="form-control" value="@(Model.c_calificacion7 !=null ?  Model.c_calificacion7.nb_calificacion : "")" readonly />
                            </div>
                        </div>
                        @{ViewBag.califList = DropDown.Calificaciones(); }
                    </div> <!--Resumen del Riesgo campo 4-->


                </div>
            </div>
        </div> <!--Panel de Resumen del Riesgo-->

        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">
                        @Strings.getMSG("RevisionControlCreate002")
                    </a>
                </h4>
            </div>
            <div id="collapse2" class="panel-collapse collapse">
                <div class="panel-body well">

                    <div class="row">

                        <h4>@Strings.getMSG("CertificaciónIndex001")</h4>

                        <div class="form-group  col-md-4">
                            <div class="col-md-12">
                                <input type="text" class="form-control" value="@control.relacion_control" readonly />
                            </div>
                        </div>
                    </div> <!--Resumen del Control campo 1-->

                    <div class="row">

                        <h4>@Strings.getMSG("RevisionControlCreate033")</h4>

                        <div class="form-group  col-md-3">
                            <label class="control-label col-xs-3 col-md-2">@Strings.getMSG("RevisionControlCreate115")</label>
                            <div class="col-md-12">
                                <input type="text" class="form-control" value="@sp.cl_manual" readonly />
                            </div>
                        </div>

                        <div class="form-group  col-md-3">
                            <label class="control-label col-xs-3 col-md-2">@Strings.getMSG("RevisionControlCreate009")</label>
                            <div class="col-md-12">
                                @Html.TextAreaFor(model => model.rc_codigo_manual, new { @class = "form-control", @rows = "5", @title = "", data_trigger = "hover", data_toggle = "popover", data_content = "", @readonly = "readonly" })
                            </div>
                        </div>

                        <div class="form-group  col-md-3">
                            <label class="control-label col-xs-3 col-md-2">@Strings.getMSG("RevisionControlCreate010")</label>
                            <div class="col-md-12">
                                @Html.TextAreaFor(model => model.rc_obs_1, new { @class = "form-control", @rows = "5", @title = "", data_trigger = "hover", data_toggle = "popover", data_content = "", @readonly = "readonly" })
                            </div>
                        </div>

                        <div class="form-group  col-md-3">
                            <label class="control-label col-xs-3 col-md-2">@Strings.getMSG("EvaluacionIndicadorEvaluaciones003")</label>
                            <div class="col-md-12">
                                <input type="text" class="form-control" value="@(Model.c_calificacion8 != null ? Model.c_calificacion8.nb_calificacion : "")" readonly />
                            </div>
                        </div>
                        @{ViewBag.califList = DropDown.Calificaciones(); }
                    </div> <!--Resumen del Control campo 2-->

                    <div class="row">

                        <h4>@Strings.getMSG("ControlDelete003")</h4>

                        <div class="form-group  col-md-3">
                            <label class="control-label col-xs-3 col-md-2">@Strings.getMSG("RevisionControlCreate115")</label>
                            <div class="col-md-12">
                                <textarea rows="5" class="form-control" readonly>@control.actividad_control</textarea>
                            </div>
                        </div>



                        <div class="form-group  col-md-3">
                            <label class="control-label col-xs-3 col-md-2">@Strings.getMSG("RevisionControlCreate009")</label>
                            <div class="col-md-12">
                                @Html.TextAreaFor(model => model.rc_actividad_control, new { @class = "form-control", @rows = "5", @title = "", data_trigger = "hover", data_toggle = "popover", data_content = "", @readonly = "readonly" })
                            </div>
                        </div>

                        <div class="form-group  col-md-3">
                            <label class="control-label col-xs-3 col-md-2">@Strings.getMSG("RevisionControlCreate010")</label>
                            <div class="col-md-12">
                                @Html.TextAreaFor(model => model.rc_obs_2, new { @class = "form-control", @rows = "5", @title = "", data_trigger = "hover", data_toggle = "popover", data_content = "", @readonly = "readonly" })
                            </div>
                        </div>

                        <div class="form-group  col-md-3">
                            <label class="control-label col-xs-3 col-md-2">@Strings.getMSG("EvaluacionIndicadorEvaluaciones003")</label>
                            <div class="col-md-12">
                                <input type="text" class="form-control" value="@(Model.c_calificacion9 != null ? Model.c_calificacion9.nb_calificacion : "")" readonly />
                            </div>
                        </div>
                        @{ViewBag.califList = DropDown.Calificaciones(); }
                    </div> <!--Resumen del Control campo 3-->

                    <div class="row">

                        <h4>@Strings.getMSG("RiesgoCreate086")</h4>

                        <div class="form-group  col-md-3">
                            <label class="control-label col-xs-3 col-md-2">@Strings.getMSG("RevisionControlCreate115")</label>
                            <div class="col-md-12">
                                <textarea rows="5" class="form-control" readonly>@control.evidencia_control</textarea>
                            </div>
                        </div>



                        <div class="form-group  col-md-3">
                            <label class="control-label col-xs-3 col-md-2">@Strings.getMSG("RevisionControlCreate009")</label>
                            <div class="col-md-12">
                                @Html.TextAreaFor(model => model.rc_evidencia_control, new { @class = "form-control", @rows = "5", @title = "Atención", data_trigger = "hover", data_toggle = "popover", data_content = "", @readonly = "readonly" })
                            </div>
                        </div>

                        <div class="form-group  col-md-3">
                            <label class="control-label col-xs-3 col-md-2">@Strings.getMSG("RevisionControlCreate010")</label>
                            <div class="col-md-12">
                                @Html.TextAreaFor(model => model.rc_obs_3, new { @class = "form-control", @rows = "5", @title = "", data_trigger = "hover", data_toggle = "popover", data_content = "", @readonly = "readonly" })
                            </div>
                        </div>

                        <div class="form-group  col-md-3">
                            <label class="control-label col-xs-3 col-md-2">@Strings.getMSG("EvaluacionIndicadorEvaluaciones003")</label>
                            <div class="col-md-12">
                                <input type="text" class="form-control" value="@(Model.c_calificacion9 != null ? Model.c_calificacion9.nb_calificacion : "")" readonly />
                            </div>
                        </div>
                        @{ViewBag.califList = DropDown.Calificaciones(); }
                    </div> <!--Resumen del Control campo 3-->

                    <div class="row">

                        <h4>@icec1.nb_campo y @icec2.nb_campo</h4>

                        <div class="form-group  col-md-3">
                            <label class="control-label col-xs-3 col-md-2">@Strings.getMSG("RevisionControlCreate115")</label>
                            <div class="col-md-12 mb-4">
                                <input class="form-control" value="@control.campo01" readonly />
                            </div>
                            <div class="col-md-12">
                                <textarea rows="5" class="form-control" readonly>@control.campo02</textarea>
                            </div>
                        </div>



                        <div class="form-group  col-md-3">
                            <label class="control-label col-xs-3 col-md-2">@Strings.getMSG("RevisionControlCreate009")</label>
                            <div class="col-md-12">
                                @Html.TextAreaFor(model => model.rc_ds_control, new { @class = "form-control", @rows = "5", @title = "", data_trigger = "hover", data_toggle = "popover", data_content = "" + icec1.nb_campo + " y " + icec2.nb_campo + ".", @readonly = "readonly" })
                            </div>
                        </div>

                        <div class="form-group  col-md-3">
                            <label class="control-label col-xs-3 col-md-2">@Strings.getMSG("RevisionControlCreate010")</label>
                            <div class="col-md-12">
                                @Html.TextAreaFor(model => model.rc_obs_4, new { @class = "form-control", @rows = "5", @title = "", data_trigger = "hover", data_toggle = "popover", data_content = "", @readonly = "readonly" })
                            </div>
                        </div>

                        <div class="form-group  col-md-3">
                            <label class="control-label col-xs-3 col-md-2">@Strings.getMSG("EvaluacionIndicadorEvaluaciones003")</label>
                            <div class="col-md-12">
                                <input type="text" class="form-control" value="@(Model.c_calificacion10 != null ? Model.c_calificacion10.nb_calificacion : "")" readonly />
                            </div>
                        </div>
                        @{ViewBag.califList = DropDown.Calificaciones(); }
                    </div> <!--Resumen del Control campo 4-->

                    <div class="row">

                        <h4>@icec3.nb_campo</h4>

                        <div class="form-group  col-md-3">
                            <label class="control-label col-xs-3 col-md-2">@Strings.getMSG("RevisionControlCreate115")</label>
                            <div class="col-md-12 mb-4">
                                <input class="form-control" value="@control.campo03" readonly />
                            </div>
                        </div>



                        <div class="form-group  col-md-3">
                            <label class="control-label col-xs-3 col-md-2">@Strings.getMSG("RevisionControlCreate009")</label>
                            <div class="col-md-12">
                                @Html.TextAreaFor(model => model.rc_dir_general, new { @class = "form-control", @rows = "5", @title = "Atención", data_trigger = "hover", data_toggle = "popover", data_content = "" + icec3.nb_campo + "", @readonly = "readonly" })
                            </div>
                        </div>

                        <div class="form-group  col-md-3">
                            <label class="control-label col-xs-3 col-md-2">@Strings.getMSG("RevisionControlCreate010")</label>
                            <div class="col-md-12">
                                @Html.TextAreaFor(model => model.rc_obs_5, new { @class = "form-control", @rows = "5", @title = "", data_trigger = "hover", data_toggle = "popover", data_content = "", @readonly = "readonly" })
                            </div>
                        </div>

                        <div class="form-group  col-md-3">
                            <label class="control-label col-xs-3 col-md-2">@Strings.getMSG("EvaluacionIndicadorEvaluaciones003")</label>
                            <div class="col-md-12">
                                <input type="text" class="form-control" value="@(Model.c_calificacion11 != null ? Model.c_calificacion11.nb_calificacion : "")" readonly />
                            </div>
                        </div>
                        @{ViewBag.califList = DropDown.Calificaciones(); }
                    </div> <!--Resumen del Control campo 5-->

                    <div class="row">

                        <h4>@Strings.getMSG("RevisionControlCreate044")</h4>

                        <div class="form-group  col-md-3">
                            <label class="control-label col-xs-3 col-md-2">@Strings.getMSG("RevisionControlCreate115")</label>
                            <div class="col-md-12 mb-4">
                                <input class="form-control" value="@area.cl_area - @area.nb_area" readonly />
                            </div>
                        </div>



                        <div class="form-group  col-md-3">
                            <label class="control-label col-xs-3 col-md-2">@Strings.getMSG("RevisionControlCreate009")</label>
                            <div class="col-md-12">
                                @Html.TextAreaFor(model => model.rc_area, new { @class = "form-control", @rows = "5", @title = "", data_trigger = "hover", data_toggle = "popover", data_content = "", @readonly = "readonly" })
                            </div>
                        </div>

                        <div class="form-group  col-md-3">
                            <label class="control-label col-xs-3 col-md-2">@Strings.getMSG("RevisionControlCreate010")</label>
                            <div class="col-md-12">
                                @Html.TextAreaFor(model => model.rc_obs_6, new { @class = "form-control", @rows = "5", @title = "", data_trigger = "hover", data_toggle = "popover", data_content = "", @readonly = "readonly" })
                            </div>
                        </div>

                        <div class="form-group  col-md-3">
                            <label class="control-label col-xs-3 col-md-2">@Strings.getMSG("EvaluacionIndicadorEvaluaciones003")</label>
                            <div class="col-md-12">
                                <input type="text" class="form-control" value="@(Model.c_calificacion12 != null ? Model.c_calificacion12.nb_calificacion : "")" readonly />
                            </div>
                        </div>
                        @{ViewBag.califList = DropDown.Calificaciones(); }
                    </div> <!--Resumen del Control campo 6-->

                    <div class="row">

                        <h4>@Strings.getMSG("RiesgoCreate088")</h4>

                        <div class="form-group  col-md-3">
                            <label class="control-label col-xs-3 col-md-2">@Strings.getMSG("RevisionControlCreate115")</label>
                            <div class="col-md-12 mb-4">
                                <input class="form-control" value="@responsable.nb_usuario" readonly />
                            </div>
                        </div>



                        <div class="form-group  col-md-3">
                            <label class="control-label col-xs-3 col-md-2">@Strings.getMSG("RevisionControlCreate009")</label>
                            <div class="col-md-12">
                                @Html.TextAreaFor(model => model.rc_responsable, new { @class = "form-control", @rows = "5", @title = "", data_trigger = "hover", data_toggle = "popover", data_content = "", @readonly = "readonly" })
                            </div>
                        </div>

                        <div class="form-group  col-md-3">
                            <label class="control-label col-xs-3 col-md-2">@Strings.getMSG("RevisionControlCreate010")</label>
                            <div class="col-md-12">
                                @Html.TextAreaFor(model => model.rc_obs_7, new { @class = "form-control", @rows = "5", @title = "", data_trigger = "hover", data_toggle = "popover", data_content = "", @readonly = "readonly" })
                            </div>
                        </div>

                        <div class="form-group  col-md-3">
                            <label class="control-label col-xs-3 col-md-2">@Strings.getMSG("EvaluacionIndicadorEvaluaciones003")</label>
                            <div class="col-md-12">
                                <input type="text" class="form-control" value="@(Model.c_calificacion13 != null ? Model.c_calificacion13.nb_calificacion : "")" readonly />
                            </div>
                        </div>
                        @{ViewBag.califList = DropDown.Calificaciones(); }
                    </div> <!--Resumen del Control campo 7-->

                    <div class="row">

                        <h4>@Strings.getMSG("RevisionControlCreate049")</h4>

                        <div class="form-group  col-md-3">
                            <label class="control-label col-xs-3 col-md-2">@Strings.getMSG("RevisionControlCreate115")</label>
                            <div class="col-md-12 mb-4">
                                <input class="form-control" value="@Utilidades.PuestoUsuario(responsable.id_usuario)" readonly />
                            </div>
                        </div>



                        <div class="form-group  col-md-3">
                            <label class="control-label col-xs-3 col-md-2">@Strings.getMSG("RevisionControlCreate009")</label>
                            <div class="col-md-12">
                                @Html.TextAreaFor(model => model.rc_puesto_responsable, new { @class = "form-control", @rows = "5", @title = "", data_trigger = "hover", data_toggle = "popover", data_content = "", @readonly = "readonly" })
                            </div>
                        </div>

                        <div class="form-group  col-md-3">
                            <label class="control-label col-xs-3 col-md-2">@Strings.getMSG("RevisionControlCreate010")</label>
                            <div class="col-md-12">
                                @Html.TextAreaFor(model => model.rc_obs_8, new { @class = "form-control", @rows = "5", @title = "", data_trigger = "hover", data_toggle = "popover", data_content = "", @readonly = "readonly" })
                            </div>
                        </div>

                        <div class="form-group  col-md-3">
                            <label class="control-label col-xs-3 col-md-2">@Strings.getMSG("EvaluacionIndicadorEvaluaciones003")</label>
                            <div class="col-md-12">
                                <input type="text" class="form-control" value="@(Model.c_calificacion14 != null ? Model.c_calificacion14.nb_calificacion : "")" readonly />
                            </div>
                        </div>
                        @{ViewBag.califList = DropDown.Calificaciones(); }
                    </div> <!--Resumen del Control campo 8-->

                    <div class="row">

                        <h4>@Strings.getMSG("RiesgoCreate087")</h4>

                        <div class="form-group  col-md-3">
                            <label class="control-label col-xs-3 col-md-2">@Strings.getMSG("RevisionControlCreate115")</label>
                            <div class="col-md-12 mb-4">
                                <input class="form-control" value="@ejecutor.nb_usuario" readonly />
                            </div>
                        </div>



                        <div class="form-group  col-md-3">
                            <label class="control-label col-xs-3 col-md-2">@Strings.getMSG("RevisionControlCreate009")</label>
                            <div class="col-md-12">
                                @Html.TextAreaFor(model => model.rc_ejecutor, new { @class = "form-control", @rows = "5", @title = "", data_trigger = "hover", data_toggle = "popover", data_content = "", @readonly = "readonly" })
                            </div>
                        </div>

                        <div class="form-group  col-md-3">
                            <label class="control-label col-xs-3 col-md-2">@Strings.getMSG("RevisionControlCreate010")</label>
                            <div class="col-md-12">
                                @Html.TextAreaFor(model => model.rc_obs_9, new { @class = "form-control", @rows = "5", @title = "", data_trigger = "hover", data_toggle = "popover", data_content = "", @readonly = "readonly" })
                            </div>
                        </div>

                        <div class="form-group  col-md-3">
                            <label class="control-label col-xs-3 col-md-2">@Strings.getMSG("EvaluacionIndicadorEvaluaciones003")</label>
                            <div class="col-md-12">
                                <input type="text" class="form-control" value="@(Model.c_calificacion15 != null ? Model.c_calificacion15.nb_calificacion : "")" readonly />
                            </div>
                        </div>
                        @{ViewBag.califList = DropDown.Calificaciones(); }
                    </div> <!--Resumen del Control campo 9-->

                    <div class="row">

                        <h4>@Strings.getMSG("RevisionControlCreate054")</h4>

                        <div class="form-group  col-md-3">
                            <label class="control-label col-xs-3 col-md-2">@Strings.getMSG("RevisionControlCreate115")</label>
                            <div class="col-md-12 mb-4">
                                <input class="form-control" value="@Utilidades.PuestoUsuario(ejecutor.id_usuario)" readonly />
                            </div>
                        </div>



                        <div class="form-group  col-md-3">
                            <label class="control-label col-xs-3 col-md-2">@Strings.getMSG("RevisionControlCreate009")</label>
                            <div class="col-md-12">
                                @Html.TextAreaFor(model => model.rc_area, new { @class = "form-control", @rows = "5", @title = "", data_trigger = "hover", data_toggle = "popover", data_content = "", @readonly = "readonly" })
                            </div>
                        </div>

                        <div class="form-group  col-md-3">
                            <label class="control-label col-xs-3 col-md-2">@Strings.getMSG("RevisionControlCreate010")</label>
                            <div class="col-md-12">
                                @Html.TextAreaFor(model => model.rc_obs_10, new { @class = "form-control", @rows = "5", @title = "", data_trigger = "hover", data_toggle = "popover", data_content = "", @readonly = "readonly" })
                            </div>
                        </div>

                        <div class="form-group  col-md-3">
                            <label class="control-label col-xs-3 col-md-2">@Strings.getMSG("EvaluacionIndicadorEvaluaciones003")</label>
                            <div class="col-md-12">
                                <input type="text" class="form-control" value="@(Model.c_calificacion16 != null ? Model.c_calificacion16.nb_calificacion : "")" readonly />
                            </div>
                        </div>
                        @{ViewBag.califList = DropDown.Calificaciones(); }
                    </div> <!--Resumen del Control campo 10-->

                    <div class="row">

                        <h4>@Strings.getMSG("Menu033")</h4>

                        <div class="form-group  col-md-3">
                            <label class="control-label col-xs-3 col-md-2">@Strings.getMSG("RevisionControlCreate115")</label>
                            <div class="col-md-12 mb-4">
                                <input class="form-control" value="@control.c_tipologia_control.cl_tipologia_control - @control.c_tipologia_control.nb_tipologia_control" readonly />
                            </div>
                        </div>



                        <div class="form-group  col-md-3">
                            <label class="control-label col-xs-3 col-md-2">@Strings.getMSG("RevisionControlCreate009")</label>
                            <div class="col-md-12">
                                <input type="text" value="@rcTipologia" class="form-control" readonly />
                            </div>
                        </div>

                        <div class="form-group  col-md-3">
                            <label class="control-label col-xs-3 col-md-2">@Strings.getMSG("RevisionControlCreate010")</label>
                            <div class="col-md-12">
                                @Html.TextAreaFor(model => model.rc_obs_11, new { @class = "form-control", @rows = "5", @title = "", data_trigger = "hover", data_toggle = "popover", data_content = "", @readonly = "readonly" })
                            </div>
                        </div>

                        <div class="form-group  col-md-3">
                            <label class="control-label col-xs-3 col-md-2">@Strings.getMSG("EvaluacionIndicadorEvaluaciones003")</label>
                            <div class="col-md-12">
                                <input type="text" class="form-control" value="@(Model.c_calificacion17 != null ? Model.c_calificacion17.nb_calificacion : "")" readonly />
                            </div>
                        </div>
                        @{ViewBag.califList = DropDown.Calificaciones(); }
                    </div> <!--Resumen del Control campo 11-->

                    <div class="row">

                        <h4>@Strings.getMSG("Menu031")</h4>

                        <div class="form-group  col-md-3">
                            <label class="control-label col-xs-3 col-md-2">@Strings.getMSG("RevisionControlCreate115")</label>
                            <div class="col-md-12 mb-4">
                                <input class="form-control" value="@control.c_frecuencia_control.cl_frecuencia_control - @control.c_frecuencia_control.nb_frecuencia_control" readonly />
                            </div>
                        </div>



                        <div class="form-group  col-md-3">
                            <label class="control-label col-xs-3 col-md-2">@Strings.getMSG("RevisionControlCreate009")</label>
                            <div class="col-md-12">
                                <input class="form-control" value="@rcFrecuencia" readonly />
                            </div>
                        </div>

                        <div class="form-group  col-md-3">
                            <label class="control-label col-xs-3 col-md-2">@Strings.getMSG("RevisionControlCreate010")</label>
                            <div class="col-md-12">
                                @Html.TextAreaFor(model => model.rc_obs_12, new { @class = "form-control", @rows = "5", @title = "", data_trigger = "hover", data_toggle = "popover", data_content = "", @readonly = "readonly" })
                            </div>
                        </div>

                        <div class="form-group  col-md-3">
                            <label class="control-label col-xs-3 col-md-2">@Strings.getMSG("EvaluacionIndicadorEvaluaciones003")</label>
                            <div class="col-md-12">
                                <input type="text" class="form-control" value="@(Model.c_calificacion18 != null ? Model.c_calificacion18.nb_calificacion : "")" readonly />
                            </div>
                        </div>
                        @{ViewBag.califList = DropDown.Calificaciones(); }
                    </div> <!--Resumen del Control campo 12-->

                    <div class="row">

                        <h4>@Strings.getMSG("Menu037")</h4>

                        <div class="form-group  col-md-3">
                            <label class="control-label col-xs-3 col-md-2">@Strings.getMSG("RevisionControlCreate115")</label>
                            <div class="col-md-12 mb-4">
                                <textarea class="form-control" readonly>@Html.Raw(asev)</textarea>
                            </div>
                        </div>



                        <div class="form-group  col-md-3">
                            <label class="control-label col-xs-3 col-md-2">@Strings.getMSG("RevisionControlCreate009")</label>
                            <div class="col-md-12 mb-4">
                                <textarea class="form-control" readonly>@Html.Raw(asevR)</textarea>
                            </div>
                        </div>

                        <div class="form-group  col-md-3">
                            <label class="control-label col-xs-3 col-md-2">@Strings.getMSG("RevisionControlCreate010")</label>
                            <div class="col-md-12">
                                @Html.TextAreaFor(model => model.rc_obs_13, new { @class = "form-control", @rows = "5", @title = "", data_trigger = "hover", data_toggle = "popover", data_content = "", @readonly = "readonly" })
                            </div>
                        </div>

                        <div class="form-group  col-md-3">
                            <label class="control-label col-xs-3 col-md-2">@Strings.getMSG("EvaluacionIndicadorEvaluaciones003")</label>
                            <div class="col-md-12">
                                <input type="text" class="form-control" value="@(Model.c_calificacion19 != null ? Model.c_calificacion19.nb_calificacion : "")" readonly />
                            </div>
                        </div>
                        @{ViewBag.califList = DropDown.Calificaciones(); }
                    </div> <!--Resumen del Control campo 13-->

                    <div class="row">

                        <h4>@Strings.getMSG("ControlDelete001")</h4>

                        <div class="form-group  col-md-3">
                            <label class="control-label col-xs-3 col-md-2">@Strings.getMSG("RevisionControlCreate115")</label>
                            <div class="col-md-12 mb-4">
                                <input class="form-control" value="@(control.es_control_clave ? Strings.getMSG("UsuarioIndex004"):Strings.getMSG("UsuarioIndex005"))" readonly />
                            </div>
                        </div>



                        <div class="form-group  col-md-3">
                            <label class="control-label col-xs-3 col-md-2">@Strings.getMSG("RevisionControlCreate009")</label>
                            <div class="col-md-12">
                                <input class="form-control" value="@(Model.rc_control_clave ? Strings.getMSG("UsuarioIndex004"):Strings.getMSG("UsuarioIndex005"))" readonly />
                            </div>
                        </div>

                        <div class="form-group  col-md-3">
                            <label class="control-label col-xs-3 col-md-2">@Strings.getMSG("RevisionControlCreate010")</label>
                            <div class="col-md-12">
                                @Html.TextAreaFor(model => model.rc_obs_14, new { @class = "form-control", @rows = "5", @title = "", data_trigger = "hover", data_toggle = "popover", data_content = "", @readonly = "readonly" })
                            </div>
                        </div>

                        <div class="form-group  col-md-3">
                            <label class="control-label col-xs-3 col-md-2">@Strings.getMSG("EvaluacionIndicadorEvaluaciones003")</label>
                            <div class="col-md-12">
                                <input type="text" class="form-control" value="@(Model.c_calificacion20 != null ? Model.c_calificacion20.nb_calificacion : "")" readonly />
                            </div>
                        </div>
                        @{ViewBag.califList = DropDown.Calificaciones(); }
                    </div> <!--Resumen del Control campo 14-->

                    <div class="row">

                        <h4>@Strings.getMSG("RevisionControlCreate067")</h4>

                        <div class="form-group  col-md-3">
                            <label class="control-label col-xs-3 col-md-2">@Strings.getMSG("RevisionControlCreate115")</label>
                            <div class="col-md-12 mb-4">
                                <input class="form-control" value="de donde se toma?" readonly />
                            </div>
                        </div>



                        <div class="form-group  col-md-3">
                            <label class="control-label col-xs-3 col-md-2">@Strings.getMSG("RevisionControlCreate009")</label>
                            <div class="col-md-12">
                                <input class="form-control" value="@(Model.rc_control_dependiente ? Strings.getMSG("UsuarioIndex004"):Strings.getMSG("UsuarioIndex005"))" readonly />
                            </div>
                        </div>

                        <div class="form-group  col-md-3">
                            <label class="control-label col-xs-3 col-md-2">@Strings.getMSG("RevisionControlCreate010")</label>
                            <div class="col-md-12">
                                @Html.TextAreaFor(model => model.rc_obs_15, new { @class = "form-control", @rows = "5", @title = "", data_trigger = "hover", data_toggle = "popover", data_content = "", @readonly = "readonly" })
                            </div>
                        </div>

                        <div class="form-group  col-md-3">
                            <label class="control-label col-xs-3 col-md-2">@Strings.getMSG("EvaluacionIndicadorEvaluaciones003")</label>
                            <div class="col-md-12">
                                <input type="text" class="form-control" value="@(Model.c_calificacion21 != null ? Model.c_calificacion21.nb_calificacion : "")" readonly />
                            </div>
                        </div>
                        @{ViewBag.califList = DropDown.Calificaciones(); }
                    </div> <!--Resumen del Control campo 15-->

                </div>
            </div>
        </div> <!--Panel de Resumen del Control -->

        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">
                        @Strings.getMSG("RevisionControlCreate003")
                    </a>
                </h4>
            </div>
            <div id="collapse3" class="panel-collapse collapse">
                <div class="panel-body well">

                    <div class="row">

                        <h4>@Strings.getMSG("RevisionControlCreate069")</h4>

                        <div class="form-group  col-md-4">
                            <label class="control-label col-xs-3 col-md-2">@Strings.getMSG("RevisionControlCreate070")</label>
                            <div class="col-md-12">
                                @Html.TextAreaFor(model => model.edc_informacion_inputs, new { @class = "form-control", @rows = "5", @title = "", data_trigger = "hover", data_toggle = "popover", data_content = "", @readonly = "readonly" })
                            </div>
                        </div>

                        <div class="form-group  col-md-4">
                            <label class="control-label col-xs-3 col-md-2">@Strings.getMSG("RevisionControlCreate010")</label>
                            <div class="col-md-12">
                                @Html.TextAreaFor(model => model.edc_obs_1, new { @class = "form-control", @rows = "5", @title = "", data_trigger = "hover", data_toggle = "popover", data_content = "", @readonly = "readonly" })
                            </div>
                        </div>

                        <div class="form-group  col-md-4">
                            <label class="control-label col-xs-3 col-md-2">@Strings.getMSG("EvaluacionIndicadorEvaluaciones003")</label>
                            <div class="col-md-12">
                                <input type="text" class="form-control" value="@(Model.c_calificacion22 != null ? Model.c_calificacion22.nb_calificacion : "")" readonly />
                            </div>
                        </div>
                        @{ViewBag.califList = DropDown.Calificaciones(); }
                    </div> <!--Evaluación del Diseño del Control campo 1-->

                    <div id="inputs">
                        @foreach (var input in inputs)
                        {
                            string calificacion = "";
                            try
                            {
                                calificacion = input.c_calificacion.nb_calificacion;
                            }
                            catch
                            {
                                calificacion = "No Calificado";
                            }
                            <div class="row" id="I@(inputs.IndexOf(input))">
                                <h4>Input @(inputs.IndexOf(input) + 1)</h4>
                                <div class="form-group col-md-3">
                                    <label class="control-label col-xs-3 col-md-2">@Strings.getMSG("Nombre")</label>
                                    <div class="col-md-12">
                                        <input type="text" name="nb_input[]" class="form-control" value="@input.nb_input" readonly>
                                    </div>
                                </div>
                                <div class="form-group col-md-3">
                                    <label class="control-label col-xs-3 col-md-2">@Strings.getMSG("SubProcesoCreate018")</label>
                                    <div class="col-md-12">
                                        <textarea rows="5" name="ds_input[]" class="form-control" readonly>@input.ds_input</textarea>
                                    </div>
                                </div>
                                <div class="form-group col-md-3">
                                    <label class="control-label col-xs-3 col-md-2">@Strings.getMSG("RevisionControlCreate010")</label>
                                    <div class="col-md-12">
                                        <textarea rows="5" name="obs_input[]" class="form-control" readonly>@input.observaciones</textarea>
                                    </div>
                                </div>
                                <div class="form-group col-md-3">
                                    <label class="control-label col-xs-3 col-md-2">@Strings.getMSG("RevisionControlCreate117")</label>
                                    <div class="col-md-12">
                                        <textarea rows="5" name="tr_input[]" class="form-control" readonly>@input.tr_input</textarea>
                                    </div>
                                </div>
                                <div class="form-group col-md-3">
                                    <label class="control-label col-xs-3 col-md-2">@Strings.getMSG("EvaluacionIndicadorEvaluaciones003")</label>
                                    <div class="col-md-12">
                                        <input type="text" class="form-control" value="@calificacion" readonly>
                                    </div>
                                </div>
                            </div>
                        }




                    </div> <!--Inputs-->


                    <div class="row">

                        <h4>@Strings.getMSG("Menu032")</h4>

                        <div class="form-group  col-md-3">
                            <label class="control-label col-xs-3 col-md-2">@Strings.getMSG("RevisionControlCreate115")</label>
                            <div class="col-md-12 mb-4">
                                <input class="form-control" value="@control.c_naturaleza_control.cl_naturaleza_control - @control.c_naturaleza_control.nb_naturaleza_control" readonly />
                            </div>
                        </div>



                        <div class="form-group  col-md-3">
                            <label class="control-label col-xs-3 col-md-2">@Strings.getMSG("RevisionControlCreate009")</label>
                            <div class="col-md-12">
                                <input class="form-control" value="@edcNaturaleza" readonly />
                            </div>
                        </div>

                        <div class="form-group  col-md-3">
                            <label class="control-label col-xs-3 col-md-2">@Strings.getMSG("RevisionControlCreate010")</label>
                            <div class="col-md-12">
                                @Html.TextAreaFor(model => model.edc_obs_2, new { @class = "form-control", @rows = "5", @title = "", data_trigger = "hover", data_toggle = "popover", data_content = "", @readonly = "readonly" })
                            </div>
                        </div>

                        <div class="form-group  col-md-3">
                            <label class="control-label col-xs-3 col-md-2">@Strings.getMSG("EvaluacionIndicadorEvaluaciones003")</label>
                            <div class="col-md-12">
                                <input type="text" class="form-control" value="@(Model.c_calificacion23 != null ? Model.c_calificacion23.nb_calificacion : "")" readonly />
                            </div>
                        </div>
                        @{ViewBag.califList = DropDown.Calificaciones(); }
                    </div> <!--Evaluación del Diseño del Control campo 2-->

                    <div class="row">

                        <h4>@Strings.getMSG("Menu033")</h4>

                        <div class="form-group  col-md-3">
                            <label class="control-label col-xs-3 col-md-2">@Strings.getMSG("RevisionControlCreate115")</label>
                            <div class="col-md-12 mb-4">
                                <input class="form-control" value="@control.c_tipologia_control.cl_tipologia_control - @control.c_tipologia_control.nb_tipologia_control" readonly />
                            </div>
                        </div>



                        <div class="form-group  col-md-3">
                            <label class="control-label col-xs-3 col-md-2">@Strings.getMSG("RevisionControlCreate009")</label>
                            <div class="col-md-12">
                                <input class="form-control" value="@edcTipologia" readonly />
                            </div>
                        </div>

                        <div class="form-group  col-md-3">
                            <label class="control-label col-xs-3 col-md-2">@Strings.getMSG("RevisionControlCreate010")</label>
                            <div class="col-md-12">
                                @Html.TextAreaFor(model => model.edc_obs_3, new { @class = "form-control", @rows = "5", @title = "", data_trigger = "hover", data_toggle = "popover", data_content = "", @readonly = "readonly" })
                            </div>
                        </div>

                        <div class="form-group  col-md-3">
                            <label class="control-label col-xs-3 col-md-2">@Strings.getMSG("EvaluacionIndicadorEvaluaciones003")</label>
                            <div class="col-md-12">
                                <input type="text" class="form-control" value="@(Model.c_calificacion24 != null ? Model.c_calificacion24.nb_calificacion : "")" readonly />
                            </div>
                        </div>
                        @{ViewBag.califList = DropDown.Calificaciones(); }
                    </div> <!--Evaluación del Diseño del Control campo 3-->

                    <div class="row">

                        <h4>@Strings.getMSG("Menu035")</h4>

                        <div class="form-group  col-md-3">
                            <label class="control-label col-xs-3 col-md-2">@Strings.getMSG("RevisionControlCreate115")</label>
                            <div class="col-md-12 mb-4">
                                <input class="form-control" value="@control.c_tipo_evidencia.cl_tipo_evidencia - @control.c_tipo_evidencia.nb_tipo_evidencia" readonly />
                            </div>
                        </div>



                        <div class="form-group  col-md-3">
                            <label class="control-label col-xs-3 col-md-2">@Strings.getMSG("RevisionControlCreate009")</label>
                            <div class="col-md-12">
                                <input class="form-control" value="@edcTipoEvidencia" readonly />
                            </div>
                        </div>

                        <div class="form-group  col-md-3">
                            <label class="control-label col-xs-3 col-md-2">@Strings.getMSG("RevisionControlCreate010")</label>
                            <div class="col-md-12">
                                @Html.TextAreaFor(model => model.edc_obs_4, new { @class = "form-control", @rows = "5", @title = "", data_trigger = "hover", data_toggle = "popover", data_content = "", @readonly = "readonly" })
                            </div>
                        </div>

                        <div class="form-group  col-md-3">
                            <label class="control-label col-xs-3 col-md-2">@Strings.getMSG("EvaluacionIndicadorEvaluaciones003")</label>
                            <div class="col-md-12">
                                <input type="text" class="form-control" value="@(Model.c_calificacion25 != null ? Model.c_calificacion25.nb_calificacion : "")" readonly />
                            </div>
                        </div>
                        @{ViewBag.califList = DropDown.Calificaciones(); }
                    </div> <!--Evaluación del Diseño del Control campo 4-->

                    <div class="row">

                        <h4>@Strings.getMSG("Menu034")</h4>

                        <div class="form-group  col-md-3">
                            <label class="control-label col-xs-3 col-md-2">@Strings.getMSG("RevisionControlCreate115")</label>
                            <div class="col-md-12 mb-4">
                                <input class="form-control" value="@control.c_categoria_control.cl_categoria_control - @control.c_categoria_control.nb_categoria_control" readonly />
                            </div>
                        </div>



                        <div class="form-group  col-md-3">
                            <label class="control-label col-xs-3 col-md-2">@Strings.getMSG("RevisionControlCreate009")</label>
                            <div class="col-md-12">
                                <input class="form-control" value="@edcCategoriaControl" readonly />
                            </div>
                        </div>

                        <div class="form-group  col-md-3">
                            <label class="control-label col-xs-3 col-md-2">@Strings.getMSG("RevisionControlCreate010")</label>
                            <div class="col-md-12">
                                @Html.TextAreaFor(model => model.edc_obs_5, new { @class = "form-control", @rows = "5", @title = "", data_trigger = "hover", data_toggle = "popover", data_content = "", @readonly = "readonly" })
                            </div>
                        </div>

                        <div class="form-group  col-md-3">
                            <label class="control-label col-xs-3 col-md-2">@Strings.getMSG("EvaluacionIndicadorEvaluaciones003")</label>
                            <div class="col-md-12">
                                <input type="text" class="form-control" value="@(Model.c_calificacion26 != null ? Model.c_calificacion26.nb_calificacion : "")" readonly />
                            </div>
                        </div>
                        @{ViewBag.califList = DropDown.Calificaciones(); }
                    </div> <!--Evaluación del Diseño del Control campo 5-->

                    <div class="row">

                        <h4>@Strings.getMSG("RevisionControlCreate081")</h4>

                        <div class="form-group  col-md-4">
                            <label class="control-label col-xs-6 col-md-6">@Strings.getMSG("SubProcesoCreate018")</label>
                            <div class="col-md-12">
                                @Html.TextAreaFor(model => model.edc_proc_cert, new { @class = "form-control", @rows = "5", @title = "", data_trigger = "hover", data_toggle = "popover", data_content = "", @readonly = "readonly" })
                            </div>
                        </div>

                        <div class="form-group  col-md-4">
                            <label class="control-label col-xs-3 col-md-2">@Strings.getMSG("RevisionControlCreate010")</label>
                            <div class="col-md-12">
                                @Html.TextAreaFor(model => model.edc_obs_6, new { @class = "form-control", @rows = "5", @title = "", data_trigger = "hover", data_toggle = "popover", data_content = "", @readonly = "readonly" })
                            </div>
                        </div>

                        <div class="form-group  col-md-4">
                            <label class="control-label col-xs-3 col-md-2">@Strings.getMSG("EvaluacionIndicadorEvaluaciones003")</label>
                            <div class="col-md-12">
                                <input type="text" class="form-control" value="@(Model.c_calificacion27 != null ? Model.c_calificacion27.nb_calificacion : "")" readonly />
                            </div>
                        </div>
                        @{ViewBag.califList = DropDown.Calificaciones(); }
                    </div> <!--Evaluación del Diseño del Control campo 6-->

                    <h3>@Strings.getMSG("RevisionControlCreate084")</h3>

                    <div class="row">

                        <h4>@Strings.getMSG("ReporteRevisionControlIndex025")</h4>

                        <div class="form-group  col-md-4">
                            <label class="control-label col-xs-6 col-md-6">@Strings.getMSG("SubProcesoCreate018")</label>
                            <div class="col-md-12">
                                @Html.TextAreaFor(model => model.edc_fc1, new { @class = "form-control", @rows = "5", @title = "", data_trigger = "hover", data_toggle = "popover", data_content = "", @readonly = "readonly" })
                            </div>
                        </div>

                        <div class="form-group  col-md-4">
                            <label class="control-label col-xs-3 col-md-2">@Strings.getMSG("RevisionControlCreate010")</label>
                            <div class="col-md-12">
                                @Html.TextAreaFor(model => model.edc_obs_7, new { @class = "form-control", @rows = "5", @title = "", data_trigger = "hover", data_toggle = "popover", data_content = "", @readonly = "readonly" })
                            </div>
                        </div>

                        <div class="form-group  col-md-4">
                            <label class="control-label col-xs-3 col-md-2">@Strings.getMSG("EvaluacionIndicadorEvaluaciones003")</label>
                            <div class="col-md-12">
                                <input type="text" class="form-control" value="@(Model.c_calificacion28 != null ? Model.c_calificacion28.nb_calificacion : "")" readonly />
                            </div>
                        </div>
                        @{ViewBag.califList = DropDown.Calificaciones(); }
                    </div> <!--Evaluación del Diseño del Control campo 7-->

                    <div class="row">

                        <h4>@Strings.getMSG("ReporteRevisionControlIndex026")</h4>

                        <div class="form-group  col-md-4">
                            <label class="control-label col-xs-6 col-md-6">@Strings.getMSG("SubProcesoCreate018")</label>
                            <div class="col-md-12">
                                @Html.TextAreaFor(model => model.edc_fc2, new { @class = "form-control", @rows = "5", @title = "", data_trigger = "hover", data_toggle = "popover", data_content = "", @readonly = "readonly" })
                            </div>
                        </div>

                        <div class="form-group  col-md-4">
                            <label class="control-label col-xs-3 col-md-2">@Strings.getMSG("RevisionControlCreate010")</label>
                            <div class="col-md-12">
                                @Html.TextAreaFor(model => model.edc_obs_8, new { @class = "form-control", @rows = "5", @title = "", data_trigger = "hover", data_toggle = "popover", data_content = "", @readonly = "readonly" })
                            </div>
                        </div>

                        <div class="form-group  col-md-4">
                            <label class="control-label col-xs-3 col-md-2">@Strings.getMSG("EvaluacionIndicadorEvaluaciones003")</label>
                            <div class="col-md-12">
                                <input type="text" class="form-control" value="@(Model.c_calificacion29 != null ? Model.c_calificacion29.nb_calificacion : "")" readonly />
                            </div>
                        </div>
                        @{ViewBag.califList = DropDown.Calificaciones(); }
                    </div> <!--Evaluación del Diseño del Control campo 8-->

                    <div class="row">

                        <h4>@Strings.getMSG("ReporteRevisionControlIndex027")</h4>

                        <div class="form-group  col-md-4">
                            <label class="control-label col-xs-6 col-md-6">@Strings.getMSG("SubProcesoCreate018")</label>
                            <div class="col-md-12">
                                @Html.TextAreaFor(model => model.edc_fc3, new { @class = "form-control", @rows = "5", @title = "", data_trigger = "hover", data_toggle = "popover", data_content = "", @readonly = "readonly" })
                            </div>
                        </div>

                        <div class="form-group  col-md-4">
                            <label class="control-label col-xs-3 col-md-2">@Strings.getMSG("RevisionControlCreate010")</label>
                            <div class="col-md-12">
                                @Html.TextAreaFor(model => model.edc_obs_9, new { @class = "form-control", @rows = "5", @title = "", data_trigger = "hover", data_toggle = "popover", data_content = "", @readonly = "readonly" })
                            </div>
                        </div>

                        <div class="form-group  col-md-4">
                            <label class="control-label col-xs-3 col-md-2">@Strings.getMSG("EvaluacionIndicadorEvaluaciones003")</label>
                            <div class="col-md-12">
                                <input type="text" class="form-control" value="@(Model.c_calificacion30 != null ? Model.c_calificacion30.nb_calificacion : "")" readonly />
                            </div>
                        </div>
                        @{ViewBag.califList = DropDown.Calificaciones(); }
                    </div> <!--Evaluación del Diseño del Control campo 9-->

                    <div class="row">

                        <h4>@Strings.getMSG("ReporteRevisionControlIndex028")</h4>

                        <div class="form-group  col-md-4">
                            <label class="control-label col-xs-6 col-md-6">@Strings.getMSG("SubProcesoCreate018")</label>
                            <div class="col-md-12">
                                @Html.TextAreaFor(model => model.edc_fc4, new { @class = "form-control", @rows = "5", @title = "", data_trigger = "hover", data_toggle = "popover", data_content = "", @readonly = "readonly" })
                            </div>
                        </div>

                        <div class="form-group  col-md-4">
                            <label class="control-label col-xs-3 col-md-2">@Strings.getMSG("RevisionControlCreate010")</label>
                            <div class="col-md-12">
                                @Html.TextAreaFor(model => model.edc_obs_10, new { @class = "form-control", @rows = "5", @title = "", data_trigger = "hover", data_toggle = "popover", data_content = "", @readonly = "readonly" })
                            </div>
                        </div>

                        <div class="form-group  col-md-4">
                            <label class="control-label col-xs-3 col-md-2">@Strings.getMSG("EvaluacionIndicadorEvaluaciones003")</label>
                            <div class="col-md-12">
                                <input type="text" class="form-control" value="@(Model.c_calificacion31 != null ? Model.c_calificacion31.nb_calificacion : "")" readonly />
                            </div>
                        </div>
                        @{ViewBag.califList = DropDown.Calificaciones(); }
                    </div> <!--Evaluación del Diseño del Control campo 10-->

                    <div class="row">

                        <h4>@Strings.getMSG("ReporteRevisionControlIndex029")</h4>

                        <div class="form-group  col-md-4">
                            <label class="control-label col-xs-6 col-md-6">@Strings.getMSG("SubProcesoCreate018")</label>
                            <div class="col-md-12">
                                @Html.TextAreaFor(model => model.edc_fc5, new { @class = "form-control", @rows = "5", @title = "", data_trigger = "hover", data_toggle = "popover", data_content = "", @readonly = "readonly" })
                            </div>
                        </div>

                        <div class="form-group  col-md-4">
                            <label class="control-label col-xs-3 col-md-2">@Strings.getMSG("RevisionControlCreate010")</label>
                            <div class="col-md-12">
                                @Html.TextAreaFor(model => model.edc_obs_11, new { @class = "form-control", @rows = "5", @title = "", data_trigger = "hover", data_toggle = "popover", data_content = "", @readonly = "readonly" })
                            </div>
                        </div>

                        <div class="form-group  col-md-4">
                            <label class="control-label col-xs-3 col-md-2">@Strings.getMSG("EvaluacionIndicadorEvaluaciones003")</label>
                            <div class="col-md-12">
                                <input type="text" class="form-control" value="@(Model.c_calificacion32 != null ? Model.c_calificacion32.nb_calificacion : "")" readonly />
                            </div>
                        </div>
                        @{ViewBag.califList = DropDown.Calificaciones(); }
                    </div> <!--Evaluación del Diseño del Control campo 11-->

                    <h3>@Strings.getMSG("RevisionControlCreate096")</h3>

                    <div class="row">

                        <h4>@Strings.getMSG("RevisionControlCreate095")</h4>

                        <div class="form-group  col-md-6">
                            <input type="text" value="@(rrData[0] ?? "N/A")" class="form-control" readonly />
                        </div>
                    </div> <!--Evaluación del Diseño del Control campo 12-->

                    <div class="row">

                        <h4>@Strings.getMSG("RevisionControlCreate097")</h4>

                        <div class="form-group  col-md-4">
                            <label class="control-label col-xs-3 col-md-2">@Strings.getMSG("RevisionControlCreate009")</label>
                            <div class="col-md-12">
                                <input type="text" value="@(Model.edc_diseño_efectivo ? Strings.getMSG("UsuarioIndex004"):Strings.getMSG("UsuarioIndex005"))" class="form-control" readonly />
                            </div>
                        </div>

                        <div class="form-group  col-md-4">
                            <label class="control-label col-xs-3 col-md-2">@Strings.getMSG("Observaciones")</label>
                            <div class="col-md-12">
                                @Html.TextAreaFor(model => model.edc_obs_12, new { @class = "form-control", @rows = "5", @title = "", data_trigger = "hover", data_toggle = "popover", data_content = "", @readonly = "readonly" })
                            </div>
                        </div>

                        <div class="form-group  col-md-4">
                            <label class="control-label col-xs-3 col-md-2">@Strings.getMSG("EvaluacionIndicadorEvaluaciones003")</label>
                            <div class="col-md-12">
                                <input type="text" class="form-control" value="@(Model.c_calificacion33 != null ? Model.c_calificacion33.nb_calificacion : "")" readonly />
                            </div>
                        </div>
                        @{ViewBag.califList = DropDown.Calificaciones(); }
                    </div> <!--Evaluación del Diseño del Control campo 13-->

                    <div class="row">

                        <h4>@Strings.getMSG("RevisionControlCreate098")</h4>

                        <div class="form-group  col-md-4">
                            <label class="control-label col-xs-3 col-md-2">@Strings.getMSG("SubProcesoCreate018")</label>
                            <div class="col-md-12">
                                @Html.TextAreaFor(model => model.edc_efectividad, new { @class = "form-control", @rows = "5", @title = "", data_trigger = "hover", data_toggle = "popover", data_content = "", @readonly = "readonly" })
                            </div>
                        </div>

                        <div class="form-group  col-md-4">
                            <label class="control-label col-xs-3 col-md-2">@Strings.getMSG("RevisionControlCreate010")</label>
                            <div class="col-md-12">
                                @Html.TextAreaFor(model => model.edc_obs_13, new { @class = "form-control", @rows = "5", @title = "", data_trigger = "hover", data_toggle = "popover", data_content = "", @readonly = "readonly" })
                            </div>
                        </div>

                        <div class="form-group  col-md-4">
                            <label class="control-label col-xs-3 col-md-2">@Strings.getMSG("EvaluacionIndicadorEvaluaciones003")</label>
                            <div class="col-md-12">
                                <input type="text" class="form-control" value="@(Model.c_calificacion34 != null ? Model.c_calificacion34.nb_calificacion : "")" readonly />
                            </div>
                        </div>
                        @{ViewBag.califList = DropDown.Calificaciones(); }
                    </div> <!--Evaluación del Diseño del Control campo 14-->

                </div>
            </div>
        </div> <!--Panel de Evaluación del Diseño del Control -->

        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse4">
                        @Strings.getMSG("RevisionControlCreate100")
                    </a>
                </h4>
            </div>
            <div id="collapse4" class="panel-collapse collapse">
                <div class="panel-body well">

                    <h4>@Strings.getMSG("RevisionControlCreate101")</h4>

                    <div id="pruebas">
                        @foreach (var prueba in pruebas)
                        {
                            string calificacion = "";
                            try
                            {
                                calificacion = prueba.c_calificacion.nb_calificacion;
                            }
                            catch { }

                            <div class="row" id="P@(pruebas.IndexOf(prueba))">
                                <h4>Prueba @(pruebas.IndexOf(prueba) + 1)</h4>
                                <div class="form-group col-md-4">
                                    <label class="control-label col-xs-3 col-md-2">@Strings.getMSG("SubProcesoCreate018")</label>
                                    <div class="col-md-12">
                                        <textarea rows="5" name="ds_pp[]" class="form-control" readonly>@prueba.ds_procedimiento_prueba</textarea>
                                    </div>
                                </div>
                                <div class="form-group col-md-4">
                                    <label class="control-label col-xs-3 col-md-2">@Strings.getMSG("RevisionControlCreate010")</label>
                                    <div class="col-md-12">
                                        <textarea rows="5" name="obs_pp[]" class="form-control" readonly>@prueba.observaciones</textarea>
                                    </div>
                                </div>
                                <div class="form-group col-md-4">
                                    <label class="control-label col-xs-3 col-md-2">@Strings.getMSG("EvaluacionIndicadorEvaluaciones003")</label>
                                    <div class="col-md-12">
                                        <input type="text" class="form-control" value="@calificacion" readonly />
                                    </div>
                                </div>
                            </div>
                        }


                    </div>

                    <h3>@Strings.getMSG("RevisionControlCreate096")</h3>

                    <div class="row">

                        <h4>@Strings.getMSG("RevisionControlCreate103")</h4>

                        <div class="form-group  col-md-6">
                            <input type="text" value="@(rrData[1] ?? "N/A")" class="form-control" readonly />
                        </div>
                    </div> <!--Evaluación de la eficacia operativa del Control campo 3-->

                    <div class="row">

                        <h4>@Strings.getMSG("RevisionControlCreate104")</h4>

                        <div class="form-group  col-md-4">
                            <label class="control-label col-xs-3 col-md-2">@Strings.getMSG("RevisionControlCreate009")</label>
                            <div class="col-md-12">
                                <input type="text" value="@(Model.eeo_diseño_efectivo ? Strings.getMSG("UsuarioIndex004"):Strings.getMSG("UsuarioIndex005"))" class="form-control" readonly />
                            </div>
                        </div>

                        <div class="form-group  col-md-4">
                            <label class="control-label col-xs-3 col-md-2">@Strings.getMSG("RevisionControlCreate010")</label>
                            <div class="col-md-12">
                                @Html.TextAreaFor(model => model.eeo_obs_1, new { @class = "form-control", @rows = "5", @title = "", data_trigger = "hover", data_toggle = "popover", data_content = "", @readonly = "readonly" })
                            </div>
                        </div>

                        <div class="form-group  col-md-4">
                            <label class="control-label col-xs-3 col-md-2">@Strings.getMSG("EvaluacionIndicadorEvaluaciones003")</label>
                            <div class="col-md-12">
                                <input type="text" class="form-control" value="@(Model.c_calificacion37 != null ? Model.c_calificacion37.nb_calificacion : "")" readonly />
                            </div>
                        </div>
                        @{ViewBag.califList = DropDown.Calificaciones(); }
                    </div> <!--Evaluación de la eficacia operativa del Control campo 4-->

                    <div class="row">

                        <h4>@Strings.getMSG("RevisionControlCreate105")</h4>

                        <div class="form-group  col-md-4">
                            <label class="control-label col-xs-3 col-md-2">@Strings.getMSG("SubProcesoCreate018")</label>
                            <div class="col-md-12">
                                @Html.TextAreaFor(model => model.eeo_efectividad, new { @class = "form-control", @rows = "5", @title = "", data_trigger = "hover", data_toggle = "popover", data_content = "", @readonly = "readonly" })
                            </div>
                        </div>

                        <div class="form-group  col-md-4">
                            <label class="control-label col-xs-3 col-md-2">@Strings.getMSG("RevisionControlCreate010")</label>
                            <div class="col-md-12">
                                @Html.TextAreaFor(model => model.eeo_obs_2, new { @class = "form-control", @rows = "5", @title = "", data_trigger = "hover", data_toggle = "popover", data_content = "", @readonly = "readonly" })
                            </div>
                        </div>

                        <div class="form-group  col-md-4">
                            <label class="control-label col-xs-3 col-md-2">@Strings.getMSG("EvaluacionIndicadorEvaluaciones003")</label>
                            <div class="col-md-12">
                                <input type="text" class="form-control" value="@(Model.c_calificacion38 != null ? Model.c_calificacion38.nb_calificacion : "")" readonly />
                            </div>
                        </div>
                    </div> <!--Evaluación de la eficacia operativa del Control campo 5-->

                </div>
            </div>
        </div> <!--Panel de Evaluación de la Eficacia Operativa del Control -->

        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse5">
                        @Strings.getMSG("RevisionControlCreate005")
                    </a>
                </h4>
            </div>
            <div id="collapse5" class="panel-collapse collapse">
                <div class="panel-body well">

                    <div class="row col-md-4">
                        <label class="control-label col-xs-3 col-md-2">@Strings.getMSG("RevisionControlCreate096")</label>
                        <div class="form-group  col-md-12">
                            @Html.TextAreaFor(model => model.cg_conclusion, new { @class = "form-control", @rows = "5", @title = "", data_trigger = "hover", data_toggle = "popover", data_content = "", @readonly = "readonly" })
                        </div>
                    </div> <!--Conclusión General 1-->

                    <div class="form-group  col-md-4">
                        <label class="control-label col-xs-3 col-md-2">@Strings.getMSG("RevisionControlCreate010")</label>
                        <div class="col-md-12">
                            @Html.TextAreaFor(model => model.cg_obs_1, new { @class = "form-control", @rows = "5", @title = "", data_trigger = "hover", data_toggle = "popover", data_content = "", @readonly = "readonly" })
                        </div>
                    </div>

                    <div class="form-group  col-md-4">
                        <label class="control-label col-xs-3 col-md-2">@Strings.getMSG("RevisionControlCreate116")</label>
                        <div class="col-md-12">
                            <input type="text" value="@concluido" class="form-control" readonly />
                        </div>
                    </div>


                </div>
            </div>
        </div> <!--Panel de Conclusiones-->


    </div>

    <table class="table table-striped table-bordered table-hover">
        <thead>
            <tr>
                <th>@Strings.getMSG("RevisionControlRevisiones006")</th>
                <th>@Strings.getMSG("BDEIIndex003")</th>
                <th width="80px"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var file in Model.c_archivo)
            {
                <tr id="fr@(file.id_archivo)">
                    <td>@file.nb_archivo</td>
                    <td>@file.fe_alta.Value.ToString("dd/MM/yyyy hh:mm:ss")</td>
                    <td>
                        <center>
                            <a href="@Url.Action("Download","Archivos", new { id = file.id_archivo})"><i class="fa fa-download" title="@Strings.getMSG("Descargar")"></i></a>|
                            <a onclick="deleteFile(@file.id_archivo,'@file.nb_archivo')"><i class="fa fa-trash" title="@Strings.getMSG("Borrar")"></i></a>
                        </center>
                    </td>
                </tr>
            }
        </tbody>
    </table>


    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="@Strings.getMSG("Borrar")" class="btn btn-primary" />
            |
            @Html.ActionLink(Strings.getMSG("Regresar"), "Revisiones", "RevisionControl", new { id = Model.id_control }, new { @class = "btn btn-default" })
        </div>
    }


</div>