@model IEnumerable<SCIRA.Models.c_magnitud_impacto>
@using SCIRA.Utilidades
@{
    Layout = "~/Views/Shared/_LayoutIndex.cshtml";
    ViewBag.Title = "Magnitud de Impacto";
}

<h2>@Strings.getMSG("Menu025")</h2>

<p>
    @Html.ActionLink(Strings.getMSG("Agregar"), "Create", null, new { @class = "btn btn-default btn-sm" })
</p>

<table id="results" class="table table-striped table-bordered table-hover">
    <thead>
        <tr>
            <th class="search">
                @Strings.getMSG("Clave")
            </th>
            <th class="search">
                @Strings.getMSG("Nombre")
            </th>
            <th>
                @Strings.getMSG("Menu025")
            </th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.cl_magnitud_impacto)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.nb_magnitud_impacto)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.magnitud_impacto)
                </td>
                <td>
                    <center>
                        <a href="@Url.Action("Edit", new { id = item.id_magnitud_impacto })">
                            <i class="glyphicon glyphicon-pencil" title="@Strings.getMSG("Editar")"></i>
                        </a> |
                        <a href="@Url.Action("Delete", new { id = item.id_magnitud_impacto })">
                            <i class="glyphicon glyphicon-trash" title="@Strings.getMSG("Borrar")"></i>
                        </a>
                    </center>
                </td>
            </tr>
        }
    </tbody>
</table>
