@using SCIRA.Models
@using SCIRA.Utilidades
@{
    ViewBag.Title = "Reporte de Cambios en Macro Procesos";
    Layout = "~/Views/Shared/_LayoutReporte.cshtml";
    SICIEntities db = new SICIEntities();

    int NRM = 1;

    List<c_macro_proceso> mps = ViewBag.mps;
}

<h2>@Strings.getMSG("Historial de cambios") @Strings.getMSG("MP")</h2>

<br>
<br>

<table class="results table table-striped table-bordered table-hover">
    <thead>
        <tr>
            <th>@Strings.getMSG("Entidad")</th>
            <th>@Strings.getMSG("ReporteEstructuraIndex001")</th>
            <th>@Strings.getMSG("Clave")</th>
            <th>@Strings.getMSG("MP")</th>
            <th>@Strings.getMSG("Responsable")</th>
            <th>@Strings.getMSG("ReporteCambiosMRyCIndex002")</th>
            <th>@Strings.getMSG("RiesgoHistorial003")</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var mp in mps)
        {
            var registros = mp.r_macro_proceso.ToList().OrderByDescending(ri => ri.fe_modificacion);
            var mpA = registros.First();
            int count = registros.Count();

            <tr>
                <td>@mp.c_entidad.cl_entidad - @mp.c_entidad.nb_entidad</td>
                <td>@mp.c_entidad.c_usuario.nb_usuario</td>
                <td @(mp.cl_macro_proceso == mpA.cl_macro_proceso ? "" : "style=background-color:yellow;")>@mp.cl_macro_proceso @(mp.cl_macro_proceso == mpA.cl_macro_proceso ? "" : "(cambió)")</td>
                <td @(mp.nb_macro_proceso == mpA.nb_macro_proceso ? "" : "style=background-color:yellow;")>@mp.nb_macro_proceso @(mp.nb_macro_proceso == mpA.nb_macro_proceso ? "" : "(cambió)")</td>
                <td @(mp.c_usuario.nb_usuario == mpA.nb_responsable ? "" : "style=background-color:yellow;")>@mp.c_usuario.nb_usuario @(mp.c_usuario.nb_usuario == mpA.nb_responsable ? "" : "(cambió)")</td>
                
                <td>N/A</td>
                <td>N/A</td>
            </tr>

            for (int i = 0; i < NRM; i++)//Solamente mostramos 1 registro
            {

                var registro = registros.ElementAt(i);
                r_macro_proceso registroA;
                if (i < NRM - 1)
                {
                    registroA = registros.ElementAt(i + 1);
                }
                else
                {
                    registroA = registro;
                }

    <tr>
        <td>@mp.c_entidad.cl_entidad - @mp.c_entidad.nb_entidad</td>
        <td>@mp.c_entidad.c_usuario.nb_usuario</td>
        <td @(registro.cl_macro_proceso == registroA.cl_macro_proceso ? "" : "style=background-color:yellow;")>@registro.cl_macro_proceso</td>
        <td @(registro.nb_macro_proceso == registroA.nb_macro_proceso ? "" : "style=background-color:yellow;")>@registro.nb_macro_proceso</td>
        <td @(registro.nb_responsable == registroA.nb_responsable ? "" : "style=background-color:yellow;")>@registro.nb_responsable</td>



        <td>@string.Format("{0:dd/MM/yyyy}", registro.fe_modificacion)</td>
        <td>@registro.c_usuario.nb_usuario</td>
    </tr>
            }
        }
    </tbody>
</table>
