@model IEnumerable<SCIRA.Models.c_entidad>
@using SCIRA.Utilidades;
@using SCIRA.Models;

@{
    Layout = "~/Views/Shared/_LayoutIndex.cshtml";
    ViewBag.Title = "Entidades certificadas";

    c_periodo_certificacion periodo = ViewBag.periodo;
}

<style>
    .card-header {
        font-size:1.7rem;
        font-weight:bold;
    }

    .card-body {
        font-size: 1.6rem;
    }
</style>

<script>
    var modalOptions = {
        title: "@Strings.getMSG("AuditoriaCreateUniversoAuditableCreate013")",
        size: "xl",
        show: true,
        loadUrl: "@(Url.Action("SelectorPeriodo"))"
    }

    function selectorPeriodo() {
        menuModal.initModal(modalOptions);
    }

    var Url = "@(Url.Action("","CertificacionInforme"))?id=";

    function goToPeriod(id) {
        window.location.href = Url + id;
    }
</script>



<h2><span class="catalogName">@Strings.getMSG("CertificacionInforme031")</span></h2>


<div class="row">
    <div class="card-group" style="margin:0 0 20px 0">
        <div class="card hover" onclick="selectorPeriodo();">
            <div class="card-header text-center" >@Strings.getMSG("CertificacionesEntidad001")</div>
            <div class="card-body text-center">
                @if (periodo != null)
                {
                    @(periodo.nb_periodo_certificacion + " - " + periodo.anio)
                }
                else
                {
                    @("N/A")
                }
            </div>
        </div>
    </div>
</div>

<table id="results" class="table table-striped table-bordered table-hover">
    <thead>
        <tr>
            <th class="search">@Strings.getMSG("Clave")</th>
            <th class="search">@Strings.getMSG("Nombre")</th>
            <th class="search">@Strings.getMSG("CertificacionesEntidad008")</th>
            <th width="55"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            var cert = item.k_certificacion_estructura.FirstOrDefault(c => c.id_periodo_certificacion == periodo.id_periodo_certificacion);

            <tr>
                <td>
                    @(item.cl_entidad)
                </td>
                <td>
                    @(item.nb_entidad)
                </td>
                <td>
                    @(cert.resultado ? Strings.getMSG("UsuarioIndex004"):Strings.getMSG("UsuarioIndex005"))
                </td>
                <td>
                    <center>
                        <a href="@Url.Action("UniversoCertificado", new { id = item.id_entidad, id_periodo = periodo.id_periodo_certificacion })">
                            <i class="fa fa-info-circle fa-lg" title="@Strings.getMSG("Universo Certificado")"></i>
                        </a>|
                        <a href="@Url.Action("IncidenciasDetectadas", new { id = item.id_entidad, id_periodo = periodo.id_periodo_certificacion })">
                            <i class="fa fa-warning fa-lg" title="@Strings.getMSG("Incidencias Detectadas")"></i>
                        </a>
                    </center>
                </td>
            </tr>
        }
    </tbody>
</table>
