@model IEnumerable<SCIRA.Models.k_objeto>
@using SCIRA.Utilidades
@{
    Layout = "~/Views/Shared/_LayoutIndex.cshtml";
    ViewBag.Title = "Informes sin Contestación";
}


<script>
    $(function () {
        chat.client.removeRow = function (typeTable, id, id_usuario) {


            if (UserID == id_usuario && typeTable == 4) {
                table
                    .rows('.R' + id)
                    .remove()
                    .draw();
            }
        };
    });
</script>

<link href="~/Content/font-awesome.min.css" rel="stylesheet" />
<h2>@Strings.getMSG("PendientesInformesIndex001")</h2>



<div class="form-horizontal well">
    <table class="results table table-bordered table-striped table-hover table-responsive">
        <thead>
            <tr>
                <th>@Strings.getMSG("MCSubProcesoIndex002")</th>
                <th>@Strings.getMSG("Nombre")</th>
                <th>@Strings.getMSG("Entidad")</th>
                <th>@Strings.getMSG("lyPInformesIndex003")</th>
                <th>@Strings.getMSG("ContestacionOficioIndex005")</th>
                <th>@Strings.getMSG("ContestacionOficioIndex004")</th>
                <th width="80px"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                int nic = 0;
                foreach (var inc in item.k_incidencia)
                {
                    if (inc.r_respuesta.Count > 0) { nic++; }
                }
                <tr class="R@(item.id_objeto)">
                    <td>@(item.tipo_objeto == 2 ? Strings.getMSG("lyPIndex001") : Strings.getMSG("lyPIndex002"))</td>
                    <td>@item.nb_objeto</td>
                    <td>@item.c_entidad.cl_entidad - @item.c_entidad.nb_entidad</td>
                    <td>@item.fe_alta</td>
                    <td>@item.no_incidencias</td>
                    <td>@nic</td>
                    <td>
                        @if (item.no_incidencias == nic)
                        {
                            <center>
                                <a href="@Url.Action("ContestarOficio","ContestacionOficio", new { id = item.id_objeto })" target="_blank">
                                    <i class="fa fa-reply" title="@Strings.getMSG("Contestar Informe")"></i>
                                </a>
                            </center>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
