@model IEnumerable<SCIRA.Models.c_contenido_normatividad>
@using SCIRA.Utilidades
@if (Model.Count() > 0)
{
    <br /><br /><br />
    if (Model.First().id_contenido_normatividad_padre != null)
    {
        <p>
            <a class="btn btn-default btn-sm" href=#null onclick="loadContent(@ViewBag.idAnterior)">@Strings.getMSG("Atrás")</a>
        </p>
    }

    if (ViewBag.Contador != null)
    {
        var cad = "";
        for (int i = ViewBag.Contador; i > 0; i--)
        {
            <span> <a href=#null onclick="loadContent(@ViewBag.IDs[i-1])">@ViewBag.Claves[i - 1]</a> >> </span>
            cad += ViewBag.Claves[i - 1] + ">>";
        }
        <script>
            $(document).ready(function () {
                clave = "@cad";
            });
        </script>
    }

    <table id="results2" class="table table-striped table-bordered table-hover">
        <thead>
            <tr>
                <th class="search">@Strings.getMSG("Clave")</th>
                <th class="search">@Strings.getMSG("Nombre")</th>
                <th class="search">@Strings.getMSG("lyPIncidenciasIndex002")</th>
                <th class="search">@Strings.getMSG("NormatividadIndex011")</th>
                <th width="100"></th>
            </tr>
        </thead>
        
        
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        <a href=#null onclick='loadContent(@item.id_contenido_normatividad)'>
                            @item.cl_contenido_normatividad
                        </a> 
                    </td>
                    <td>
                        <a href=#null onclick='loadContent(@item.id_contenido_normatividad)'>
                            @item.ds_contenido_normatividad
                        </a>
                        <input type="text" hidden id="@(item.id_contenido_normatividad)nm" value="@item.ds_contenido_normatividad">
                    </td>
                    <td>
                        @item.c_nivel_normatividad.nb_nivel_normatividad
                    </td>
                    <td>
                        @item.c_nivel_normatividad.no_orden
                    </td>
                    <td>
                        <center>
                            <a href="#" onclick="setNM(@item.id_contenido_normatividad)">
                                <i class="glyphicon glyphicon-pushpin" title="@Strings.getMSG("NormatividadIndex012")"></i>
                            </a>
                        </center>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{   
    <center>
        <h3>@Strings.getMSG("NormatividadIndex013")</h3>
        <p>
            <a class="btn btn-default btn-sm" href=#null onclick="loadContent(@ViewBag.idAnterior)">@Strings.getMSG("Atrás")</a>
        </p>
    </center>
}

<script>
    $(document).ready(function () {
        if (global == 0) {
            global = 1;
        }
        else {
            loadTable2();
        }
        
    });
</script>