@model IEnumerable<SCIRA.Models.r_evento>
@using SCIRA.ViewModels
@using SCIRA.Utilidades
@using Newtonsoft.Json
@{ 
    var db = new SCIRA.Models.SICIEntities();
}

<script src="~/Scripts/sharedScripts.js"></script>
<script>
    $(document).ready(function () {
        initTables("#menuModal");
    });
</script>

<table class="results table table-bordered table-striped table-hover table-responsive">
    <thead>
        <tr>
            <th class="search">@Strings.getMSG("NormatividadOperacionIndex001")</th>
            <th class="search">@Strings.getMSG("Responsable")</th>
            <th class="search">@Strings.getMSG("NormatividadOperacionIndex002")</th>
            <th class="search">@Strings.getMSG("NormatividadOperacionIndex003")</th>
            <th class="search">@Strings.getMSG("NotificationEdit003")</th>
            <th class="search">@Strings.getMSG("NormatividadOperacionIndex004")</th>
            <th class="search">@Strings.getMSG("NormatividadOperacionIndex005")</th>
            <th class="search">@Strings.getMSG("NormatividadOperacionIndex006")</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            var tipo = item.tipo == "0001" ? Strings.getMSG("Normatividad") : Strings.getMSG("ProcesoBenchmarkDelete001");
            string registro_ligado = "";
            var reg = Utilidades.GetLastReg(item, db);

            if (item.tipo == "0001")
            {
                ConfiguracionesEventosViewModel.Config0001 conf = JsonConvert.DeserializeObject<ConfiguracionesEventosViewModel.Config0001>(item.config);
                var cont = db.c_contenido_normatividad.Find(conf.id);
                var norm = Utilidades.getRoot(db, cont);

                if (cont.id_contenido_normatividad_padre != null)
                {
                    registro_ligado = cont.cl_contenido_normatividad + " de la normatividad " + norm.ds_contenido_normatividad;
                }
                else
                {
                    registro_ligado = "Normatividad " + norm.ds_contenido_normatividad;
                }

            }
            else
            {
                registro_ligado = "N/A";
            }

            <tr class="R@(item.id_evento)">
                <td>@item.nb_evento</td>
                <td>@item.c_usuario.nb_usuario</td>
                <td>@tipo</td>
                <td>@registro_ligado</td>
                <td>@item.ds_evento</td>
                <td>@(item.recordar_antes_de_vencer ? Strings.getMSG("PendientesVerTodoIndex010") : Strings.getMSG("PendientesVerTodoIndex011"))</td>
                <td>@string.Format("{0:dd/MM/yyyy}", Utilidades.getFeLim(item))   </td>
                <td>@Utilidades.GetStatus(item)</td>
            </tr>
        }
    </tbody>
</table>    