@model IEnumerable<SCIRA.Models.k_objeto>
@using SCIRA.Utilidades
<script src="~/Scripts/sharedScripts.js"></script>
<script>
    $(document).ready(function () {
        initTables("#contenedor3");
        $("#ind3").removeClass("IndicatorLoader");
    });
</script>

<h4>@Strings.getMSG("lyPInformesIndex001")</h4>

<p>
    <input type="button" onclick="createAuInt()" class="btn btn-default btn-sm" value="@Strings.getMSG("Agregar")" />
</p>

<table class="results table table-bordered table-striped table-hover table-responsive">
    <thead>
        <tr>
            <th>@Strings.getMSG("lyPInformesIndex002")</th>
            <th>@Strings.getMSG("Entidad")</th>
            <th>@Strings.getMSG("lyPInformesIndex003")</th>
            <th>@Strings.getMSG("lyPIndex007")</th>
            <th width="120px"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.nb_objeto</td>
                <td>@item.c_entidad.cl_entidad - @item.c_entidad.nb_entidad</td>
                <td>@(item.fe_alta.HasValue ? item.fe_alta.Value.ToString("dd/MM/yyyy") : "")</td>
                <td>@(item.fe_contestacion.HasValue ? item.fe_contestacion.Value.ToString("dd/MM/yyyy") : "")</td>
                <td>
                    <center>
                        @if (item.nb_archivo_1 != null)
                        {
                            <a href="@Url.Action("DescargaArchivo", new { id = item.id_objeto,index = 1 })">
                                <i class="fa fa-download fa-lg" title="@Strings.getMSG("lyPInformesIndex005")"></i>
                            </a>
                            <span>|</span>
                        }
                        <a>
                            <i class="fa fa-id-card" title="@Strings.getMSG("Ficha")" onclick="getFichaO(@item.id_objeto)"></i>
                        </a> |
                        <a href="#" onclick="editAuInt(@item.id_objeto)">
                            <i class="fa fa-edit" title="@Strings.getMSG("Editar")" style="font-size: 16px;"></i>
                        </a> |
                        <a href="#" onclick="indexIncidencias(3,@item.id_objeto)">
                            <i class="fa fa-exclamation-triangle" title="@Strings.getMSG("Incidencias") (@item.k_incidencia.Count())" style="font-size: 16px;"></i>
                        </a> |
                        <a href="#" onclick="deleteAuInt(@item.id_objeto)">
                            <i class="fa fa-trash" title="@Strings.getMSG("Borrar")" style="font-size: 16px;"></i>
                        </a>
                    </center>
                </td>
            </tr>
        }

    </tbody>
</table>