@using SCIRA.Models
@using System.Reflection
@using SCIRA.Utilidades
@{
    ViewBag.Title = "Reporte de Cambios en Sub Procesos";
    Layout = "~/Views/Shared/_LayoutReporte.cshtml";
    SICIEntities db = new SICIEntities();

    int NRM = 1;

    List<c_sub_proceso> sps = ViewBag.sps;
    List<c_meta_campo> CESP = ViewBag.CamposExtraSubProceso;

    Type m_tipo = null;
    PropertyInfo[] m_propiedades = null;
    PropertyInfo[] m_propiedades_a = null;
}

<h2>@Strings.getMSG("Historial de cambios") @Strings.getMSG("SP")</h2>


<br>
<br>

<table class="results table table-striped table-bordered table-hover">
    <thead>
        <tr>
            <th>@Strings.getMSG("Entidad")</th>
            <th>@Strings.getMSG("MP")</th>
            <th>@Strings.getMSG("P")</th>
            <th>@Strings.getMSG("Clave")</th>
            <th>@Strings.getMSG("SP")</th>
            <th>@Strings.getMSG("SubProcesoCreate018")</th>
            <th>@Strings.getMSG("Responsable")</th>
            <th>@Strings.getMSG("SubProcesoCreate012")</th>
            <th>@Strings.getMSG("SubProcesoCreate011")</th>
            <th>@Strings.getMSG("SubProcesoCreate009")</th>
            <th>@Strings.getMSG("SubProcesoCreate010")</th>
            <th>@Strings.getMSG("SubProcesoCreate013")</th>
            <th>@Strings.getMSG("Menu005")</th>
            <th>@Strings.getMSG("ReporteMRyCIndex012")</th>
            <th>@Strings.getMSG("ReporteMRyCIndex013")</th>
            <th>@Strings.getMSG("SubProcesoCreate016")</th>
            <th>@Strings.getMSG("SubProcesoCreate017")</th>
            @for (int i = 0; i < 20; i++)
            {
                var ce = CESP[i];
                if (ce.es_visible)
                {
                    <th>@ce.nb_campo</th>
                }
            }
            <th>@Strings.getMSG("ReporteCambiosMRyCIndex002")</th>
            <th>@Strings.getMSG("RiesgoHistorial003")</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var sp in sps)
        {
            var registros = sp.r_sub_proceso.ToList().OrderByDescending(ri => ri.fe_modificacion);
            var spA = registros.First();
            int count = registros.Count();

            string clnbEn = $"{sp.c_proceso.c_macro_proceso.c_entidad.cl_entidad} - {sp.c_proceso.c_macro_proceso.c_entidad.nb_entidad}";
            string clnbMp = $"{sp.c_proceso.c_macro_proceso.cl_macro_proceso} - {sp.c_proceso.c_macro_proceso.nb_macro_proceso}";
            string clnbPr = $"{sp.c_proceso.cl_proceso} - {sp.c_proceso.nb_proceso}";

            string[] participantesArray = sp.c_usuario_sub_proceso.Select(p => p.c_usuario.nb_usuario).ToArray();
            string participantes = string.Join(", ", participantesArray);
            string[] lineasnegocioArray = sp.c_linea_negocio.Select(l => l.nb_linea_negocio).ToArray();
            string lineas_negocio = string.Join(", ", lineasnegocioArray);
            string[] areascosteoArray = sp.c_area_costeo_sub_proceso.Select(a => a.c_area_costeo.nb_area_costeo).ToArray();
            string areas_costeo = string.Join(", ", areascosteoArray);
            string etapa = "";
            if (sp.c_etapa != null) { etapa = sp.c_etapa.nb_etapa; }
            string subEtapa = "";
            if (sp.c_sub_etapa != null) { subEtapa = sp.c_sub_etapa.nb_sub_etapa; }

            <tr>
                <td @(clnbEn == spA.nb_entidad ? "" : "style=background-color:yellow;")>@clnbEn @(clnbEn == spA.nb_entidad ? "" : "(cambió)")</td>
                <td @(clnbMp == spA.nb_macro_proceso ? "" : "style=background-color:yellow;")>@clnbMp @(clnbMp == spA.nb_macro_proceso ? "" : "(cambió)")</td>
                <td @(clnbPr == spA.nb_proceso ? "" : "style=background-color:yellow;")>@clnbPr @(clnbPr == spA.nb_proceso ? "" : "(cambió)")</td>
                <td @(sp.cl_sub_proceso == spA.cl_sub_proceso ? "" : "style=background-color:yellow;")>@sp.cl_sub_proceso @(sp.cl_sub_proceso == spA.cl_sub_proceso ? "" : "(cambió)")</td>
                <td @(sp.nb_sub_proceso == spA.nb_sub_proceso ? "" : "style=background-color:yellow;")>@sp.nb_sub_proceso @(sp.nb_sub_proceso == spA.nb_sub_proceso ? "" : "(cambió)")</td>
                <td @(sp.ds_sub_proceso == spA.ds_sub_proceso ? "" : "style=background-color:yellow;")>@sp.ds_sub_proceso @(sp.ds_sub_proceso == spA.ds_sub_proceso ? "" : "(cambió)")</td>
                <td @(sp.c_usuario.nb_usuario == spA.nb_responsable ? "" : "style=background-color:yellow;")>@sp.c_usuario.nb_usuario @(sp.c_usuario.nb_usuario == spA.nb_responsable ? "" : "(cambió)")</td>
                <td @(participantes == spA.participantes ? "" : "style=background-color:yellow;")>@participantes @(participantes == spA.participantes ? "" : "(cambió)")</td>
                <td @(sp.cl_manual == spA.cl_manual ? "" : "style=background-color:yellow;")>@sp.cl_manual @(sp.cl_manual == spA.cl_manual ? "" : "(cambió)")</td>
                <td @(sp.cl_sp_anterior == spA.cl_sp_anterior ? "" : "style=background-color:yellow;")>@sp.cl_sp_anterior @(sp.cl_sp_anterior == spA.cl_sp_anterior ? "" : "(cambió)")</td>
                <td @(sp.cl_sp_siguiente == spA.cl_sp_siguiente ? "" : "style=background-color:yellow;")>@sp.cl_sp_siguiente @(sp.cl_sp_siguiente == spA.cl_sp_siguiente ? "" : "(cambió)")</td>
                <td @(sp.c_tipologia_sub_proceso.nb_tipologia_sub_proceso == spA.tipologia_sub_proceso ? "" : "style=background-color:yellow;")>@sp.c_tipologia_sub_proceso.nb_tipologia_sub_proceso @(sp.c_tipologia_sub_proceso.nb_tipologia_sub_proceso == spA.tipologia_sub_proceso ? "" : "(cambió)")</td>
                <td @(lineas_negocio == spA.lineas_negocio ? "" : "style=background-color:yellow;")>@lineas_negocio @(lineas_negocio == spA.lineas_negocio ? "" : "(cambió)")</td>
                <td @(etapa == spA.nb_etapa ? "" : "style=background-color:yellow;")>@etapa @(etapa == spA.nb_etapa ? "" : "(cambió)")</td>
                <td @(subEtapa == spA.nb_sub_etapa ? "" : "style=background-color:yellow;")>@subEtapa @(subEtapa == spA.nb_sub_etapa ? "" : "(cambió)")</td>
                <td @(sp.ds_areas_involucradas == spA.ds_areas_involucradas ? "" : "style=background-color:yellow;")>@sp.ds_areas_involucradas @(sp.ds_areas_involucradas == spA.ds_areas_involucradas ? "" : "(cambió)")</td>
                <td @(sp.ds_aplicaciones_relacionadas == spA.ds_aplicaciones_relacionadas ? "" : "style=background-color:yellow;")>@sp.ds_aplicaciones_relacionadas @(sp.ds_aplicaciones_relacionadas == spA.ds_aplicaciones_relacionadas ? "" : "(cambió)")</td>

                <!-- Campos extra riesgo original -->
                @{
                    m_tipo = sp.GetType();
                    m_propiedades = m_tipo.GetProperties();
                    m_tipo = spA.GetType();
                    m_propiedades_a = m_tipo.GetProperties();
                    for (int i = 0; i < 20; i++)
                    {
                        var ce = CESP[i];
                        var prop = m_propiedades.Where(m => m.Name == string.Format("campo{0:00}", i + 1)).First();
                        var propA = m_propiedades_a.Where(m => m.Name == string.Format("campo{0:00}", i + 1)).First();
                        var v1 = "";
                        var v2 = "";

                        if (ce.es_visible)
                        {
                            try
                            {
                                v1 = (string)prop.GetValue(sp, null);
                            }
                            catch
                            {
                                v1 = "";
                            }
                            try
                            {
                                v2 = (string)propA.GetValue(spA, null);
                            }
                            catch
                            {
                                v2 = "";
                            }
                            <td @(v1 == v2 ? "" : "style=background-color:yellow;")>@v1 @(v1 == v2 ? "" : "(cambió)")</td>
                        }
                    }
                }
                <td>N/A</td>
                <td>N/A</td>
            </tr>

            for (int i = 0; i < NRM; i++)//Solamente mostramos 1 registro
            {

                var registro = registros.ElementAt(i);
                r_sub_proceso registroA;
                if (i < NRM - 1)
                {
                    registroA = registros.ElementAt(i + 1);
                }
                else
                {
                    registroA = registro;
                }

                <tr>
                    <td @(registro.nb_entidad == registroA.nb_entidad ? "" : "style=background-color:yellow;")>@registro.nb_entidad @(registro.nb_entidad == registroA.nb_entidad ? "" : "(cambió)")</td>
                    <td @(registro.nb_macro_proceso == registroA.nb_macro_proceso ? "" : "style=background-color:yellow;")>@registro.nb_macro_proceso @(registro.nb_macro_proceso == registroA.nb_macro_proceso ? "" : "(cambió)")</td>
                    <td @(registro.nb_proceso == registroA.nb_proceso ? "" : "style=background-color:yellow;")>@registro.nb_proceso @(registro.nb_proceso == registroA.nb_proceso ? "" : "(cambió)")</td>
                    <td @(registro.cl_sub_proceso == registroA.cl_sub_proceso ? "" : "style=background-color:yellow;")>@registro.cl_sub_proceso @(registro.cl_sub_proceso == registroA.cl_sub_proceso ? "" : "(cambió)")</td>
                    <td @(registro.nb_sub_proceso == registroA.nb_sub_proceso ? "" : "style=background-color:yellow;")>@registro.nb_sub_proceso @(registro.nb_sub_proceso == registroA.nb_sub_proceso ? "" : "(cambió)")</td>
                    <td @(registro.ds_sub_proceso == registroA.ds_sub_proceso ? "" : "style=background-color:yellow;")>@registro.ds_sub_proceso @(registro.ds_sub_proceso == registroA.ds_sub_proceso ? "" : "(cambió)")</td>
                    <td @(registro.nb_responsable == registroA.nb_responsable ? "" : "style=background-color:yellow;")>@registro.nb_responsable @(registro.nb_responsable == registroA.nb_responsable ? "" : "(cambió)")</td>
                    <td @(registro.participantes == registroA.participantes ? "" : "style=background-color:yellow;")>@registro.participantes @(registro.participantes == registroA.participantes ? "" : "(cambió)")</td>
                    <td @(registro.cl_manual == registroA.cl_manual ? "" : "style=background-color:yellow;")>@registro.cl_manual @(registro.cl_manual == registroA.cl_manual ? "" : "(cambió)")</td>
                    <td @(registro.cl_sp_anterior == registroA.cl_sp_anterior ? "" : "style=background-color:yellow;")>@registro.cl_sp_anterior @(registro.cl_sp_anterior == registroA.cl_sp_anterior ? "" : "(cambió)")</td>
                    <td @(registro.cl_sp_siguiente == registroA.cl_sp_siguiente ? "" : "style=background-color:yellow;")>@registro.cl_sp_siguiente @(registro.cl_sp_siguiente == registroA.cl_sp_siguiente ? "" : "(cambió)")</td>
                    <td @(registro.tipologia_sub_proceso == registroA.tipologia_sub_proceso ? "" : "style=background-color:yellow;")>@registro.tipologia_sub_proceso @(registro.tipologia_sub_proceso == registroA.tipologia_sub_proceso ? "" : "(cambió)")</td>
                    <td @(registro.lineas_negocio == registroA.lineas_negocio ? "" : "style=background-color:yellow;")>@registro.lineas_negocio @(registro.lineas_negocio == registroA.lineas_negocio ? "" : "(cambió)")</td>
                    <td @(registro.nb_etapa == registroA.nb_etapa ? "" : "style=background-color:yellow;")>@registro.nb_etapa @(registro.nb_etapa == registroA.nb_etapa ? "" : "(cambió)")</td>
                    <td @(registro.nb_sub_etapa == registroA.nb_sub_etapa ? "" : "style=background-color:yellow;")>@registro.nb_sub_etapa @(registro.nb_sub_etapa == registroA.nb_sub_etapa ? "" : "(cambió)")</td>
                    <td @(registro.ds_areas_involucradas == registroA.ds_areas_involucradas ? "" : "style=background-color:yellow;")>@registro.ds_areas_involucradas @(registro.ds_areas_involucradas == registroA.ds_areas_involucradas ? "" : "(cambió)")</td>
                    <td @(registro.ds_aplicaciones_relacionadas == registroA.ds_aplicaciones_relacionadas ? "" : "style=background-color:yellow;")>@registro.ds_aplicaciones_relacionadas @(registro.ds_aplicaciones_relacionadas == registroA.ds_aplicaciones_relacionadas ? "" : "(cambió)")</td>
                    <!-- Campos extra registroA.riesgos -->
                    @{
                        m_tipo = registro.GetType();
                        m_propiedades = m_tipo.GetProperties();
                        m_tipo = registroA.GetType();
                        m_propiedades_a = m_tipo.GetProperties();
                        for (int j = 0; j < 20; j++)
                        {
                            var prop = m_propiedades.Where(m => m.Name == string.Format("campo{0:00}", j + 1)).First();
                            var propA = m_propiedades_a.Where(m => m.Name == string.Format("campo{0:00}", j + 1)).First();
                            var ce = CESP[j];
                            var v1 = "";
                            var v2 = "";

                            if (ce.es_visible)
                            {
                                try
                                {
                                    v1 = (string)prop.GetValue(registro, null);
                                }
                                catch
                                {
                                    v1 = "";
                                }
                                try
                                {
                                    v2 = (string)prop.GetValue(registroA, null);
                                }
                                catch
                                {
                                    v2 = "";
                                }
                                <td @(v1 == v2 ? "" : "style=background-color:yellow;")>@v1</td>
                            }
                        }
                    }


                    <td>@string.Format("{0:dd/MM/yyyy}", registro.fe_modificacion)</td>
                    <td>@registro.c_usuario.nb_usuario</td>
                </tr>
            }
        }
    </tbody>
</table>