@{
    ViewBag.Title = "Configuración Riesgo Residual";
    Layout = "~/Views/Shared/_LayoutIndex.cshtml";
}
@using SCIRA.Utilidades
<link href="~/Content/AnimacionCarga.css" rel="stylesheet" />
<link href="~/Content/font-awesome.min.css" rel="stylesheet" />
<script type="text/javascript" src="~/Scripts/sharedScripts.js"></script>
<link href="~/Content/RiesgoResidual.css" rel="stylesheet" />

<script>
    function loadContent(catalogo, cl_campo, isLoading) {
        if (isLoading != 0) {
            $("#" + catalogo + cl_campo).load('@(Url.Action("CampoCoberturaControl", "RiesgoResidualConfig", null))?cl_campo=' + cl_campo + '&catalogo=' + catalogo + '&isLoading=1');
        }
        else {
            $("#" + catalogo + cl_campo).load('@(Url.Action("CampoCoberturaControl", "RiesgoResidualConfig", null))?cl_campo=' + cl_campo + '&catalogo=' + catalogo);
        }
    }

    $(document).ready(function () {
        $("body").addClass('loading');

        loadContent(1, 1, 0); sleep(500);
        loadContent(1, 2, 0); sleep(500);
        loadContent(1, 3, 0); sleep(500);
        loadContent(1, 4, 0); sleep(500);
        loadContent(1, 5, 0); sleep(500);
        loadContent(1, 6, 0); sleep(500);
        loadContent(1, 7, 0); sleep(500);
        loadContent(1, 8, 0); sleep(500);
        loadContent(1, 9, 0); sleep(500);

        loadContent(2, 1, 0); sleep(500);
        loadContent(2, 2, 0); sleep(500);
        loadContent(2, 3, 0); sleep(500);
        loadContent(2, 4, 0); sleep(500);
        loadContent(2, 5, 0); sleep(500);
        $("#summary-box").load('@(Url.Action("Summary", "RiesgoResidualConfig", null))');
    });


    function ToggleAddForm(catalogo, cl_campo) {
        $(".AddForm" + catalogo + cl_campo).show();
        $("#nb_campo" + catalogo + cl_campo).focus();
        $("#AddButton" + catalogo + cl_campo).hide();

        $("#nb_campo" + catalogo + cl_campo).val("");
        $("#ds_campo" + catalogo + cl_campo).val("");
        $("#valor" + catalogo + cl_campo).val("");
    }

    function CloseAddForm(catalogo, cl_campo) {
        $(".AddForm" + catalogo + cl_campo).hide();
        $("#AddButton" + catalogo + cl_campo).show();
        $("#RowError" + catalogo + cl_campo).hide();
    }

    function enviar(catalogo, cl_campo) {


        var nb_campo = $("#nb_campo" + catalogo + cl_campo).val();
        var ds_campo = $("#ds_campo" + catalogo + cl_campo).val();
        var valor = $("#valor" + catalogo + cl_campo).val();

        var ErrorMessage = validate(nb_campo, ds_campo, valor);
        if (ErrorMessage == "") {
            $.ajax({
                dataType: "html",
                type: "post",
                url: '@(Url.Action("Create","RiesgoResidualConfig"))',
                data: $("#form" + catalogo + cl_campo).serialize(),
                success: function (data) {
                    loadContent(catalogo, cl_campo, 1);
                    $("#summary-box").load('@(Url.Action("Summary", "RiesgoResidualConfig", null))');
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    alert("@Strings.getMSG("RiesgoResidualConfigIndex038")");
                }
            });
        }
        else {
            ErrorMessage = "<td colspan = 4><span class='field-validation-error text-danger'>" + ErrorMessage + "</span></td>";
            $("#RowError" + catalogo + cl_campo).html(ErrorMessage);
            $("#RowError" + catalogo + cl_campo).show();
        }
    }

    function enviar_e(catalogo, cl_campo) {


        var nb_campo = $("#nb_campo" + catalogo + cl_campo).val();
        var ds_campo = $("#ds_campo" + catalogo + cl_campo).val();
        var valor = $("#valor" + catalogo + cl_campo).val();
        var no_orden = $("#no_orden" + catalogo + cl_campo).val();

        var ErrorMessage = validate(nb_campo, ds_campo, valor);
        if (ErrorMessage == "") {
            $.ajax({
                dataType: "html",
                type: "post",
                url: '@(Url.Action("Edit","RiesgoResidualConfig"))',
                data: $("#form" + catalogo + cl_campo).serialize(),
                success: function (data) {
                    loadContent(catalogo, cl_campo, 1);
                    $("#summary-box").load('@(Url.Action("Summary", "RiesgoResidualConfig", null))');
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    alert("@Strings.getMSG("RiesgoResidualConfigIndex037")");
                }
            });
        }
        else {
            ErrorMessage = "<td colspan = 4><span class='field-validation-error text-danger'>" + ErrorMessage + "</span></td>";
            $("#RowError" + catalogo + cl_campo).html(ErrorMessage);
            $("#RowError" + catalogo + cl_campo).show();
        }
    }

    function editar(catalogo, cl_campo, no_orden) {
        $(".onEdit").show();
        $(".onEdit").removeClass("onEdit");
        $("#C" + catalogo + cl_campo + no_orden).hide();
        $("#C" + catalogo + cl_campo + no_orden).addClass("onEdit");
        $(".AddForm" + catalogo + cl_campo).hide();
        $("#AddButton" + catalogo + cl_campo).hide();
        $("#RowError" + catalogo + cl_campo).hide();

        var nb_campo = $("#nb" + catalogo + cl_campo + no_orden).val();
        var ds_campo = $("#ds" + catalogo + cl_campo + no_orden).val();
        var valor = $("#val" + catalogo + cl_campo + no_orden).val();

        $("#nb_campo" + catalogo + cl_campo).val(nb_campo);
        $("#ds_campo" + catalogo + cl_campo).val(ds_campo);
        $("#valor" + catalogo + cl_campo).val(valor);
        $("#no_orden" + catalogo + cl_campo).val(no_orden);

        $(".EditForm" + catalogo + cl_campo).show();
    }

    function CloseEditForm(catalogo, cl_campo) {
        $(".onEdit").show();
        $(".onEdit").removeClass("onEdit");
        $(".EditForm" + catalogo + cl_campo).hide();
        $("#AddButton" + catalogo + cl_campo).show();
        $("#RowError" + catalogo + cl_campo).hide();
    }

    function sleep(milliseconds) {
        var start = new Date().getTime();
        for (var i = 0; i < 1e7; i++) {
            if ((new Date().getTime() - start) > milliseconds) {
                break;
            }
        }
    }

    function validate(nb_campo, ds_campo, valor) {
        var ErrorMessage = "";
        if (nb_campo == "") {
            ErrorMessage += "@Strings.getMSG("RiesgoResidualConfigIndex014")<br>";
        }
        if (ds_campo == "") {
            ErrorMessage += "@Strings.getMSG("RiesgoResidualConfigIndex015")<br>";
        }
        if (valor == "") {
            ErrorMessage += "@Strings.getMSG("RiesgoResidualConfigIndex016")<br>";
        }
        if (isNaN(valor)) {
            ErrorMessage += "@Strings.getMSG("RiesgoResidualConfigIndex036")";
        } else if(valor > 100){
            ErrorMessage += "@Strings.getMSG("RiesgoResidualConfigIndex035")";
        }
        else if (valor < 0) {
            ErrorMessage += "@Strings.getMSG("RiesgoResidualConfigIndex034")";
        }
        return ErrorMessage;
    }

    function eliminar(nb_campo, ds_campo, valor,nb_catalogo, catalogo,id,cl_campo) {
        $("#avisoCat").html(nb_catalogo);
        $("#avisoOp").html(nb_campo);
        $("#avisoCA").html(ds_campo);
        $("#avisoVal").html(valor);
        $("#delID").val(id);
        $("#delCC").val(cl_campo);
        $("#delCA").val(catalogo);
        $("#aviso").modal('show');
    }

    function ConfirmEliminar() {
        var catalogo = $("#delCA").val();
        var cl_campo = $("#delCC").val();
        var id = $("#delID").val();

        $.ajax({
                dataType: "html",
                type: "post",
                url: '@(Url.Action("Delete","RiesgoResidualConfig"))',
                data: $("#delForm").serialize(),
                success: function (data) {
                    loadContent(catalogo, cl_campo, 1);
                    $("#summary-box").load('@(Url.Action("Summary", "RiesgoResidualConfig", null))');
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    $("#avisoError").modal('show');
                }
            });
    }
</script>


<div class="modal fade" id="aviso" tabindex="-1" role="dialog" aria-labelledby="Aviso" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <center>
                    <h2 class="modal-title" id="gridModalLabel" style="color: #fff;">@Strings.getMSG("RiesgoResidualConfigIndex028")</h2>
                </center>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
            </div>
            <div class="modal-body">
                <table class="table table-hover table-responsive table-striped table-bordered">
                    <thead>
                        <tr>
                            <th colspan="4">
                                <center>@Strings.getMSG("RiesgoResidualConfigIndex029")</center>
                            </th>
                        </tr>
                        <tr>
                            <th width="120">
                                <center>@Strings.getMSG("Catalogo")</center>
                            </th>
                            <th width="120">
                                <center>@Strings.getMSG("RiesgoResidualConfigIndex018")</center>
                            </th>
                            <th>
                                <center>@Strings.getMSG("RiesgoResidualConfigIndex019")</center>
                            </th>
                            <th>
                                <center>@Strings.getMSG("RiesgoResidualConfigIndex030")</center>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <!--Inicio de una fila-->
                        <tr>
                            <td>
                                <center>
                                    <span id="avisoCat"></span>
                                </center>
                            </td>
                            <td>
                                <center>
                                    <span id="avisoOp"></span>
                                </center>
                            </td>
                            <td>
                                <center>
                                    <span id="avisoCA"></span>
                                </center>
                            </td>
                            <td>
                                <center>
                                    <span id="avisoVal"></span>
                                </center>
                            </td>
                        </tr>
                        <!--final de la fila-->
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal" onclick="ConfirmEliminar();">@Strings.getMSG("RiesgoResidualConfigIndex031")</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">@Strings.getMSG("Cancelar")</button>
            </div>
        </div>
    </div>
</div>



<div class="modal fade" id="avisoError" tabindex="-1" role="dialog" aria-labelledby="Aviso" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <center>
                    <h2 class="modal-title" id="gridModalLabel" style="color: #fff;">@Strings.getMSG("RiesgoResidualConfigIndex033")</h2>
                </center>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
            </div>
            <div class="modal-body">
                @Strings.getMSG("RiesgoResidualConfigIndex032")
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">@Strings.getMSG("Entendido")</button>
            </div>
        </div>
    </div>
</div>


<h2>@Strings.getMSG("RiesgoResidualConfigIndex001")</h2>


<ul class="nav nav-tabs">
    <li class="active"><a href="#diseñoControl" data-toggle="tab"><h4>@Strings.getMSG("RiesgoResidualConfigIndex002")</h4></a></li>
    <li><a href="#efectividadControl" data-toggle="tab"><h4>@Strings.getMSG("RiesgoResidualConfigIndex003")</h4></a></li>
    <li><a href="#Summary" data-toggle="tab"><h4>@Strings.getMSG("RiesgoResidualConfigIndex004")</h4></a></li>
</ul>

<form id="delForm">
    @Html.AntiForgeryToken()
    <input type="text" id="delID" hidden name="id">
    <input type="text" id="delCC" hidden name="cl_campo">
    <input type="text" id="delCA" hidden name="catalogo">
</form>

<div id="myTabContent" class="tab-content">


    <div class="tab-pane fade active in" id="diseñoControl">

        <div id="accordion">
            <div class="card" id="11" w-75></div>
            <div class="card" id="12" w-75></div>
            <div class="card" id="13" w-75></div>
            <div class="card" id="14" w-75></div>
            <div class="card" id="15" w-75></div>
            <div class="card" id="16" w-75></div>
            <div class="card" id="17" w-75></div>
            <div class="card" id="18" w-75></div>
            <div class="card" id="19" w-75></div>
        </div>
    </div>


    <div class="tab-pane" id="efectividadControl">
        <div class="card" id="21" w-75></div>
        <div class="card" id="22" w-75></div>
        <div class="card" id="23" w-75></div>
        <div class="card" id="24" w-75></div>
        <div class="card" id="25" w-75></div>
    </div>


    <div class="tab-pane" id="Summary">
        <div class="card" id="summary-box"></div>
    </div>
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
