@model SCIRA.ViewModels.ActividadesCosteoViewModel
@using SCIRA.Utilidades
@{
    int cols = 9;
    int tiempoTotal = 0;

    foreach (var p in Model.participantes)
    {
        int tiempo = 0;
        try
        {
            tiempo = int.Parse(p.tiempo_total);
        }
        catch
        {

        }
        tiempoTotal += tiempo;
    }
}

<script>
    $(document).ready(function () {
        loadTables1();

       @if(ViewBag.error != null)
        {
            @:menuModal.setTitle("@Strings.getMSG("Aviso")");
            @:$("#menuModal .partialModal").html("<center><h3>@Strings.getMSG("ReporteCosteoIndex004")</h3></center>");
            @:menuModal.show();
        }
    });



    function loadTables1() {
        $('#results1 thead th.search').each(function () {
            var title = $(this).text();
            $(this).html(title + '<br><input type="text" class="form-control" placeholder="@Strings.getMSG("Buscar") ' + title + '" />');
        });

        table1 = $('#results1').DataTable({
            dom: "Bfrtip",
            buttons: [
                { extend: "csv", text: "@Strings.getMSG("CSV")" },
                { extend: "excel", text: "@Strings.getMSG("Excel")" },
                { extend: "pdf", text: "@Strings.getMSG("PDF")" },
                { extend: "print", text: "@Strings.getMSG("Imprimir")" }
            ],

            responsive: true,
            paginate: false,
            pagingType: "full_numbers",
            lengthChange: true,
            lengthMenu: [[10, 25, 50, -1], [10, 25, 50, "Todos"]],
            columnDefs: [
                { orderable: false, targets: -1 }
            ],
            language: {
                emptyTable: "Sin resultados para los criterios de consulta",
                info: "Registros _START_ al _END_ de _TOTAL_",
                infoEmpty: "Sin resultados que mostrar",
                infoFiltered: "(filtrados de un total de _MAX_)",
                search: "Buscar",
                zeroRecords: "Ning&uacute;n dato encontrado",
                paginate: {
                    first: "<<",
                    next: ">",
                    last: ">>",
                    previous: "<"
                },
                lengthMenu: "Mostrar _MENU_ registros"
            }
        });


        table1.columns().every(function () {
            var that = this;
            $('input', this.header()).on('keyup change', function () {
                if (that.search() !== this.value) {
                    that
                        .search(this.value)
                        .draw();
                }
            });
        });
    }
</script>

@if (ViewBag.error == null)
{
    <table id="results1" class="table table-striped table-bordered table-hover">
        <thead>
            <tr>
                <th class="search" rowspan="2">@Strings.getMSG("Entidad")</th>
                <th class="search" rowspan="2">@Strings.getMSG("ReporteEstructuraIndex001")</th>
                <th class="search" rowspan="2">@Strings.getMSG("MP")</th>
                <th class="search" rowspan="2">@Strings.getMSG("ReporteEstructuraIndex002")</th>
                <th class="search" rowspan="2">@Strings.getMSG("P")</th>
                <th class="search" rowspan="2">@Strings.getMSG("ReporteEstructuraIndex003")</th>
                <th class="search" rowspan="2">@Strings.getMSG("SP")</th>
                <th class="search" rowspan="2">@Strings.getMSG("RiesgoCreate037")</th>
                <th class="search" rowspan="2">@Strings.getMSG("ReporteCosteoIndex002")</th>
                @foreach (var item in Model.nb_actividades)
                {
                    cols += 2;
                    <th colspan="2"><center>@item.ToString()</center></th>
                }
                <th rowspan="2">@Strings.getMSG("ReporteCosteoIndex003")</th>
            </tr>
            <tr>
                @foreach (var item in Model.nb_actividades)
                {
                    <th>@Strings.getMSG("CosteoIndex004")</th>
                    <th>@Strings.getMSG("RiesgoResidualConfigIndex020")</th>
                }
            </tr>
        </thead>
        <tbody>
            @foreach (var us in Model.participantes)
            {
                <tr>
                    <td>@us.cbn_entidad</td>
                    <td>@us.resp_entidad</td>
                    <td>@us.cbn_macro_proceso</td>
                    <td>@us.resp_macro_proceso</td>
                    <td>@us.cbn_proceso</td>
                    <td>@us.resp_proceso</td>
                    <td>@us.cbn_sub_proceso</td>
                    <td>@us.resp_sub_proceso</td>
                    <td>@us.nb_participante</td>
                    @foreach (var vc in us.varcos)
                    {
                        <td>@((vc.tiempo_invertido.Split(new char[] { ' ' })[0]).Replace(",", "."))</td>
                        <td>@(vc.porcentaje.Replace(",", "."))</td>
                    }
                    <td>@us.tiempo_total</td>
                </tr>
            }
            @if (ViewBag.ustat == "filtered")
            {
                <tr>
                    @for (int i = 1; i < cols; i++)
                    {
                        <td></td>
                    }
                    <td>@Strings.getMSG("RiesgoResidualConfigIndex026")</td>
                    <td>@(tiempoTotal)</td>
                </tr>
            }

        </tbody>
    </table>

}